{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Horizontal Divider</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Exercitationem veniam consectetur accusantium
                            voluptatibus ducimus provident dolor similique non,
                            autem odio architecto aspernatur, quam debitis eius
                            nostrum aliquid iusto qui rem?
                        </p>
                        <div class="divider u-mtb15"><span>Horizontal Divider</span></div>
                        <p>
                            Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Nullam id
                            dolor id nibh ultricies vehicula ut id elit. Nulla
                            vitae elit libero, a pharetra augue.
                        </p>
                        <div class="u-mb-15"></div>
                        {% markdown %}
                        ```html
                        <div class="divider"><span>Horizontal Divider</span></div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Vertical Divider</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="divider divider--y"><span>Vertical Divider</span></div>
                        <div class="u-mb-15"></div>
                        {% markdown %}
                        By adding `.divider--y` modifier class to change the direction of divider.

                        ```html
                        <div class="divider divider--y"><span>Vertical Divider</span></div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
