{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Types</h3>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <progress class="progress" value="0.5"></progress>
                            <progress class="progress progress--primary" value="0.3"></progress>
                            <progress class="progress progress--info" value="0.45"></progress>
                            <progress class="progress progress--danger" value="0.6"></progress>
                            <progress class="progress progress--warning" value="0.8"></progress>
                        </div>
                        {% markdown %}
                        Navtive HTML `progress` bar with five predefined styles.

                        ```html
                        <progress class="progress" value="0.5"></progress>
                        <progress class="progress progress--primary" value="0.3"></progress>
                        <progress class="progress progress--info" value="0.45"></progress>
                        <progress class="progress progress--danger" value="0.6"></progress>
                        <progress class="progress progress--warning" value="0.8"></progress>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Sizes</h3>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <progress class="progress progress--sm" value="0.15"></progress>
                            <progress class="progress" value="0.3"></progress>
                            <progress class="progress progress--lg" value="0.6"></progress>
                        </div>
                        {% markdown %}
                        Fancy smaller or larger progress? Add `.progress--sm` or `.progress--lg` modifier
                        class for additional sizes.

                        ```html
                        <progress class="progress progress--sm" value="0.15"></progress>
                        <progress class="progress" value="0.3"></progress>
                        <progress class="progress progress--lg" value="0.6"></progress>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
