{% set root = '../../' %}

{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row is-center">
            <div class="l-col-6@xl l-col-8@lg l-col-10@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h1 class="c-panel__title">Cruz Oneal</h1>
                        <div class="c-panel__controls">
                            <span class="meta">Registered: 2017-03-28 13:16</span>
                        </div>
                    </header>
                    <div class="c-panel__body">
                        <div class="form-group u-textCenter">
                            <label class="form-label">Avatar</label>
                            <div class="form-control">
                                <img src="{{root}}assets/images/avatar.jpg" class="avatar avatar--xl img-rounded">
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Gender</label>
                            <label class="form-radio">
                                <input type="radio" name="gender" checked>
                                <span class="form-radio__indicator"></span>
                                <span class="form-radio__text">Male</span>
                            </label>
                            <label class="form-radio">
                                <input type="radio" name="gender">
                                <span class="form-radio__indicator"></span>
                                <span class="form-radio__text">Female</span>
                            </label>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Age</label>
                            <input type="number" class="form-input" value="25">
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-input" value="cruzoneal@comtext.biz">
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Phone</label>
                            <input type="text" class="form-input" value="+1 (844) 579-2977">
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <textarea rows="2" class="form-textarea">166 Brightwater Court, Lund, Kentucky, 101</textarea>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">About</label>
                            <textarea rows="3" class="form-textarea">Eiusmod eiusmod eu irure tempor consectetur sint sunt nisi sit. Aliquip nulla magna amet nisi elit enim incididunt quis irure incididunt consectetur exercitation in sunt. Minim do nisi velit officia ad eiusmod cillum esse irure exercitation officia ea. Commodo ipsum do officia labore officia fugiat deserunt ea.
                            </textarea>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Company</label>
                            <input type="text" class="form-input" value="COMTEXT">
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Actived</label>
                            <label class="form-checkbox">
                                <input type="checkbox">
                                <span class="form-checkbox__indicator"></span>
                                <span class="form-checkbox__text">Yes</span>
                            </label>
                        </div>
                        <!-- END .form-group -->
                    </div>
                    <footer class="c-panel__footer u-textCenter">
                        <button class="btn btn--primary btn--smart">Update</button>
                    </footer>
                </section>
            </div>
        </div>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
