{% set root = '../../' %}

{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-toolbar u-mb-0">
                <div class="c-toolbar__group">
                    <div class="l-level">
                        <div class="l-level__left">
                            <div class="c-cell">
                                <div class="c-cell__media">
                                    <i class="icon-users"></i>
                                </div>
                                <div class="c-cell__content">
                                    <h1 class="c-toolbar__title">Users</h1>
                                </div>
                            </div>
                            <!-- END .l-media -->
                        </div>
                        <!-- END .l-level__left -->
                        <div class="l-level__right">
                            <a href="{{root}}apps/users/edit.html" class="btn btn--success btn--smart">
                                <i class="icon-plus-circle u-mr-5"></i>New User
                            </a>
                        </div>
                        <!-- END .l-level__right -->
                    </div>
                    <!-- END .l-level -->
                </div>
                <!-- END .c-toolbar__group -->
                <div class="c-toolbar__group">
                    <div class="l-level">
                        <div class="l-level__left">
                            <div class="l-level__item u-hiddenDown@md">
                                <ul class="c-nav c-nav--pills">
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link is-active">All (32)</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Publish (16)</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Pendding (12)</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Draft (4)</a>
                                    </li>
                                </ul>
                            </div>
                            <drop class="l-level__item u-hiddenUp@lg">
                                <a role="button" class="btn btn--default" slot="trigger">Menu</a>
                                <drop-content slot="content">
                                    <ul class="c-nav c-nav--menus">
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">All (32)</a>
                                        </li>
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">Publish (16)</a>
                                        </li>
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">Pendding (12)</a>
                                        </li>
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">Draft (4)</a>
                                        </li>
                                    </ul>
                                </drop-content>
                            </drop>
                        </div>
                        <!-- END .l-level__left -->
                        <div class="l-level__right">
                            <div class="l-level__item">
                                <form action="#" class="form-inline">
                                    <div class="form-group">
                                        <div class="form-control has-icon">
                                            <i class="form-icon icon-search u-ml-5"></i>
                                            <input type="text" class="form-input form-input--rounded">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- END .l-level__item -->
                        </div>
                        <!-- END .l-level__right -->
                    </div>
                    <!-- END .l-level -->
                </div>
                <!-- END .c-toolbar__group -->
            </header>
            <!-- END .c-toolbar -->
            <table class="table table--data table--hover">
                <thead>
                    <tr>
                        <th class="u-hiddenDown@md">ID</th>
                        <th>
                            <a role="button">
                                Name<i class="i-sort is-down"></i>
                            </a>
                        </th>
                        <th>Gender</th>
                        <th>Age<i class="i-sort"></i></th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th class="u-textCenter">Status</th>
                        <th class="u-textRight">
                            <a role="button">
                                Registered<i class="i-sort"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="u-hiddenDown@md">ID</th>
                        <th>
                            <a role="button">
                                Name<i class="i-sort is-down"></i>
                            </a>
                        </th>
                        <th>Gender</th>
                        <th>Age<i class="i-sort"></i></th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th class="u-textCenter">Status</th>
                        <th class="u-textRight">
                            <a role="button">
                                Registered<i class="i-sort"></i>
                            </a>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td data-label="ID" class="u-hiddenDown@md">{{user._id}}</td>
                        <td data-label="Name">
                            <a href="edit.html">{{user.name}}</a>
                        </td>
                        <td data-label="Gender">{{user.gender}}</td>
                        <td data-label="Age">{{user.age}}</td>
                        <td data-label="Phone">{{user.phone}}</td>
                        <td data-label="Email">{{user.email}}</td>
                        <td data-label="Company">{{user.company}}</td>
                        <td data-label="Status" class="u-textCenter">
                            {% if user.is_active %}
                            <span class="badge badge--success">Actived</span>
                            {% else %}
                            <span class="badge badge--default">Unactived</span>
                            {% endif %}
                        </td>
                        <td data-label="Date" class="u-textRight">
                            <time class="u-fs-12 u-textMuted">{{user.registered}}</time>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="c-toolbar u-mb-0">
                <div class="l-level">
                    <div class="l-level__left">
                        <div class="l-level__item">
                            <form action="#" class="form-inline">
                                <div class="form-group">
                                    <div class="form-flex">
                                        <select class="form-select">
                                            <option>-- Bulk Action --</option>
                                            <option value="publish">Publish</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <button type="button" class="form-addon btn btn--info">Apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="l-level__right">
                        <div class="l-level__item">
                            <nav class="c-pagination c-pagination--bordered">
                                <span class="c-pagination__item is-disabled">Previous</span>
                                <em class="c-pagination__item is-active">1</em>
                                <a href="#" class="c-pagination__item">2</a>
                                <a href="#" class="c-pagination__item">3</a>
                                <a href="#" class="c-pagination__item">4</a>
                                <a href="#" class="c-pagination__item">5</a>
                                <span class="c-pagination__item is-disabled">...</span>
                                <a href="#" class="c-pagination__item">99</a>
                                <a href="#" class="c-pagination__item">100</a>
                                <a href="#" class="c-pagination__item">Next</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
