.u-linkBlock {
  &,
  &:hover,
  &:focus,
  &:active {
    display: block !important;
    text-decoration: none !important;
  }
}

.u-linkClean {
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
  }
}

.u-linkInherit {
  color: inherit !important;
}
