.c-content {
  h1 {
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.2;
  }

  h2 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 8px 0;
  }

  h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 6px 0;
  }

  h4 {
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.2;
    margin: 0 0 4px 0;
  }

  h5 {
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.2;
    margin: 0 0 2px 0;
  }

  h6 {
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.2;
    margin: 0;
  }

  p {
    margin-bottom: 16px;
  }
  
}
