// .c-sign
//   .c-sign__header
//   .c-sign__body
//     .c-sign__title
//     .c-sign__text
//   .c-sign__footer

// block
.c-sign {
  position: relative;
  width: $sign-width;
}

.c-sign__header {
  text-align: center;
  margin-bottom: $space-stack-l;
}

.c-sign__body {
  margin-top: $space-stack-base;
  margin-bottom: $space-stack-base;
  padding: $sign-padding;
  background-color: $sign-bg;
}

.c-sign__footer {
  margin-top: $space-stack-base;
}

.c-sign__title {
  margin: 0 0 $space-stack-s 0;
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
}

.c-sign__text {
  color: $muted-color;
  text-align: center;
}
