// .c-tabs
//  .c-tabs__content
//    .c-tabs__pane

// block
.c-tabs {
  position: relative;
}

.c-tabs__content {

}

.c-tabs__pane {
  display: none;

  &.is-active {
    display: block;
  }
}

// modifiers
.c-tabs--cards {
  > .c-nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    > .c-nav__item {
      &:not(:last-child) {
        margin-right: $nav-tabs-item-margin-x;
      }
      > .c-nav__link {
        color: $nav-tabs-link-color;
        padding: $nav-tabs-link-padding-lg-y $nav-tabs-link-padding-lg-x;
        &:hover {
          color: $nav-tabs-link-hover-color;
        }
        &.is-active {
          color: $nav-tabs-link-active-color;
          background-color: $nav-tabs-link-active-bg;
        }
      }
    }
  }

  > .c-tabs__content > .c-tabs__pane {
    padding: $tabs-pane-padding;
    background-color: $tabs-pane-bg;
  }
}
