{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">Alertify</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6@md">
                        <div class="form-group">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-input" v-model="title">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Text</label>
                            <textarea rows="2" class="form-textarea" v-model="text"></textarea>
                        </div>
                        <div class="l-row">
                            <div class="l-col-4@sm">
                                <div class="form-group">
                                    <label class="form-label">Type</label>
                                    <select class="form-select" v-model="type">
                                        <option value="">none</option>
                                        <option value="success">success</option>
                                        <option value="danger">danger</option>
                                        <option value="warn">warning</option>
                                    </select>
                                </div>
                            </div>
                            <div class="l-col-4@sm">
                                <div class="form-group">
                                    <label class="form-label">Confirm Button</label>
                                    <input type="text" class="form-input" v-model="confirmText">
                                    <label class="form-checkbox u-mt-5">
                                        <input type="checkbox" v-model="showConfirm">
                                        <span class="form-checkbox__indicator"></span>
                                        <span class="form-checkbox__text"> Show confirm button?</span>
                                    </label>
                                </div>
                            </div>
                            <div class="l-col-4@sm">
                                <div class="form-group">
                                    <label class="form-label">Cancel Button</label>
                                    <input type="text" class="form-input" v-model="cancelText">
                                    <label class="form-checkbox u-mt-5">
                                        <input type="checkbox" v-model="showCancel">
                                        <span class="form-checkbox__indicator"></span>
                                        <span class="form-checkbox__text"> Show cancel button?</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn--primary btn--smart" v-on:click="alert">Try It</button>
                    </div>
                    <!-- END .l-col-6@md -->
                    <div class="l-col-6@md">
                        <p>
                            A cool Vue version replacement for javascript's <strong>alert</strong>
                        </p>
                        {% markdown %}
                        ```html
                        <script>
                            new Vue({
                                el: '#app',
                                methods: {
                                    alert () {
                                        this.$alertify({
                                            title: 'Are you sure?',
                                            text: 'Lorem ipsum dolor sit amet.',
                                            type: 'warning',
                                            showConfirm: true,
                                            showCancel: true,
                                            confirmText: 'Delete',
                                            cancelText: 'Cancel'
                                        })
                                    }
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-6@md -->
                </div>
                <!-- END .l-row -->
            </div>
            <!-- END .c-panel__body -->
        </section>
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Options</h2>
            </header>
            <div class="c-panel__body">
                <table class="table table--bordered table--responsive">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Default</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Property">title</td>
                            <td data-label="Description">
                                The title of alert
                            </td>
                            <td data-label="Type">
                                string
                            </td>
                            <td data-label="Default">—</td>
                        </tr>
                        <tr>
                            <td data-label="Property">text</td>
                            <td data-label="Description">the content of alert</td>
                            <td data-label="Type">string</td>
                            <td data-label="Default">—</td>
                        </tr>
                        <tr>
                            <td data-label="Property">showConfirm</td>
                            <td data-label="Description">Whether to show confirm button</td>
                            <td data-label="Type">boolean</td>
                            <td data-label="Default">true</td>
                        </tr>
                        <tr>
                            <td>showCancel</td>
                            <td data-label="Description">Whether to show cancel button</td>
                            <td data-label="Type">boolean</td>
                            <td data-label="Default">false</td>
                        </tr>
                        <tr>
                            <td data-label="Property">confirmText</td>
                            <td data-label="Description">the confirm button text.</td>
                            <td data-label="Type">string</td>
                            <td data-label="Default">Confirm</td>
                        </tr>
                        <tr>
                            <td data-label="Property">cancelText</td>
                            <td data-label="Description">the cancel button text.</td>
                            <td data-label="Type">string</td>
                            <td data-label="Default">Cancel</td>
                        </tr>
                        <tr>
                            <td data-label="Property">onConfirm</td>
                            <td data-label="Description">
                                the callback function when user click confirm button.
                                If you <code>return false</code>, it will stop closing the window.
                            </td>
                            <td data-label="Type">function</td>
                            <td data-label="Default">—</td>
                        </tr>
                        <tr>
                            <td data-label="Property">onCancel</td>
                            <td data-label="Description">
                                the callback function when user click cancel button.
                                If you <code>return false</code>, it will stop closing the window.
                            </td>
                            <td data-label="Type">function</td>
                            <td data-label="Default">—</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</div>
{% endblock %}

{% block scripts %}
<script>
    new Vue({
        el: '#app',
        data: {
            title: 'Good job!',
            text: 'Now, you know this badass service!',
            type: '',
            showConfirm: true,
            showCancel: false,
            confirmText: 'Confirm',
            cancelText: 'Cancel'
        },
        methods: {
            alert: function () {
                this.$alertify({
                    title: this.title,
                    text: this.text,
                    type: this.type,
                    showConfirm: this.showConfirm,
                    showCancel: this.showCancel,
                    confirmText: this.confirmText,
                    cancelText: this.cancelText
                })
            }
        }
    })
</script>
{% endblock %}
