{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="c-alert c-alert--danger">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, fugit!
        </div>
        <!-- END .c-alert -->
        <div class="u-p-10 u-bg-white">
            {% markdown %}
            ```html
            <div class="c-alert c-alert--danger">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, fugit!
            </div>
            ```
            You can add one of those modifier classes to change it style: `.c-alert--primary`, `.c-alert--info`, `.c-alert--danger`, `.c-alert--success`, `.c-alert--warning`
            {% endmarkdown %}
        </div>
        <hr>
        <alert :closeable="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
        </alert>
        <alert type="primary" :closeable="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
        </alert>
        <alert type="info" :closeable="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
        </alert>
        <alert type="success" :closeable="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
        </alert>
        <alert type="danger" :closeable="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
        </alert>
        <alert type="warning" :closeable="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
        </alert>
        <div class="u-p-10 u-bg-white">
            {% markdown %}
            ```html
            <alert :closeable="true">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
            </alert>
            <alert type="primary" :closeable="true">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
            </alert>
            <alert type="info" :closeable="true">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
            </alert>
            <alert type="success" :closeable="true">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
            </alert>
            <alert type="danger" :closeable="true">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
            </alert>
            <alert type="warning" :closeable="true">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, eius.
            </alert>
            ```
            Alert has it Vue.js version.
            {% endmarkdown %}
        </div>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
