{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">Breadcrumb</h1>
            </header>
            <div class="c-panel__body">
                <div class="u-mb-15">
                    <ol class="c-breadcrumb">
                        <li class="c-breadcrumb__item">
                            <a href="#" class="c-breadcrumb__link">Home</a>
                        </li>
                        <li class="c-breadcrumb__item">
                            <a href="#" class="c-breadcrumb__link">Library</a>
                        </li>
                        <li class="c-breadcrumb__item">Data</li>
                    </ol>
                </div>
                {% markdown %}
                ```html
                <ol class="c-breadcrumb">
                    <li class="c-breadcrumb__item">
                        <a href="#" class="c-breadcrumb__link">Home</a>
                    </li>
                    <li class="c-breadcrumb__item">
                        <a href="#" class="c-breadcrumb__link">Library</a>
                    </li>
                    <li class="c-breadcrumb__item">Data</li>
                </ol>
                ```
                {% endmarkdown %}
            </div>
        </section>
    </main>
</div>
{% endblock %}
