{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Basic</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-3@xl l-col-4@lg l-col-6@md">
                        <div class="c-cell u-mb-15">
                            <div class="c-cell__media">
                                <img src="{{root}}assets/images/avatar-m-3.jpg" class="avatar u-rounded">
                            </div>
                            <!-- END .c-cell__media -->
                            <div class="c-cell__content">
                                Boyle Monroe
                            </div>
                            <!-- END .c-cell__body -->
                            <div class="c-cell__after">
                                QUANTALIA
                            </div>
                            <!-- END .c-cell__after -->
                        </div>
                        <!-- END .c-cell -->
                    </div>
                    <!-- END .l-col-3@xl -->
                    <div class="l-col-9@xl l-col-8@lg l-col-6@md">
                        {% markdown %}
                        ```html
                        <div class="c-cell">
                            <div class="c-cell__media">
                                <img src="assets/images/avatar-m-3.jpg" class="avatar u-rounded">
                            </div>
                            <div class="c-cell__content">
                                Boyle Monroe
                            </div>
                            <div class="c-cell__after">
                                QUANTALIA
                            </div>
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-9@xl -->
                </div>
            </div>
        </section>

        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Message</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-3@xl l-col-4@lg l-col-6@md">
                        <div class="c-cell c-cell--start u-mb-15">
                            <div class="c-cell__media">
                                <img src="{{root}}assets/images/avatar-f-1.jpg" class="avatar avatar--lg">
                            </div>
                            <!-- END .c-cell__media -->
                            <div class="c-cell__content">
                                <div class="c-cell__header">
                                    <div class="c-cell__leading">
                                        <div class="c-cell__title">Taylor Swift</div>
                                    </div>
                                    <div class="c-cell__after">17:14</div>
                                </div>
                                <div class="c-cell__body">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Vero voluptatum dolor
                                    iusto voluptate, error incidunt.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END .l-col-3@xl -->
                    <div class="l-col-9@xl l-col-8@lg l-col-6@md">
                        {% markdown %}
                        ```html
                        <div class="c-cell c-cell--start">
                            <div class="c-cell__media">
                                <img src="assets/images/avatar-f-1.jpg" class="avatar avatar--lg">
                            </div>
                            <!-- END .c-cell__media -->
                            <div class="c-cell__content">
                                <div class="c-cell__header">
                                    <div class="c-cell__leading">
                                        <div class="c-cell__title">Taylor Swift</div>
                                    </div>
                                    <div class="c-cell__after">17:14</div>
                                </div>
                                <div class="c-cell__body">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Vero voluptatum dolor
                                    iusto voluptate, error incidunt.
                                </div>
                            </div>
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-9@xl -->
                </div>
            </div>
        </section>

        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Tweet</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-3@xl l-col-4@lg l-col-6@md">
                        <div class="c-cell u-mb-15">
                            <div class="c-cell__content">
                                <div class="c-cell__header u-mb-5">
                                    <div class="c-cell__leading">
                                        <div class="c-account">
                                            <div class="c-account__media">
                                                <img src="{{root}}assets/images/avatar.jpg" class="avatar">
                                            </div>
                                            <div class="c-account__content">
                                                <div class="c-account__title">Lewis Liu</div>
                                                <div class="c-account__meta">@moyu</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-cell__after">
                                        <button class="btn btn--sm btn--info btn--outline">Follow</button>
                                    </div>
                                </div>
                                <div class="c-cell__body">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Vero ea magnam corporis
                                    nisi officiis eum cum deleniti rem aperiam,
                                    quos.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END .l-col-3@xl -->
                    <div class="l-col-9@xl l-col-8@lg l-col-6@md">
                        {% markdown %}
                        ```html
                        <div class="c-cell">
                            <div class="c-cell__content">
                                <div class="c-cell__header u-mb-5">
                                    <div class="c-cell__leading">
                                        <div class="c-account">
                                            <div class="c-account__media">
                                                <img src="assets/images/avatar.jpg" class="avatar">
                                            </div>
                                            <div class="c-account__content">
                                                <div class="c-account__title">Lewis Liu</div>
                                                <div class="c-account__meta">@moyu</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-cell__after">
                                        <button class="btn btn--sm btn--info btn--outline">Follow</button>
                                    </div>
                                </div>
                                <div class="c-cell__body">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Vero ea magnam corporis
                                    nisi officiis eum cum deleniti rem aperiam,
                                    quos.
                                </div>
                            </div>
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-9@xl -->
                </div>
            </div>
        </section>

        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">List</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-3@xl l-col-4@lg l-col-6@md">
                        <ul class="c-list u-mb-15">
                            <li class="c-list__item">
                                <div class="c-cell c-cell--start">
                                    <div class="c-cell__media">
                                        <span class="badge"></span>
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        <div class="c-cell__header">
                                            <div class="c-cell__leading">
                                                <div class="c-cell__title">Facebook</div>
                                            </div>
                                            <div class="c-cell__after">17:22</div>
                                        </div>
                                        <div class="c-cell__body">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Vero voluptatum dolor
                                            iusto voluptate, error incidunt.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="c-list__item">
                                <div class="c-cell c-cell--start">
                                    <div class="c-cell__media">
                                        <span class="badge badge--info"></span>
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        <div class="c-cell__header">
                                            <div class="c-cell__leading">
                                                <div class="c-cell__title">John Doe</div>
                                            </div>
                                            <div class="c-cell__after">14:31</div>
                                        </div>
                                        <div class="c-cell__body">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Vero voluptatum dolor
                                            iusto voluptate, error incidunt.
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END .l-col-3@xl -->
                    <div class="l-col-9@xl l-col-8@lg l-col-6@md">
                        {% markdown %}
                        ```html
                        <ul class="c-list">
                            <li class="c-list__item">
                                <div class="c-cell c-cell--start">
                                    <div class="c-cell__media">
                                        <span class="badge"></span>
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        <div class="c-cell__header">
                                            <div class="c-cell__leading">
                                                <div class="c-cell__title">Facebook</div>
                                            </div>
                                            <div class="c-cell__after">17:22</div>
                                        </div>
                                        <div class="c-cell__body">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Vero voluptatum dolor
                                            iusto voluptate, error incidunt.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            ...
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-9@xl -->
                </div>
            </div>
        </section>
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Chat</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6@lg">
                        <ul class="c-cellList">
                            <li class="c-cell c-cell--start u-hover">
                                <div class="c-cell__media">
                                    <img src="{{root}}assets/images/avatar-m-1.jpg" class="avatar u-rounded">
                                </div>
                                <div class="c-cell__content">
                                    <div class="c-cell__header">
                                        <div class="c-cell__leading">
                                            <div class="c-cell__title">Taylor Swift</div>
                                            <time class="meta">17:14</time>
                                        </div>
                                        <div class="c-cell__after u-hover__target">
                                            <i class="icon-star-full2"></i>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        <p>
                                            Lorem ipsum dolor sit amet
                                        </p>
                                        <p><a href="#">https://twitter.com/lorem</a></p>
                                        <blockquote>
                                            <div class="c-cell c-cell--start">
                                                <div class="c-cell__content">
                                                    <div class="c-cell__header">
                                                        <div class="c-cell__leading">
                                                            <div class="c-cell__title">John Doe</div>
                                                            <time class="meta">14:31</time>
                                                        </div>
                                                        <div class="c-cell__after"></div>
                                                    </div>
                                                    <div class="c-cell__body">
                                                        Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing
                                                        elit. Iusto, ipsam!
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                            <li class="c-cell c-cell--start u-hover">
                                <div class="c-cell__media">
                                    <img src="{{root}}assets/images/avatar-m-2.jpg" class="avatar u-rounded">
                                </div>
                                <div class="c-cell__content">
                                    <div class="c-cell__header">
                                        <div class="c-cell__leading">
                                            <div class="c-cell__title">myles</div>
                                            <time class="meta">17:30</time>
                                        </div>
                                        <div class="c-cell__after u-hover__target">
                                            <i class="icon-star-full2"></i>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Aspernatur excepturi
                                        nesciunt inventore quibusdam, laboriosam
                                        amet.
                                    </div>
                                </div>
                            </li>
                            <li class="c-cell c-cell--start u-hover">
                                <div class="c-cell__media">
                                    <img src="{{root}}assets/images/avatar-m-3.jpg" class="avatar u-rounded">
                                </div>
                                <div class="c-cell__content">
                                    <div class="c-cell__header">
                                        <div class="c-cell__leading">
                                            <div class="c-cell__title">bugbot</div>
                                            <time class="meta">17:35</time>
                                        </div>
                                        <div class="c-cell__after u-hover__target">
                                            <i class="icon-star-full2"></i>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        <p>
                                            <a href="#">BUG #9358</a>
                                        </p>
                                        <blockquote>
                                            <label class="form-label u-bolder">Title</label>
                                            <p>Lorem ipsum dolor sit amet.</p>
                                            <div class="l-row">
                                                <div class="l-col-6@sm">
                                                    <label class="form-label u-bolder">Type</label>
                                                    <p>defect(bug)</p>
                                                </div>
                                                <div class="l-col-6@sm">
                                                    <label class="form-label u-bolder">Status</label>
                                                    <span class="badge badge--warning">Open</span>
                                                </div>
                                            </div>
                                            <div class="l-row">
                                                <div class="l-col-6@sm">
                                                    <label class="form-label u-bolder">Creator</label>
                                                    <p>mack</p>
                                                </div>
                                                <div class="l-col-6@sm">
                                                    <label class="form-label u-bolder">Priority</label>
                                                    <p>normal</p>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                            <li class="c-cell c-cell--start u-hover">
                                <div class="c-cell__media">
                                    <img src="{{root}}assets/images/avatar-m-4.jpg" class="avatar u-rounded">
                                </div>
                                <div class="c-cell__content">
                                    <div class="c-cell__header">
                                        <div class="c-cell__leading">
                                            <div class="c-cell__title">eric</div>
                                            <time class="meta">17:50</time>
                                        </div>
                                        <div class="c-cell__after u-hover__target">
                                            <i class="icon-star-full2"></i>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        <p>
                                            <a href="#">@mack</a>, Lorem ipsum
                                            dolor sit amet, consectetur
                                            adipisicing elit. Sapiente,
                                            quisquam, laboriosam. Et tempore ut
                                            architecto. Blanditiis eveniet
                                            dolorem praesentium doloremque.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- END .c-cellList -->
                        <div class="form-flex u-mt-30">
                            <span class="form-addon"><i class="i-plus"></i></span>
                            <input type="text" class="form-input">
                        </div>
                    </div>
                    <!-- END .l-col-6@lg -->
                    <div class="l-col-6@lg">
                        {% markdown %}
                        ```html
                        <ul class="c-cellList">
                            <li class="c-cell c-cell--start u-hover">
                                <div class="c-cell__media">
                                    <img src="assets/images/avatar-m-1.jpg" class="avatar u-rounded">
                                </div>
                                <div class="c-cell__content">
                                    <div class="c-cell__header">
                                        <div class="c-cell__leading">
                                            <div class="c-cell__title">Taylor Swift</div>
                                            <time class="meta">17:14</time>
                                        </div>
                                        <div class="c-cell__after u-hover__target">
                                            <i class="icon-star-full2"></i>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        <p>
                                            Lorem ipsum dolor sit amet
                                        </p>
                                        <p><a href="#">https://twitter.com/lorem</a></p>
                                        <blockquote>
                                            <div class="c-cell c-cell--start">
                                                <div class="c-cell__content">
                                                    <div class="c-cell__header">
                                                        <div class="c-cell__leading">
                                                            <div class="c-cell__title">John Doe</div>
                                                            <time class="meta">14:31</time>
                                                        </div>
                                                        <div class="c-cell__after"></div>
                                                    </div>
                                                    <div class="c-cell__body">
                                                        Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing
                                                        elit. Iusto, ipsam!
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                            ...
                        </ul>
                        <div class="form-flex u-mt-30">
                            <span class="form-addon"><i class="i-plus"></i></span>
                            <input type="text" class="form-input">
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-6@lg -->
                </div>
                <!-- END .l-row -->
            </div>
        </section>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
