{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">Circle Chart</h1>
            </header>
            <div class="c-panel__body">
                <div class="l-row u-textCenter is-middle u-mb-15">
                    <div class="l-col-6 l-col-3@md">
                        <circle-chart :percent="80" color="info">
                            <span class="u-fs-16">80%</span>
                        </circle-chart>
                    </div>
                    <!-- END .l-col-6 -->
                    <div class="l-col-6 l-col-3@md">
                        <circle-chart :percent="100" color="success" :size="150">
                            <i class="icon-checkmark u-color-success u-fs-48"></i>
                        </circle-chart>
                    </div>
                    <!-- END .l-col-6 -->
                    <div class="l-col-6 l-col-3@md">
                        <circle-chart :percent="56" color="warning">
                            <span class="u-fs-16">56</span>
                        </circle-chart>
                    </div>
                    <!-- END .l-col-6 -->
                    <div class="l-col-6 l-col-3@md">
                        <circle-chart :percent="50" color="danger">
                            <i class="icon-cross u-color-danger"></i>
                        </circle-chart>
                    </div>
                    <!-- END .l-col-6 -->
                </div>
                <!-- END .l-row -->
                {% markdown %}
                ```html
                <circle-chart :percent="80" color="info">
                    <span class="u-fs-16">80%</span>
                </circle-chart>

                <circle-chart :percent="100" color="success" :size="150">
                    <i class="icon-checkmark u-color-success u-fs-48"></i>
                </circle-chart>

                <circle-chart :percent="56" color="warning">
                    <span class="u-fs-16">56</span>
                </circle-chart>

                <circle-chart :percent="50" color="danger">
                    <i class="icon-cross u-color-danger"></i>
                </circle-chart>
                ```
                {% endmarkdown %}
                <table class="table table--bordered table--responsive">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Default</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Property">percent</td>
                            <td data-label="Description">
                                percentage: 0-100
                            </td>
                            <td data-label="Type">
                                number
                            </td>
                            <td data-label="Default">0</td>
                        </tr>
                        <tr>
                            <td data-label="Property">size</td>
                            <td data-label="Description">
                                The width & height of chart in pixel
                            </td>
                            <td data-label="Type">
                                number
                            </td>
                            <td data-label="Default">75</td>
                        </tr>
                        <tr>
                            <td data-label="Property">color</td>
                            <td data-label="Description">
                                The front color of progress bar: <code>info</code>, <code>danger</code>, <code>warning</code>, <code>success</code> or hex color string.
                            </td>
                            <td data-label="Type">
                                string
                            </td>
                            <td data-label="Default">#1BB934</td>
                        </tr>
                        <tr>
                            <td data-label="Property">bg</td>
                            <td data-label="Description">
                                The background color of progress bar
                            </td>
                            <td data-label="Type">
                                string
                            </td>
                            <td data-label="Default">#e5e5e5</td>
                        </tr>
                        <tr>
                            <td data-label="Property">line-width</td>
                            <td data-label="Description">
                                The width of progress bar
                            </td>
                            <td data-label="Type">
                                number
                            </td>
                            <td data-label="Default">6</td>
                        </tr>
                        <tr>
                            <td data-label="Property">line-cap</td>
                            <td data-label="Description">
                                The cap tyof of progress bar: <code>round</code>, <code>square</code>
                            </td>
                            <td data-label="Type">
                                string
                            </td>
                            <td data-label="Default">round</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
