{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Basic</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            List component provide basic styled list, but it also can be extended to display complex content.
                        </p>
                        <ul class="c-list">
                			<li class="c-list__item">1.Active</li>
                			<li class="c-list__item">2. Dapibus ac facilisis in</li>
                			<li class="c-list__item">3. Morbi leo risus</li>
                			<li class="c-list__item is-disabled">4. Disabled</li>
                			<li class="c-list__item">5. Vestibulum at eros</li>
                		</ul>
                        {% markdown %}
                        ```html
                        <ul class="c-list">
                			<li class="c-list__item">1.Active</li>
                			<li class="c-list__item">2. Dapibus ac facilisis in</li>
                			<li class="c-list__item">3. Morbi leo risus</li>
                			<li class="c-list__item is-disabled">4. Disabled</li>
                			<li class="c-list__item">5. Vestibulum at eros</li>
                		</ul>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Inset</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            By adding the <code>.c-list--inset</code> modifier
                            class on <code>.c-list</code> container to create a
                            inset list, so you can use it as inner content of
                            other components.
                        </p>
                        <ul class="c-list c-list--inset">
                            <li class="c-list__item">1. Active</li>
                            <li class="c-list__item">2. Dapibus ac facilisis in</li>
                            <li class="c-list__item">3. Morbi leo risus</li>
                            <li class="c-list__item is-disabled">4. Disabled</li>
                            <li class="c-list__item">5. Vestibulum at eros</li>
                        </ul>
                        {% markdown %}
                        ```html
                        <ul class="c-list c-list--inset">
                            <li class="c-list__item">1. Active</li>
                            <li class="c-list__item">2. Dapibus ac facilisis in</li>
                            <li class="c-list__item">3. Morbi leo risus</li>
                            <li class="c-list__item is-disabled">4. Disabled</li>
                            <li class="c-list__item">5. Vestibulum at eros</li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Bordered</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            By adding the <code>.c-list--bordered</code>
                            modifier class on <code>.c-list</code> container,
                            you can easily create a borderd list style.
                        </p>
                        <ul class="c-list c-list--bordered">
                            <li class="c-list__item">1. Active</li>
                            <li class="c-list__item">2. Dapibus ac facilisis in</li>
                            <li class="c-list__item">3. Morbi leo risus</li>
                            <li class="c-list__item is-disabled">4. Disabled</li>
                            <li class="c-list__item">5. Vestibulum at eros</li>
                        </ul>
                        {% markdown %}
                        ```html
                        <ul class="c-list c-list--bordered">
                            <li class="c-list__item">1. Active</li>
                            <li class="c-list__item">2. Dapibus ac facilisis in</li>
                            <li class="c-list__item">3. Morbi leo risus</li>
                            <li class="c-list__item is-disabled">4. Disabled</li>
                            <li class="c-list__item">5. Vestibulum at eros</li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@md -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            <div class="l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Linked</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            To quick create linkify list by using <code>a.c-list__link</code> as children.
                        </p>
                        <div class="c-list c-list--bordered c-list--lg">
                            <a class="c-list__link">1. Dapibus ac facilisis in</a>
                            <a class="c-list__link is-active">2. Active</a>
                            <a class="c-list__link">3. Morbi leo risus</a>
                            <a class="c-list__link is-disabled">4. Disabled</a>
                            <a class="c-list__link">5. Vestibulum at eros</a>
                        </div>
                        {% markdown %}
                        ```html
                        <div class="c-list c-list--bordered c-list--lg">
                            <a class="c-list__link">1. Dapibus ac facilisis in</a>
                            <a class="c-list__link is-active">2. Active</a>
                            <a class="c-list__link">3. Morbi leo risus</a>
                            <a class="c-list__link is-disabled">4. Disabled</a>
                            <a class="c-list__link">5. Vestibulum at eros</a>
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-8@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Sizes</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            By adding <code>.c-list--sm</code> or
                            <code>.c-list--lg</code> modifier class on
                            <code>.c-list</code> container to quickly create
                            different sizes of list.
                        </p>
                        <div class="l-row">
                            <div class="l-col-4@md">
                                <ul class="c-list c-list--bordered c-list--sm">
                        			<li class="c-list__item">1.Active</li>
                        			<li class="c-list__item">2. Dapibus ac facilisis in</li>
                        			<li class="c-list__item">3. Morbi leo risus</li>
                        			<li class="c-list__item is-disabled">4. Disabled</li>
                        			<li class="c-list__item">5. Vestibulum at eros</li>
                        		</ul>
                            </div>
                            <!-- END .l-col-4@md -->
                            <div class="l-col-4@md">
                                <ul class="c-list c-list--bordered">
                        			<li class="c-list__item">1.Active</li>
                        			<li class="c-list__item">2. Dapibus ac facilisis in</li>
                        			<li class="c-list__item">3. Morbi leo risus</li>
                        			<li class="c-list__item is-disabled">4. Disabled</li>
                        			<li class="c-list__item">5. Vestibulum at eros</li>
                        		</ul>
                            </div>
                            <!-- END .l-col-4@md -->
                            <div class="l-col-4@md">
                                <ul class="c-list c-list--bordered c-list--lg">
                        			<li class="c-list__item">1.Active</li>
                        			<li class="c-list__item">2. Dapibus ac facilisis in</li>
                        			<li class="c-list__item">3. Morbi leo risus</li>
                        			<li class="c-list__item is-disabled">4. Disabled</li>
                        			<li class="c-list__item">5. Vestibulum at eros</li>
                        		</ul>
                            </div>
                            <!-- END .l-col-4@md -->
                        </div>
                        <!-- END .l-row -->
                        {% markdown %}
                        ```html
                        <ul class="c-list c-list--bordered c-list--sm">
                            ...
                        </ul>

                        <ul class="c-list c-list--bordered">
                            ...
                        </ul>

                        <ul class="c-list c-list--bordered c-list--lg">
                            ...
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
            </div>
            <!-- END .l-col-8@md -->
        </div>
        <!-- END .l-row -->
        <section class="c-panel">
            <header class="c-panel__header">
                <h3 class="c-panel__title">Advanced</h3>
            </header>
            <div class="c-panel__body">
                <p>
                    You can combine List with other components to create more complex lists.
                </p>
                <div class="l-row">
                    <div class="l-col-4@md">
                        <div class="c-box">
                            <header class="c-box__heading">Actions</header>
                            <div class="c-box__body">
                                <ul class="c-list c-list--inset u-mb-0">
                        			<li class="c-list__item">1.Active</li>
                        			<li class="c-list__item">2. Dapibus ac facilisis in</li>
                        			<li class="c-list__item">3. Morbi leo risus</li>
                        			<li class="c-list__item is-disabled">4. Disabled</li>
                        			<li class="c-list__item">5. Vestibulum at eros</li>
                        		</ul>
                            </div>
                        </div>
                    </div>
                    <!-- END .l-col-4@md -->
                    <div class="l-col-4@md">
                        <ul class="c-list">
                            <li class="c-list__item">
                                <div class="c-cell">
                                    <div class="c-cell__media">
                                        <img data-src="holder.js/48x48" class="img-round">
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        Lorem ipsum dolor sit amet.
                                    </div>
                                    <!-- END .c-cell__content -->
                                    <div class="c-cell__after">

                                    </div>
                                    <!-- END .c-cell__after -->
                                </div>
                            </li>
                            <li class="c-list__item">
                                <div class="c-cell">
                                    <div class="c-cell__media">
                                        <img data-src="holder.js/48x48" class="img-round">
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        Consectetur adipiscing elit.
                                    </div>
                                    <!-- END .c-cell__content -->
                                </div>
                            </li>
                            <li class="c-list__item">
                                <div class="c-cell">
                                    <div class="c-cell__media">
                                        <img data-src="holder.js/48x48" class="img-round">
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        Lorem ipsum dolor sit amet
                                    </div>
                                    <!-- END .c-cell__content -->
                                    <div class="c-cell__after">
                                        <span class="badge badge--danger">5</span>
                                    </div>
                                    <!-- END .c-cell__after -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END .l-col-4@md -->
                    <div class="l-col-4@md">
                        <ul class="c-list c-list--inset">
                            <li class="c-list__item">
                                <div class="c-cell">
                                    <div class="c-cell__content">
                                        <header class="c-cell__header u-mb-5">
                                            <h4 class="c-cell__title">Lorem ipsum dolor.</h4>
                                        </header>
                                        <div class="c-cell__body u-mb-5">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima molestiae eos blanditiis, beatae iure minus?
                                        </div>
                                        <div class="l-level">
                                            <div class="l-level__left">
                                                <div class="l-level__item meta">
                                                    <i class="icon-folder3 u-mr-5"></i>Later
                                                </div>
                                            </div>
                                            <!-- END .l-level__left -->
                                            <div class="l-level__right">
                                                <div class="l-level__item meta">
                                                    <time>10/12, 7:35 am</time>
                                                </div>
                                            </div>
                                            <!-- END .l-level__right -->
                                        </div>
                                    </div>
                                    <!-- END .c-cell__content -->
                                </div>
                            </li>
                            <li class="c-list__item">
                                <div class="c-cell">
                                    <div class="c-cell__content">
                                        <header class="c-cell__header u-mb-5">
                                            <h4 class="c-cell__title">Minima molestiae eos</h4>
                                        </header>
                                        <div class="c-cell__body u-mb-5">
                                            Sunt reiciendis eum fugit exercitationem excepturi doloremque ducimus totam at eveniet autem, facere distinctio. Alias consectetur totam tempora nesciunt fuga consequatur vero accusamus libero distinctio, sapiente, temporibus optio nobis officia.
                                        </div>
                                        <div class="l-level">
                                            <div class="l-level__left">
                                                <div class="l-level__item meta">
                                                    <i class="icon-folder3 u-mr-5"></i>Draft
                                                </div>
                                            </div>
                                            <!-- END .l-level__left -->
                                            <div class="l-level__right">
                                                <div class="l-level__item meta">
                                                    <time>10/12, 3:20 am</time>
                                                </div>
                                            </div>
                                            <!-- END .l-level__right -->
                                        </div>
                                    </div>
                                    <!-- END .c-cell__content -->
                                </div>
                            </li>
                            <li class="c-list__item">
                                <div class="c-cell">
                                    <div class="c-cell__content">
                                        <header class="c-cell__header u-mb-5">
                                            <h4 class="c-cell__title">Consectetur adipisicing elit.</h4>
                                        </header>
                                        <div class="c-cell__body u-mb-5">
                                            Numquam, ab praesentium obcaecati odit quis? Facilis tempore facere natus est. Alias, debitis ipsa numquam facilis. Dolore nemo tenetur, perspiciatis numquam quia.
                                        </div>
                                        <div class="l-level">
                                            <div class="l-level__left">
                                                <div class="l-level__item meta">
                                                    <i class="icon-folder3 u-mr-5"></i> Archive
                                                </div>
                                            </div>
                                            <!-- END .l-level__left -->
                                            <div class="l-level__right">
                                                <div class="l-level__item meta">
                                                    <time>10/11, 12:30 am</time>
                                                </div>
                                            </div>
                                            <!-- END .l-level__right -->
                                        </div>
                                    </div>
                                    <!-- END .c-cell__content -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END .l-col-4@md -->
                </div>
                <!-- END .l-row -->
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
