{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-3@sm l-col-2@lg">
                        <ul class="c-menu" v-menu>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link is-active">
                                    <div class="c-menu__icon">
                                        <i class="icon-grid"></i>
                                    </div>
                                    <div class="c-menu__text">Dashboard</div>
                                    <div class="c-menu__after"></div>
                                </a>
                            </li>
                            <li class="c-menu__item has-sub">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-quill2"></i>
                                    </div>
                                    <div class="c-menu__text">Articles</div>
                                    <div class="c-menu__after"></div>
                                </a>
                                <ul class="c-menu">
                                    <li class="c-menu__item">
                                        <a role="button" class="c-menu__link">
                                            <div class="c-menu__text">All</div>
                                            <div class="c-menu__after"><span class="badge badge--info">32</span></div>
                                        </a>
                                    </li>
                                    <li class="c-menu__item">
                                        <a role="button" class="c-menu__link">
                                            <div class="c-menu__text">Add New</div>
                                            <div class="c-menu__after"></div>
                                        </a>
                                    </li>
                                    <li class="c-menu__item">
                                        <a role="button" class="c-menu__link">
                                            <div class="c-menu__text">badges</div>
                                            <div class="c-menu__after"></div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-file-empty"></i>
                                    </div>
                                    <div class="c-menu__text">Pages</div>
                                    <div class="c-menu__after"></div>
                                </a>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-bubbles"></i>
                                    </div>
                                    <div class="c-menu__text">Comments</div>
                                    <div class="c-menu__after"><span class="badge badge--danger">78</span></div>
                                </a>
                            </li>
                            <li class="c-menu__divider"></li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-images3"></i>
                                    </div>
                                    <div class="c-menu__text">Media Library</div>
                                    <div class="c-menu__after"></div>
                                </a>
                            </li>
                            <li class="c-menu__divider"></li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-envelop2"></i>
                                    </div>
                                    <div class="c-menu__text">Messages</div>
                                    <div class="c-menu__after"><span class="badge badge--danger">12</span></div>
                                </a>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-users"></i>
                                    </div>
                                    <div class="c-menu__text">Accounts</div>
                                    <div class="c-menu__after"><span class="badge badge--info">+37</span></div>
                                </a>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-file-check"></i>
                                    </div>
                                    <div class="c-menu__text">Tasks</div>
                                    <div class="c-menu__after"><span class="badge badge--warning">2</span></div>
                                </a>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-calendar"></i>
                                    </div>
                                    <div class="c-menu__text">Calendar</div>
                                    <div class="c-menu__after"></div>
                                </a>
                            </li>

                            <li class="c-menu__divider"></li>
                            <li class="c-menu__category">ANALYTICS</li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-hat"></i>
                                    </div>
                                    <div class="c-menu__text">Visitors</div>
                                    <div class="c-menu__after"></div>
                                </a>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-pie-chart2"></i>
                                    </div>
                                    <div class="c-menu__text">Advertisment</div>
                                    <div class="c-menu__after"></div>
                                </a>
                            </li>
                        </ul>
                        <!-- END .c-menu -->
                    </div>
                    <!-- END .l-col-3@sm -->
                    <div class="l-col-9@sm l-col-10@lg">
                        <p>Structure: </p>
                        <ul>
                            <li>
                                <code>.c-menu</code>
                                <ul>
                                    <li>
                                        <code>.c-menu__category</code>
                                    </li>
                                    <li>
                                        <code>.c-menu__divider</code>
                                    </li>
                                    <li>
                                        <code>.c-menu__item</code>
                                        <ul>
                                            <li>
                                                <code>.c-menu__link</code>
                                                <ul>
                                                    <li>
                                                        <code>.c-menu__icon</code>
                                                    </li>
                                                    <li>
                                                        <code>.c-menu__text</code>
                                                    </li>
                                                    <li>
                                                        <code>.c-menu__after</code>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p>And use <code>v-menu</code> vue directive to create simple menu toggle behavior.</p>
                        {% markdown %}
                        ```html
                        <ul class="c-menu" v-menu>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-grid"></i>
                                    </div>
                                    <div class="c-menu__text">Dashboard</div>
                                    <div class="c-menu__after"></div>
                                </a>
                            </li>
                            <li class="c-menu__item has-sub">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-quill2"></i>
                                    </div>
                                    <div class="c-menu__text">Articles</div>
                                    <div class="c-menu__after"></div>
                                </a>
                                <ul class="c-menu">
                                    <li class="c-menu__item">
                                        <a role="button" class="c-menu__link">
                                            <div class="c-menu__text">All</div>
                                            <div class="c-menu__after">
                                                <span class="badge badge--info">32</span>
                                            </div>
                                        </a>
                                    </li>
                                    ...
                                </ul>
                            </li>
                            ...
                            <li class="c-menu__divider"></li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-envelop2"></i>
                                    </div>
                                    <div class="c-menu__text">Messages</div>
                                    <div class="c-menu__after"><span class="badge badge--danger">12</span></div>
                                </a>
                            </li>
                            ...
                            <li class="c-menu__divider"></li>
                            <li class="c-menu__category">ANALYTICS</li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-hat"></i>
                                    </div>
                                    <div class="c-menu__text">Visitors</div>
                                    <div class="c-menu__after"></div>
                                </a>
                            </li>
                            ...
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-9@sm -->
                </div>
                <!-- END .l-row -->
            </div>
        </section>
        <!-- END .c-panel -->
        <section class="c-panel">
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-3@sm l-col-2@lg">
                        <ul class="c-menu c-menu--light c-menu--fold u-bg-primary" v-menu>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link is-active">
                                    <div class="c-menu__icon">
                                        <i class="icon-grid"></i>
                                    </div>
                                    <div class="c-menu__text">Home</div>
                                </a>
                            </li>
                            <li class="c-menu__item has-sub">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-envelop2"></i>
                                    </div>
                                    <div class="c-menu__text">Message</div>
                                </a>
                                <ul class="c-menu c-menu--light u-bg-primary">
                                    <li class="c-menu__item">
                                        <a role="button" class="c-menu__link">
                                            <div class="c-menu__text">Inbox</div>
                                        </a>
                                    </li>
                                    <li class="c-menu__item">
                                        <a role="button" class="c-menu__link">
                                            <div class="c-menu__text">Add New</div>
                                        </a>
                                    </li>
                                    <li class="c-menu__item">
                                        <a role="button" class="c-menu__link">
                                            <div class="c-menu__text">Trash</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-file-check"></i>
                                    </div>
                                    <div class="c-menu__text">Tasks</div>
                                </a>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-calendar"></i>
                                    </div>
                                    <div class="c-menu__text">Calendar</div>
                                </a>
                            </li>
                            <li class="c-menu__divider"></li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <div class="c-menu__text">Profile</div>
                                </a>
                            </li>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-switch"></i>
                                    </div>
                                    <div class="c-menu__text">Logout</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END .l-col-3@sm -->
                    <div class="l-col-9@sm l-col-10@lg">
                        <p>
                            By adding <code>.c-menu--light</code> modifier class to create light text menu.
                        </p>
                        <p>
                            By adding <code>.c-menu--fold</code> modifier class to create fold styled menu.
                        </p>
                        {% markdown %}
                        ```html
                        <ul class="c-menu c-menu--light c-menu--fold u-bg-primary" v-menu>
                            <li class="c-menu__item">
                                <a role="button" class="c-menu__link">
                                    <div class="c-menu__icon">
                                        <i class="icon-grid"></i>
                                    </div>
                                    <div class="c-menu__text">Home</div>
                                </a>
                            </li>
                            ...
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-9@sm -->
                </div>
                <!-- END .l-row -->
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
