{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">Modal</h1>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6@md">
                        <div style="position: relative;height: 480px;margin-bottom: 20px; background-color: rgba(0,0,0,0.65)">
                            <div class="c-modal c-modal--always" style="position: absolute; z-index: 15;">
                                <div class="c-modal__content">
                                    <div class="c-modalCard">
                                        <header class="c-modalCard__header">
                                            <h4 class="c-modalCard__title">Modal Title</h4>
                                            <a role="button" class="c-modalCard__close">
                                                <i class="i-remove"></i>
                                            </a>
                                        </header>
                                        <div class="c-modalCard__body">
                                            "You have your way. I have my way. As for the right way, the correct way, and the only way, it does not exist."
                                        </div>
                                        <footer class="c-modalCard__footer">
                                            <button type="button" class="btn">Close</button>
                                            <button type="button" class="btn btn--primary">Ok</button>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <!-- END .c-modal -->
                        </div>
                    </div>
                    <!-- END .l-col-6@md -->
                    <div class="l-col-6@md">
                        <p>
                            Using <strong>Modal</strong> to create prompt content.
                        </p>
                        {% markdown %}
                        ```html
                        <div class="c-modal">
                            <div class="c-modal__content">
                                // ...
                            </div>
                        </div>
                        ```
                        {% endmarkdown %}
                        <hr>
                        <p>
                            There is a vue component for modal
                        </p>
                        {% markdown %}
                        ```html
                        <modal v-model="show">
                            // modal content here
                        </modal>

                        <script>
                            new Vue({
                                el: '#app',
                                data: {
                                    show: false
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-6@md -->
                </div>
                <!-- END .l-row -->
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
        <div class="l-row">
            <div class="l-col-4@xl l-col-6@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Basic</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-textCenter u-mb-15">
                            <p>
                                Basic modal card
                            </p>
                            <button class="btn btn--primary btn--smart" v-on:click="defaultShow = true">Open</button>
                        </div>
                        {% markdown %}
                        ```html
                        <modal v-model="defaultShow">
                            <div class="c-modalCard">
                                <header class="c-modalCard__header">
                                    <h4 class="c-modalCard__title">Modal Title</h4>
                                    <a role="button" class="c-modalCard__close" v-on:click="defaultShow = false">
                                        <i class="i-remove"></i>
                                    </a>
                                </header>
                                <div class="c-modalCard__body">
                                    // ...
                                </div>
                                <footer class="c-modalCard__footer">
                                    <button type="button" class="btn"  v-on:click="defaultShow = false">Close</button>
                                    <button type="button" class="btn btn--primary">Ok</button>
                                </footer>
                            </div>
                        </modal>

                        <button class="btn btn--primary" v-on:click="defaultShow = true">Open</button>

                        <script>
                            new Vue({
                                el: '#app',
                                data: {
                                    defaultShow: false
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                        <modal v-model="defaultShow">
                            <div class="c-modalCard">
                                <header class="c-modalCard__header">
                                    <h4 class="c-modalCard__title">Modal Title</h4>
                                    <a role="button" class="c-modalCard__close" v-on:click="defaultShow = false">
                                        <i class="i-remove"></i>
                                    </a>
                                </header>
                                <div class="c-modalCard__body">
                                    "You have your way. I have my way. As for the right way, the correct way, and the only way, it does not exist."
                                </div>
                                <footer class="c-modalCard__footer">
                                    <button type="button" class="btn"  v-on:click="defaultShow = false">Close</button>
                                    <button type="button" class="btn btn--primary">Ok</button>
                                </footer>
                            </div>
                        </modal>
                    </div>
                </section>
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Form Modal</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-textCenter u-mb-15">
                            <p>
                                Using another component as modal's content.
                            </p>
                            <button class="btn btn--primary btn--smart" v-on:click="formModal = true">Open</button>
                        </div>
                        {% markdown %}
                        ```html
                        <modal v-model="formModal">
                            <form action="#" method="POST">
                                <div class="c-modalCard">
                                    <header class="c-modalCard__header">
                                        <h4 class="c-modalCard__title">Create Channel</h4>
                                    </header>
                                    <div class="c-modalCard__body">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-input" name="name" autofocus>
                                        </div>
                                    </div>
                                    <footer class="c-modalCard__footer">
                                        <button type="button" class="btn btn--default" v-on:click="formModal = false">Cancel</button>
                                        <button type="submit" class="btn btn--primary">Create</button>
                                    </footer>
                                </div>
                            </form>
                        </modal>
                        ```
                        {% endmarkdown %}
                        <modal v-model="formModal">
                            <form action="#" method="POST">
                                <div class="c-modalCard">
                                    <header class="c-modalCard__header">
                                        <h4 class="c-modalCard__title">Create Channel</h4>
                                    </header>
                                    <div class="c-modalCard__body">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-input" name="name">
                                        </div>
                                    </div>
                                    <footer class="c-modalCard__footer">
                                        <button type="button" class="btn btn--default" v-on:click="formModal = false">Cancel</button>
                                        <button type="submit" class="btn btn--primary">Create</button>
                                    </footer>
                                </div>
                            </form>
                        </modal>
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@xl -->
            <div class="l-col-4@xl l-col-6@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Sizes</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-textCenter u-mb-15">
                            <p>
                                By adding <code>size="lg"</code> or
                                <code>size="sm"</code> attribute on
                                <code>&lt;modal&gt;</code> container to change
                                modal content sizes
                            </p>
                            <button class="btn btn--primary u-mb-5" v-on:click="largeShow = true">Large</button>
                            <button class="btn btn--primary u-mb-5" v-on:click="smShow = true">Small</button>
                        </div>
                        {% markdown %}
                        ```html
                        <modal v-model="smShow" size="sm">
                            <div class="c-modalCard">
                                // ...
                            </div>
                        </modal>

                        <modal v-model="largeShow" size="lg">
                            <div class="c-modalCard">
                                // ...
                            </div>
                        </modal>

                        <button class="btn btn--primary" v-on:click="largeShow = true">Large</button>
                        <button class="btn btn--primary" v-on:click="smShow = true">Small</button>

                        <script>
                            new Vue({
                                el: '#app',
                                data: {
                                    smShow: false,
                                    largeShow: false
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                        <modal v-model="smShow" size="sm">
                            <div class="c-modalCard">
                                <header class="c-modalCard__header">
                                    <h4 class="c-modalCard__title">Modal Title</h4>
                                    <a role="button" class="c-modalCard__close" v-on:click="sm = false">
                                        <i class="i-remove"></i>
                                    </a>
                                </header>
                                <div class="c-modalCard__body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam deleniti molestiae veniam quaerat laborum consequuntur, porro nobis ab cumque, quidem!
                                </div>
                                <footer class="c-modalCard__footer">
                                    <button type="button" class="btn" v-on:click="smShow = false">Close</button>
                                    <button type="button" class="btn btn--primary">Ok</button>
                                </footer>
                            </div>
                        </modal>

                        <modal v-model="largeShow" size="lg">
                            <div class="c-modalCard">
                                <header class="c-modalCard__header">
                                    <h4 class="c-modalCard__title">Modal Title</h4>
                                    <a role="button" class="c-modalCard__close" v-on:click="largeShow = false">
                                        <i class="i-remove"></i>
                                    </a>
                                </header>
                                <div class="c-modalCard__body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam deleniti molestiae veniam quaerat laborum consequuntur, porro nobis ab cumque, quidem!
                                </div>
                                <footer class="c-modalCard__footer">
                                    <button type="button" class="btn" v-on:click="largeShow = false">Close</button>
                                    <button type="button" class="btn btn--primary">Ok</button>
                                </footer>
                            </div>
                        </modal>
                    </div>
                </section>
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Login Modal</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-textCenter u-mb-15">
                            <p>
                                Using another component as modal's content.
                            </p>
                            <button class="btn btn--primary btn--smart" v-on:click="loginModal = true">Open</button>
                        </div>
                        {% markdown %}
                        ```html
                        <modal v-model="loginModal">
                            <div class="c-sign u-centerBlock">
                                <div class="c-sign__body">
                                    <h1 class="c-sign__title">Login</h1>
                                    <p class="c-sign__text">Session timeout</p>
                                    <form action="#" method="GET">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-input">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Password</label>
                                            <input type="password" class="form-input">
                                        </div>
                                        <div class="form-group u-clearfix">
                                            <label class="form-checkbox u-floatLeft">
                                                <input type="checkbox" checked="checked">
                                                <span class="form-checkbox__text">Remember me</span>
                                            </label>
                                            <a href="#" class="u-floatRight">Forgot Password?</a>
                                        </div>
                                        <div class="u-textRight">
                                            <button type="button" class="btn" v-on:click="loginModal = false">Cancel</button>
                                            <button type="submit" class="btn btn--primary">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END .c-sign__body -->
                            </div>
                            <!-- END .c-sign -->
                        </modal>
                        ```
                        {% endmarkdown %}
                        <modal v-model="loginModal">
                            <div class="c-sign u-centerBlock">
                                <div class="c-sign__body">
                                    <h1 class="c-sign__title">Login</h1>
                                    <p class="c-sign__text">Session timeout</p>
                                    <form action="#" method="GET">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-input">
                                        </div>
                                        <!-- END .form-group -->
                                        <div class="form-group">
                                            <label class="form-label">Password</label>
                                            <input type="password" class="form-input">
                                        </div>
                                        <!-- END .form-group -->
                                        <div class="form-group u-clearfix">
                                            <label class="form-checkbox u-floatLeft">
                                                <input type="checkbox" checked="checked">
                                                <span class="form-checkbox__text">Remember me</span>
                                            </label>
                                            <!-- END .checkbox -->
                                            <a href="#" class="u-floatRight">Forgot Password?</a>
                                        </div>
                                        <!-- END .form-group -->
                                        <div class="u-textRight">
                                            <button type="button" class="btn" v-on:click="loginModal = false">Cancel</button>
                                            <button type="submit" class="btn btn--primary">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END .c-sign__body -->
                            </div>
                            <!-- END .c-sign -->
                        </modal>
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@xl -->
            <div class="l-col-4@xl l-col-6@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Multiple Steps</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-textCenter u-mb-15">
                            <p>
                                Open modal in another modal.
                            </p>
                            <button class="btn btn--primary btn--smart" v-on:click="step1Show = true">Open</button>
                        </div>
                        {% markdown %}
                        ```html
                        <modal id="step1" v-model="step1Show">
                            <div class="c-modalCard">
                                <header class="c-modalCard__header">
                                    <h4 class="c-modalCard__title">Step #1</h4>
                                    <a role="button" class="c-modalCard__close" v-on:click="step1Show = false">
                                        <i class="i-remove"></i>
                                    </a>
                                </header>
                                <div class="c-modalCard__body">
                                    Plase confirm your information
                                </div>
                                <footer class="c-modalCard__footer">
                                    <button type="button" class="btn" v-on:click="step1Show = false">Close</button>
                                    <button type="button" class="btn btn--primary" v-on:click="step2Show = true;step1Show = false;">Next</button>
                                </footer>
                            </div>
                        </modal>

                        <modal id="step2" v-model="step2Show">
                            <div class="c-modalCard">
                                <header class="c-modalCard__header">
                                    <h4 class="c-modalCard__title">Step #2</h4>
                                    <a role="button" class="c-modalCard__close" v-on:click="step2Show = false">
                                        <i class="i-remove"></i>
                                    </a>
                                </header>
                                <div class="c-modalCard__body">
                                    Please enter your full name
                                </div>
                                <footer class="c-modalCard__footer">
                                    <button type="button" class="btn" v-on:click="step2Show = false">Close</button>
                                    <button type="button" class="btn btn--primary">Save</button>
                                </footer>
                            </div>
                        </modal>
                        ```
                        {% endmarkdown %}
                        <modal id="step1" v-model="step1Show">
                            <div class="c-modalCard">
                                <header class="c-modalCard__header">
                                    <h4 class="c-modalCard__title">Step #1</h4>
                                    <a role="button" class="c-modalCard__close" v-on:click="step1Show = false">
                                        <i class="i-remove"></i>
                                    </a>
                                </header>
                                <div class="c-modalCard__body">
                                    Plase confirm your information
                                </div>
                                <footer class="c-modalCard__footer">
                                    <button type="button" class="btn" v-on:click="step1Show = false">Close</button>
                                    <button type="button" class="btn btn--primary" v-on:click="step2Show = true;step1Show = false;">Next</button>
                                </footer>
                            </div>
                        </modal>

                        <modal id="step2" v-model="step2Show">
                            <div class="c-modalCard">
                                <header class="c-modalCard__header">
                                    <h4 class="c-modalCard__title">Step #2</h4>
                                    <a role="button" class="c-modalCard__close" v-on:click="step2Show = false">
                                        <i class="i-remove"></i>
                                    </a>
                                </header>
                                <div class="c-modalCard__body">
                                    Please enter your full name
                                </div>
                                <footer class="c-modalCard__footer">
                                    <button type="button" class="btn" v-on:click="step2Show = false">Close</button>
                                    <button type="button" class="btn btn--primary">Save</button>
                                </footer>
                            </div>
                        </modal>
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@xl -->
        </div>
        <!-- END l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

{% block scripts %}
<script>
    new Vue({
        el: '#app',
        data: {
            defaultShow: false,
            smShow: false,
            largeShow: false,
            step1Show: false,
            step2Show: false,
            loginModal: false,
            formModal: false
        }
    })
</script>
{% endblock %}
