{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Basic</h2>
            </header>
            <div class="c-panel__body">
                <p>Structure:</p>
                <ul>
                    <li>
                        <code>.c-navbar</code>
                        <ul>
                            <li>
                                <code>.c-navbar__left</code>, <code>.c-navbar__center</code>, <code>.c-navbar__right</code>
                                <ul>
                                    <li><code>.c-navbar__item</code></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <nav class="c-navbar u-mb-15">
                    <div class="c-navbar__left is-auto">
                        <a class="c-navbar__item">Home</a>
                        <drop class="c-navbar__item">
                            <a role="button" class="u-colorInherit" slot="trigger">
                                Pages <i class="i-arrowDown u-ml-5"></i>
                            </a>
                            <drop-content slot="content">
                                <ul class="c-nav c-nav--menus">
                                    <li class="c-nav__item">
                                        <a role="button" class="c-nav__link">ABOUT</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a role="button" class="c-nav__link">SERVICE</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a role="button" class="c-nav__link">DOCUMENT</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a role="button" class="c-nav__link">CONTACT</a>
                                    </li>
                                </ul>
                            </drop-content>
                        </drop>
                        <a class="c-navbar__item">Work</a>
                        <a class="c-navbar__item">Shop</a>
                        <a class="c-navbar__item">Blog</a>
                        <a class="c-navbar__item">Contact</a>
                    </div>
                    <!-- END .c-navbar__left -->
                    <div class="c-navbar__right is-fixed">
                        <div class="c-navbar__item">
                            <div class="c-account">
                                <div class="c-account__content u-textRight">
                                    <div class="c-account__title">Louis Liu</div>
                                    <small class="c-account__meta">Administrator</small>
                                </div>
                                <div class="c-account__after">
                                    <img src="{{root}}assets/images/avatar-m-1.jpg" class="avatar avatar--sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END .c-navbar__right -->
                </nav>
                <!-- END .c-navbar -->
                {% markdown %}
                ```html
                <nav class="c-navbar u-mb-15">
                    <div class="c-navbar__left is-auto">
                        <a class="c-navbar__item">Home</a>
                        <drop class="c-navbar__item">
                            // ...
                        </drop>
                        <a class="c-navbar__item">Work</a>
                        <a class="c-navbar__item">Shop</a>
                        <a class="c-navbar__item">Blog</a>
                        <a class="c-navbar__item">Contact</a>
                    </div>
                    <!-- END .c-navbar__left -->
                    <div class="c-navbar__right is-fixed">
                        <div class="c-navbar__item">
                            <div class="c-account">
                                //...
                            </div>
                        </div>
                    </div>
                </nav>
                ```
                {% endmarkdown %}
            </div>
        </section>

        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Light</h2>
            </header>
            <div class="c-panel__body">
                <p>By adding <code>.c-navbar--light</code> modifier class on <code>.c-navbar</code> container to create light navbar.</p>
                <nav class="c-navbar c-navbar--light u-bg-primary u-pl-15 u-pr-15 u-mb-15">
                    <div class="c-navbar__center">
                        <img src="{{root}}../dist/images/logo-white.svg">
                    </div>
                    <div class="c-navbar__left">
                        <a class="c-navbar__item">Home</a>
                        <drop class="c-navbar__item">
                            <a role="button" class="u-colorInherit" slot="trigger">
                                Pages <i class="i-arrowDown i-arrowDown--light u-ml-5"></i>
                            </a>
                            <drop-content slot="content">
                                <ul class="c-nav c-nav--menus">
                                    <li class="c-nav__item">
                                        <a role="button" class="c-nav__link">ABOUT</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a role="button" class="c-nav__link">SERVICE</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a role="button" class="c-nav__link">DOCUMENT</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a role="button" class="c-nav__link">CONTACT</a>
                                    </li>
                                </ul>
                            </drop-content>
                        </drop>
                        <a class="c-navbar__item">Work</a>
                        <a class="c-navbar__item">Shop</a>
                        <a class="c-navbar__item">Blog</a>
                        <a class="c-navbar__item">Contact</a>
                    </div>
                    <!-- END .c-navbar__left -->
                    <div class="c-navbar__right">
                        <div class="c-navbar__item u-hiddenDown@md">
                            <form action="/" class="c-navbar__form">
                                <div class="form-control has-iconRight">
                                      <i class="icon-search form-iconRight u-mr-5"></i>
                                      <input type="text" class="form-input form-input--rounded">
                                </div>
                            </form>
                        </div>
                        <a role="button" class="c-navbar__item">
                            <i class="icon-bell2"></i>
                        </a>
                        <a role="button" class="c-navbar__item">
                            <i class="icon-envelop3"></i>
                        </a>
                        <a role="button" class="c-navbar__item">
                            <div class="c-account">
                                <div class="c-account__media">
                                    <img src="{{root}}assets/images/avatar.jpg" class="avatar avatar--sm">
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- END .c-navbar__right -->
                </nav>
                <!-- END .c-navbar -->
                {% markdown %}
                ```html
                <nav class="c-navbar c-navbar--light u-bg-primary u-pl-15 u-pr-15">
                    <div class="c-navbar__center">
                        <img src="assets/images/logo-white.svg">
                    </div>
                    <div class="c-navbar__left">
                        <a class="c-navbar__item">Home</a>
                        <drop class="c-navbar__item">
                            // ...
                        </drop>
                        <a class="c-navbar__item">Work</a>
                        <a class="c-navbar__item">Shop</a>
                        <a class="c-navbar__item">Blog</a>
                        <a class="c-navbar__item">Contact</a>
                    </div>
                    <div class="c-navbar__right">
                        <div class="c-navbar__item u-hiddenDown@md">
                            <form action="/" class="c-navbar__form">
                                <div class="form-control has-iconRight">
                                      <i class="icon-search4 form-iconRight u-mr-5"></i>
                                      <input type="text" class="form-input form-input--rounded">
                                </div>
                            </form>
                        </div>
                        <a role="button" class="c-navbar__item">
                            <i class="icon-bell2"></i>
                        </a>
                        <a role="button" class="c-navbar__item">
                            <i class="icon-envelop3"></i>
                        </a>
                        <a role="button" class="c-navbar__item">
                            <div class="c-account">
                                // ...
                            </div>
                        </a>
                    </div>
                </nav>
                ```
                {% endmarkdown %}
            </div>
        </section>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
