{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row l-panel-stretch">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Nav</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            The basic <strong>Nav</strong> just remove default list style. You
                            can easily extend it to create your own content
                            navigation and keep the code style consistent.
                        </p>
                        <div class="u-mb-15">
                            <ul class="c-nav">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Pills Nav</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--pills">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--pills">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Gap</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--gap">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--gap">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Dot</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--dot">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--dot">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Underline</h3>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--underline">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--underline">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Menus</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--menus">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                    <ul class="c-nav c-nav--menus c-nav--sm">
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">SubItem 1</a>
                                        </li>
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">SubItem 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--menus">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                                <ul class="c-nav c-nav--menus c-nav--sm">
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">SubItem 1</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">SubItem 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Tabs</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--tabs">
                                <li class="c-nav__item">
                                    <a href="#panel-1" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#panel-2" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#panel-3" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a role="button" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--tabs">
                            <li class="c-nav__item">
                                <a href="#panel-1" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#panel-2" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#panel-3" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a role="button" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Line</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--dot c-nav--lineBefore">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--dot c-nav--lineBefore">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--pills c-nav--lineAfter">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--pills c-nav--lineAfter">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                        <div class="u-mb-15">
                            <ul class="c-nav c-nav--gap c-nav--lineAround">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-active">Home</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Another Link</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link is-disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        {% markdown %}
                        ```html
                        <ul class="c-nav c-nav--gap c-nav--lineAround">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Home</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Another Link</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-disabled">Disabled</a>
                            </li>
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
