{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">Notify</h1>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6@md">
                        <div class="form-group">
                            <label class="form-label">Type</label>
                            <select class="form-select" v-model="type">
                                <option value="">none</option>
                                <option value="success">success</option>
                                <option value="danger">danger</option>
                                <option value="warn">warning</option>
                            </select>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-input" v-model="title">
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Content</label>
                            <textarea rows="3" class="form-textarea" v-model="text"></textarea>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-checkbox">
                                <input type="checkbox" v-model="closeable">
                                <span class="form-checkbox__indicator"></span>
                                <span class="form-checkbox__text">Closeable</span>
                            </label>
                            <!-- END .checkbox -->
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Timer</label>
                            <input type="number" class="form-input" v-model.number="timer">
                        </div>
                        <!-- END .form-group -->
                        <button type="button" class="btn btn--success btn--smart" v-on:click="add">Try It</button>
                    </div>
                    <!-- END .l-col-6@md -->
                    <div class="l-col-6@md">
                        <p>
                            Display a notification message globally.
                        </p>
                        {% markdown %}
                        ```html
                        <script>
                            new Vue({
                              el: '#app',
                              methods: {
                                add () {
                                  this.$notify({
                                    type: 'success',
                                    title: 'Notification',
                                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, placeat!',
                                    closeable: true,
                                    timer: 5000
                                  })
                                }
                              }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-6@md -->
                </div>
                <!-- END .l-row -->
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Options</h2>
            </header>
            <div class="c-panel__body">
                <table class="table table--bordered table--responsive">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Default</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Property">title</td>
                            <td data-label="Description">The title of notification</td>
                            <td data-label="Type">string</td>
                            <td data-label="Default">—</td>
                        </tr>
                        <tr>
                            <td data-label="Property">text</td>
                            <td data-label="Description">the content of notification</td>
                            <td data-label="Type">string</td>
                            <td data-label="Default">—</td>
                        </tr>
                        <tr>
                            <td data-label="Property">closeable</td>
                            <td data-label="Description">Whether user can close notification manually</td>
                            <td data-label="Type">boolean</td>
                            <td data-label="Default">true</td>
                        </tr>
                        <tr>
                            <td>timer</td>
                            <td data-label="Description">time before auto dismiss in millisecond</td>
                            <td data-label="Type">Number</td>
                            <td data-label="Default">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

<!-- END .l-app -->
{% block scripts %}
<script>
    new Vue({
      el: '#app',
      data: {
        type: 'success',
        title: 'Cover Notification',
        text: 'You have your way. I have my way. As for the right way, the correct way, and the only way, it does not exist.',
        closeable: true,
        timer: 5000
      },
      methods: {
        add: function () {
          this.$notify({
            type: this.type,
            title: this.title,
            text: this.text,
            closeable: this.closeable,
            timer: this.timer
          })
        }
      }
    })
</script>
{% endblock %}
