{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body c-page">
    <aside class="c-page__panel">
        
    </aside>
    <!-- END .c-page__panel -->
    <aside class="c-page__panel">
        
    </aside>
    <!-- END .c-page__panel -->
    <div class="c-page__content">
        <main id="main" class="l-app__main" role="main">
            
        </main>
    </div>
    <!-- END .c-page__content -->
    <aside class="c-page__panel u-w-320">
        
    </aside>
    <!-- END .c-page__panel -->
</div>
<!-- END .l-app__body -->
{% endblock %}

<!-- END .l-app -->
