{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Basic</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            Pagination component provide a reuseable and flexible navigation that lets users access pages of content.
                        </p>
                        <div class="u-mb-15">
                            <nav class="c-pagination">
                                <span class="c-pagination__item is-disabled">Previous</span>
                                <em class="c-pagination__item is-active">1</em>
                                <a href="#" class="c-pagination__item">2</a>
                                <a href="#" class="c-pagination__item">3</a>
                                <a href="#" class="c-pagination__item">4</a>
                                <a href="#" class="c-pagination__item">5</a>
                                <span class="c-pagination__item is-disabled">...</span>
                                <a href="#" class="c-pagination__item">99</a>
                                <a href="#" class="c-pagination__item">100</a>
                                <a href="#" class="c-pagination__item">Next</a>
                            </nav>
                        </div>
                        {% markdown %}
                        ```html
                        <nav class="c-pagination">
                            <span class="c-pagination__item is-disabled">Previous</span>
                            <em class="c-pagination__item is-active">1</em>
                            <a href="#" class="c-pagination__item">2</a>
                            <a href="#" class="c-pagination__item">3</a>
                            <a href="#" class="c-pagination__item">4</a>
                            <a href="#" class="c-pagination__item">5</a>
                            <span class="c-pagination__item is-disabled">...</span>
                            <a href="#" class="c-pagination__item">99</a>
                            <a href="#" class="c-pagination__item">100</a>
                            <a href="#" class="c-pagination__item">Next</a>
                        </nav>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Bordered</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            By adding <code>.c-pagination--bordered</code>
                            modifier class on <code>.c-pagination</code>
                            container to quick create bordered style pagination.
                        </p>
                        <div class="u-mb-15">
                            <nav class="c-pagination c-pagination--bordered">
                                <span class="c-pagination__item is-disabled">Previous</span>
                                <em class="c-pagination__item is-active">1</em>
                                <a href="#" class="c-pagination__item">2</a>
                                <a href="#" class="c-pagination__item">3</a>
                                <a href="#" class="c-pagination__item">4</a>
                                <a href="#" class="c-pagination__item">5</a>
                                <span class="c-pagination__item is-disabled">...</span>
                                <a href="#" class="c-pagination__item">99</a>
                                <a href="#" class="c-pagination__item">100</a>
                                <a href="#" class="c-pagination__item">Next</a>
                            </nav>
                        </div>
                        {% markdown %}
                        ```html
                        <nav class="c-pagination c-pagination--bordered">
                            <span class="c-pagination__item is-disabled">Previous</span>
                            <em class="c-pagination__item is-active">1</em>
                            <a href="#" class="c-pagination__item">2</a>
                            <a href="#" class="c-pagination__item">3</a>
                            <a href="#" class="c-pagination__item">4</a>
                            <a href="#" class="c-pagination__item">5</a>
                            <span class="c-pagination__item is-disabled">...</span>
                            <a href="#" class="c-pagination__item">99</a>
                            <a href="#" class="c-pagination__item">100</a>
                            <a href="#" class="c-pagination__item">Next</a>
                        </nav>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Sizes</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            By adding <code>.c-pagination--sm</code>
                            modifier class on <code>.c-pagination</code>
                            container to quick create smaller pagination.
                        </p>
                        <div class="u-mb-15">
                            <nav class="c-pagination c-pagination--sm">
                                <span class="c-pagination__item is-disabled">Previous</span>
                                <em class="c-pagination__item is-active">1</em>
                                <a href="#" class="c-pagination__item">2</a>
                                <a href="#" class="c-pagination__item">3</a>
                                <a href="#" class="c-pagination__item">4</a>
                                <a href="#" class="c-pagination__item">5</a>
                                <span class="c-pagination__item is-disabled">...</span>
                                <a href="#" class="c-pagination__item">99</a>
                                <a href="#" class="c-pagination__item">100</a>
                                <a href="#" class="c-pagination__item">Next</a>
                            </nav>
                        </div>
                        <div class="u-mb-15">
                            <nav class="c-pagination c-pagination--bordered c-pagination--sm">
                                <span class="c-pagination__item is-disabled">Previous</span>
                                <em class="c-pagination__item is-active">1</em>
                                <a href="#" class="c-pagination__item">2</a>
                                <a href="#" class="c-pagination__item">3</a>
                                <a href="#" class="c-pagination__item">4</a>
                                <a href="#" class="c-pagination__item">5</a>
                                <span class="c-pagination__item is-disabled">...</span>
                                <a href="#" class="c-pagination__item">99</a>
                                <a href="#" class="c-pagination__item">100</a>
                                <a href="#" class="c-pagination__item">Next</a>
                            </nav>
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col6@md -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
