{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">Stream</h1>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6@md l-col-3@lg">
                        <ul class="c-stream">
                            <li class="c-stream__item">
                                <span class="badge badge--info c-stream__badge"></span>
                                <div class="c-cell c-cell--start">
                                    <div class="c-cell__media">
                                        <img src="{{root}}assets/images/avatar-f-1.jpg" class="avatar">
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        <div class="c-cell__header">
                                            <div class="c-cell__leading">
                                                <span class="c-cell__title">Taylor Swift</span>
                                            </div>
                                            <div class="c-cell__after">17:14</div>
                                        </div>
                                        <div class="c-cell__body">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Vero voluptatum dolor
                                            iusto voluptate, error incidunt.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="c-stream__item">
                                <span class="badge c-stream__badge"></span>
                                <div class="c-cell c-cell--start">
                                    <div class="c-cell__media">
                                        <img src="{{root}}assets/images/avatar-f-2.jpg" class="avatar">
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        <div class="c-cell__header">
                                            <div class="c-cell__leading">
                                                <span class="c-cell__title">John Doe</span>
                                            </div>
                                            <div class="c-cell__after">16:30</div>
                                        </div>
                                        <div class="c-cell__body">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Vero voluptatum dolor
                                            iusto voluptate, error incidunt.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="c-stream__item">
                                <span class="badge badge--danger c-stream__badge"></span>
                                <div class="c-cell c-cell--start">
                                    <div class="c-cell__media">
                                        <img src="{{root}}assets/images/avatar.jpg" class="avatar">
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        <div class="c-cell__header">
                                            <div class="c-cell__leading">
                                                <span class="c-cell__title">Lewis Liu</span>
                                            </div>
                                            <div class="c-cell__after">16:30</div>
                                        </div>
                                        <div class="c-cell__body">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Vero voluptatum dolor
                                            iusto voluptate, error incidunt.
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END .l-col-6@md -->
                    <div class="l-col-6@md l-col-9@lg">
                        <p>Structure:</p>
                        <ul>
                            <li>
                                <code>.c-stream</code>
                                <ul>
                                    <li>
                                        <code>.c-stream__item</code>
                                        <ul>
                                            <li><code>.c-stream__badge</code></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {% markdown %}
                        ```html
                        <ul class="c-stream">
                            <li class="c-stream__item">
                                <span class="badge badge--info c-stream__badge"></span>
                                <div class="c-cell c-cell--start">
                                    <div class="c-cell__media">
                                        <img src="assets/images/avatar-f-1.jpg" class="avatar">
                                    </div>
                                    <!-- END .c-cell__media -->
                                    <div class="c-cell__content">
                                        <div class="c-cell__header">
                                            <div class="c-cell__leading">
                                                <span class="c-cell__title">Taylor Swift</span>
                                            </div>
                                            <div class="c-cell__after">17:14</div>
                                        </div>
                                        <div class="c-cell__body">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Vero voluptatum dolor
                                            iusto voluptate, error incidunt.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            ...
                        </ul>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-6@md -->
                </div>
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
