.c-navbar--light {
  .c-navbar__item {
    color: rgba($color-white, 0.9);
    &:hover {
      color: $color-white;
    }
  }
  .c-navbar__form {
    .form-input {
      color: rgba(255,255,255,.8);
      border-color: transparent;
      background-color: rgba(0,0,0,.15);
    }
  }
}

.c-navbar {
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}

.c-navbar__item {
  &:not(:last-child) {
    margin-right: 16px;
  }
}
