{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Area</h2>
            </header>
            <div class="c-panel__body">
                {% markdown %}
                Since [Grid Layout](https://css-tricks.com/snippets/css/complete-guide-grid/)
                is still a experimental feature, so we create **Area** layout component, which is a simple
                simulation of Grid.

                Combinng 12-grid system and **Area**, you can create a powerful responsive layout.

                The **Area** container element will set it's child position to absolute and fill full of the container.

                Use `.l-area@<breakpoint>` to create **Area** only at certain breakpoint. `.l-area--MxN`, `M` and `N` are both range 1 through 12, and `M` shound has the same value of it parent column.
                {% endmarkdown %}
            </div>
        </section>
        <div class="l-row">
            <div class="l-col-5@md">
                <div class="l-area@md l-area--5x3">
                    <section class="c-panel">
                        <div class="c-panel__body u-flexCenter">
                            <span class="u-h2">5x3</span>
                        </div>
                    </section>
                    <!-- END .c-panel -->
                </div>
                <!-- END .l-area -->
                <div class="l-area@md l-area--5x1">
                    <section class="c-panel">
                        <div class="c-panel__body u-flexCenter">
                            <span class="u-h2">5x1</span>
                        </div>
                    </section>
                    <!-- END .c-panel -->
                </div>
                <!-- END .l-area -->
            </div>
            <!-- END .l-col-5@md -->
            <div class="l-col-2@md">
                <div class="l-area@md l-area--2x2">
                    <section class="c-panel">
                        <div class="c-panel__body u-flexCenter">
                            <span class="u-h2">2x2</span>
                        </div>
                    </section>
                    <!-- END .c-panel -->
                </div>
                <!-- END .l-area -->
                <div class="l-area@md l-area--2x2">
                    <section class="c-panel">
                        <div class="c-panel__body u-flexCenter">
                            <span class="u-h2">2x2</span>
                        </div>
                    </section>
                    <!-- END .c-panel -->
                </div>
                <!-- END .l-area -->
            </div>
            <!-- END .l-col-2@md -->
            <div class="l-col-2@md">
                <div class="l-area@md l-area--2x2">
                    <section class="c-panel">
                        <div class="c-panel__body u-flexCenter">
                            <span class="u-h2">2x2</span>
                        </div>
                    </section>
                    <!-- END .c-panel -->
                </div>
                <!-- END .l-area -->
                <div class="l-area@md l-area--2x2">
                    <section class="c-panel">
                        <div class="c-panel__body u-flexCenter">
                            <span class="u-h2">2x2</span>
                        </div>
                    </section>
                    <!-- END .c-panel -->
                </div>
                <!-- END .l-area -->
            </div>
            <!-- END .l-col-2@md -->
            <div class="l-col-3@md">
                <div class="l-area@md l-area--3x3">
                    <section class="c-panel">
                        <div class="c-panel__body u-flexCenter">
                            <span class="u-h2">3x3</span>
                        </div>
                    </section>
                    <!-- END .c-panel -->
                </div>
                <!-- END .l-area -->
                <div class="l-area@md l-area--3x1">
                    <section class="c-panel">
                        <div class="c-panel__body u-flexCenter">
                            <span class="u-h2">3x1</span>
                        </div>
                    </section>
                    <!-- END .c-panel -->
                </div>
                <!-- END .l-area -->
            </div>
            <!-- END .l-col-3@md -->
        </div>
        <!-- END .l-row -->
        {% markdown %}
        ```html
        <div class="l-row">
            <div class="l-col-5@md">
                <div class="l-area@md l-area--5x3">5x3</div>
                <div class="l-area@md l-area--5x1">5x1</div>
            </div>
            <!-- END .l-col-5@md -->
            <div class="l-col-2@md">
                <div class="l-area@md l-area--2x2">2x2</div>
                <div class="l-area@md l-area--2x2">2x2</div>
            </div>
            <!-- END .l-col-2@md -->
            <div class="l-col-2@md">
                <div class="l-area@md l-area--2x2">2x2</div>
                <div class="l-area@md l-area--2x2">2x2</div>
            </div>
            <!-- END .l-col-2@md -->
            <div class="l-col-3@md">
                <div class="l-area@md l-area--3x3">3x3</div>
                <div class="l-area@md l-area--3x1">3x1</div>
            </div>
            <!-- END .l-col-3@md -->
        </div>
        <!-- END .l-row -->
        ```
        {% endmarkdown %}
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
