{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">Level</h1>
            </header>
            <div class="c-panel__body">
                <p>
                    Vertical align layout based on flexbox, inspire by
                    <a href="http://bulma.io/documentation/components/level/">Bulma's Level</a>
                </p>
                <p>
                    Structure:
                    <ul>
                        <li>
                            <code>.l-level</code>
                            <ul>
                                <li>
                                    <code>.l-level__left</code>, <code>.l-level__center</code>, <code>.l-level__right</code>
                                    <ul>
                                        <li><code>.l-level__item</code></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>

                <div class="l-level">
                  <div class="l-level__left">
                    <a href="#" class="l-level__item btn btn--success btn--smart">Add</a>
                    <a href="#" class="l-level__item">All</a>
                    <a href="#" class="l-level__item">Publish</a>
                    <a href="#" class="l-level__item">Draft</a>
                    <a href="#" class="l-level__item">Pending</a>
                    <a href="#" class="l-level__item">Trash</a>
                  </div>
                  <div class="l-level__right">
                    <div class="l-level__item">
                      <form action="#" class="form-inline">
                        <div class="form-flex">
                          <input type="text" class="form-input" placeholder="Search...">
                          <button class="form-addon btn btn--primary">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                {% markdown %}
                ```html
                <div class="l-level">
                  <div class="l-level__left">
                    <a href="#" class="l-level__item btn btn--success btn--smart">Add</a>
                    <a href="#" class="l-level__item">All</a>
                    <a href="#" class="l-level__item">Publish</a>
                    <a href="#" class="l-level__item">Draft</a>
                    <a href="#" class="l-level__item">Pending</a>
                    <a href="#" class="l-level__item">Trash</a>
                  </div>
                  <div class="l-level__right">
                    <div class="l-level__item">
                      <form action="#" class="form-inline">
                        <div class="form-flex">
                          <input type="text" class="form-input" placeholder="Search...">
                          <button class="form-addon btn btn--primary">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                ```
                {% endmarkdown %}
                <hr>
                <p>
                    If you want to create 3-colums level, you must place
                    <code>.l-level__center</code> in first, so it can use
                    <code>~</code> CSS selector to control siblings style.
                </p>
                <div class="l-level">
                    <div class="l-level__center">
                        <div class="btnGroup">
                            <button class="btn btn--primary btn--outline">ALL PROJECTS</button>
                            <button class="btn btn--primary btn--outline">SHARED</button>
                            <button class="btn btn--primary btn--outline">MEDIA FILES</button>
                        </div>
                    </div>
                    <div class="l-level__left">
                        <div class="u-fs-20">All <span class="u-fs-14 u-textMuted">34 projects</span></div>
                    </div>
                    <div class="l-level__right">
                        <div class="l-level__item">
                            <form action="#" class="form-inline">
                                <div class="form-group">
                                    <select class="form-select">
                                        <option value="2016-01-25" selected="selected">Jul 25, 16</option>
                                        <option value="2016-01-26">Jul 26, 16</option>
                                        <option value="2016-01-27">Jul 27, 16</option>
                                        <option value="2016-01-28">Jul 28, 16</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                {% markdown %}
                ```html
                <div class="l-level">
                    <div class="l-level__center">
                        <div class="btnGroup">
                            <button class="btn btn--primary btn--outline">ALL PROJECTS</button>
                            <button class="btn btn--primary btn--outline">SHARED</button>
                            <button class="btn btn--primary btn--outline">MEDIA FILES</button>
                        </div>
                    </div>
                    <div class="l-level__left">
                        <div class="u-fs-20">All <span class="u-fs-14 u-textMuted">34 projects</span></div>
                    </div>
                    <div class="l-level__right">
                        <div class="l-level__item">
                            <form action="#" class="form-inline">
                                <div class="form-group">
                                    <select class="form-select">
                                        <option value="2016-01-25" selected="selected">Jul 25, 16</option>
                                        <option value="2016-01-26">Jul 26, 16</option>
                                        <option value="2016-01-27">Jul 27, 16</option>
                                        <option value="2016-01-28">Jul 28, 16</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                ```
                {% endmarkdown %}
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
