{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Default</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6@md u-textCenter">
                        <img class="img-fluid u-mb-15" src="{{root}}assets/images/template-basic.png" srcset="{{root}}assets/images/template-basic@2x.png 2x">
                    </div>
                    <div class="l-col-6@md">
                        {% markdown %}
                        ```html
                        <div class="l-app">
                            <aside class="l-app__sidebar">
                                // ...
                            </aside>
                            <div class="l-app__content">
                                <header class="l-app__topbar">
                                    // ...
                                </header>
                                <div class="l-app__body">
                                    <div class="l-app__main">
                                        // ...
                                    </div>
                                </div>
                            </div>
                        </div>
                        ```
                        {% endmarkdown %}
                        <a href="template-1.html" class="btn btn--info btn--smart btn--outline">View Demo</a>
                    </div>
                </div>
                <!-- END .l-row -->
            </div>
        </section>
        <!-- END .c-panel -->
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">IconBar</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6@md u-textCenter">
                        <img class="img-fluid u-mb-15" src="{{root}}assets/images/template-iconbar.png" srcset="{{root}}assets/images/template-iconbar@2x.png 2x">
                    </div>
                    <div class="l-col-6@md">
                        {% markdown %}
                        ```html
                        <div class="l-app">
                            <aside class="l-app__sidebar l-app__sidebar--fold">
                                // ...
                            </aside>
                            <div class="l-app__content">
                                <div class="l-app__body">
                                    <div class="l-app__main">
                                        // ...
                                    </div>
                                </div>
                            </div>
                        </div>
                        ```
                        {% endmarkdown %}
                        <a href="template-2.html" class="btn btn--info btn--smart btn--outline">View Demo</a>
                    </div>
                </div>
                <!-- END .l-row -->
            </div>
        </section>
        <!-- END .c-panel -->
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Center</h2>
            </header>
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6@md u-textCenter">
                        <img class="img-fluid u-mb-15" src="{{root}}assets/images/template-center.png" srcset="{{root}}assets/images/template-center@2x.png 2x">
                    </div>
                    <div class="l-col-6@md">
                        {% markdown %}
                        ```html
                        <div class="l-app">
                            <div class="l-app__content">
                                <header class="l-app__topbar">
                                    // ...
                                </header>
                                <div class="l-app__body">
                                    // ...
                                    <div class="l-container">
                                        // ...
                                    </div>
                                </div>
                            </div>
                        </div>
                        ```
                        {% endmarkdown %}
                        <a href="template-3.html" class="btn btn--info btn--smart btn--outline">View Demo</a>
                    </div>
                </div>
                <!-- END .l-row -->
            </div>
        </section>
        <!-- END .c-panel -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
