{% extends "layouts/front.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <header class="c-toolbar">
        <div class="l-container">
            <div class="c-toolbar__group">
                <div class="l-level">
                    <div class="l-level__left">
                        <div class="c-cell">
                            <div class="c-cell__content">
                                <h1 class="c-toolbar__title">Dashboard</h1>
                                <ol class="c-breadcrumb">
                                    <li class="c-breadcrumb__item">
                                        <a href="#" class="c-breadcrumb__link">Home</a>
                                    </li>
                                    <li class="c-breadcrumb__item">
                                        <a href="#" class="c-breadcrumb__link">Sales</a>
                                    </li>
                                    <li class="c-breadcrumb__item">
                                        Books
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <!-- END .c-cell -->
                    </div>
                    <!-- END .l-level__left -->
                    <div class="l-level__right">
                        <div class="l-level__item">
                            <a href="#" class="btn btn--info btn--smart">
                                <span class="btn__icon">
                                    <i class="icon-plus3"></i>
                                </span>
                                <span class="btn__text">New Book</span>
                            </a>
                        </div>
                    </div>
                    <!-- END .l-level__right -->
                </div>
                <!-- END .l-level -->
            </div>
            <!-- END .c-toolbar__group -->
            <div class="c-toolbar__group">
                <ul class="c-nav c-nav--pills">
                    <li class="c-nav__item">
                        <a href="#panel-1" class="c-nav__link is-active">Home</a>
                    </li>
                    <li class="c-nav__item">
                        <a href="#panel-2" class="c-nav__link">Link</a>
                    </li>
                    <li class="c-nav__item">
                        <a href="#panel-3" class="c-nav__link">Another Link</a>
                    </li>
                    <li class="c-nav__item">
                        <a role="button" class="c-nav__link is-disabled">Disabled</a>
                    </li>
                </ul>
            </div>
            <!-- END .c-toolbar__group -->
        </div>
        <!-- END .l-container -->
    </header>
    <!-- END .c-toolbar -->
    <div class="l-container">
        <alert>
            You have your way. I have my way. As for the right way, the correct way, and the only way, it does not exist.
        </alert>
        <div class="l-row l-panelGroup">
            <div class="l-col-6@sm l-col-3@md">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__left">
                                <i class="icon-store2 icon-2x u-color-warning"></i>
                            </div>
                            <!-- END .l-level__left -->
                            <div class="l-level__right">
                                <div class="l-level__item c-count u-textRight">
                                    <div class="c-count__label">Monthly Sales</div>
                                    <div class="c-count__content"><i class="icon-arrow-up5 u-color-success u-mr5"></i>371</div>
                                </div>
                            </div>
                            <!-- END .l-level__right -->
                        </div>
                    </div>
                </section>
                <!-- END .c-widget -->
            </div>
            <!-- END .l-col-3@md -->
            <div class="l-col-6@sm l-col-3@md">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__left">
                                <i class="icon-users icon-2x u-color-info"></i>
                            </div>
                            <!-- END .l-level__left -->
                            <div class="l-level__right">
                                <div class="l-level__item c-count u-textRight">
                                    <div class="c-count__label">New Users</div>
                                    <div class="c-count__content"><i class="icon-arrow-up5 u-color-success u-mr5"></i>113</div>
                                </div>
                            </div>
                            <!-- END .l-level__right -->
                        </div>
                    </div>
                </section>
                <!-- END .c-widget -->
            </div>
            <!-- END .l-col-3@md -->
            <div class="l-col-6@sm l-col-3@md">
                <section class="c-panel">
                    <div class="c-panel__body u-textCenter">
                        <div class="c-count">
                            <div class="c-count__label">Followers</div>
                            <div class="c-count__content">8346</div>
                        </div>
                    </div>
                </section>
                <!-- END .c-widget -->
            </div>
            <!-- END .l-col-3@md -->
            <div class="l-col-6@sm l-col-3@md">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__left">
                                <i class="icon-download4 icon-2x u-color-success"></i>
                            </div>
                            <!-- END .l-level__left -->
                            <div class="l-level__right">
                                <div class="l-level__item c-count u-textRight">
                                    <div class="c-count__label">Downloads</div>
                                    <div class="c-count__content"><i class="icon-arrow-up5 u-color-success u-mr5"></i>113</div>
                                </div>
                            </div>
                            <!-- END .l-level__right -->
                        </div>
                    </div>
                </section>
                <!-- END .c-widget -->
            </div>
            <!-- END .l-col-3@md -->
        </div>
        <!-- END .l-row -->
        <div class="l-row l-panelGroup">
            <div class="l-col-8@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Recent orders</h2>
                        <div class="c-panel__controls">
                            <ul class="c-nav c-nav--actions">
                                <li class="c-nav__item">
                                    <a role="button" class="c-nav__link">MORE</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END .c-panel__controls -->
                    </header>
                    <div class="c-panel__body">
                        <table class="table table--responsive u-mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Fee</th>
                                    <th>Status</th>
                                    <th class="u-textRight@md">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                {% if (loop.index < 8) %}
                                <tr>
                                    <td data-label="Id">
                                        <a href="{{root}}apps/cms/invoice.html">{{loop.index}}</a>
                                    </td>
                                    <td data-label="User">{{users[order.user_id].name}}</td>
                                    <td data-label="Fee"><code>{{order.fee}}</code></td>
                                    <td data-label="Status">
                                        {% if order.payment == 'paid' %}
                                        <span class="badge badge--info">Paid</span>
                                        {% elif order.status == 'unpaid' %}
                                        <span class="badge badge--warning">Unpaid</span>
                                        {% else %}
                                        <span class="badge badge--default">Refunded</span>
                                        {% endif %}
                                    </td>
                                    <td data-label="Date" class="u-textRight@md">{{order.created_at}}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-widget -->
            </div>
            <!-- END .l-col-8@md -->
            <div class="l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Summary</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="l-row">
                            <div class="l-col-6">
                                <table class="table table--simple">
                                    <thead>
                                        <tr><th colspan="2">This Month</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="u-textMuted">Income</td>
                                            <td class="u-textRight">$23,500</td>
                                        </tr>
                                        <tr>
                                            <td class="u-textMuted">Sales</td>
                                            <td class="u-textRight">940</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .l-col-6 -->
                            <div class="l-col-6">
                                <table class="table table--simple">
                                    <thead>
                                        <tr><th colspan="2">Today</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="u-textMuted">Income</td>
                                            <td class="u-textRight">$575</td>
                                        </tr>
                                        <tr>
                                            <td class="u-textMuted">Sales</td>
                                            <td class="u-textRight">23</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .l-col-6 -->
                        </div>
                        <!-- END .l-row -->
                        <div class="l-row">
                            <div class="l-col-6">
                                <table class="table table--simple">
                                    <thead>
                                        <tr><th colspan="2">Last Month</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="u-textMuted">Income</td>
                                            <td class="u-textRight">$20,300</td>
                                        </tr>
                                        <tr>
                                            <td class="u-textMuted">Sales</td>
                                            <td class="u-textRight">812</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .l-col-6 -->
                            <div class="l-col-6">
                                <table class="table table--simple">
                                    <thead>
                                        <tr><th colspan="2">Total</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="u-textMuted">Income</td>
                                            <td class="u-textRight">$65,000</td>
                                        </tr>
                                        <tr>
                                            <td class="u-textMuted">Sales</td>
                                            <td class="u-textRight">2600</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .l-col-6 -->
                        </div>
                        <!-- END .l-row -->
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@md -->
        </div>
        <!-- END .l-row -->
    </div>
    <!-- END .l-container -->
    <footer class="l-app__footer u-textCenter">
        <div class="l-container">
            <ul class="c-nav c-nav--gap u-inlineBlock">
                <li class="c-nav__item">
                    <a href="#" class="c-nav__link">About</a>
                </li>
                <li class="c-nav__item">
                    <a href="#" class="c-nav__link">News</a>
                </li>
                <li class="c-nav__item">
                    <a href="#" class="c-nav__link">Help</a>
                </li>
                <li class="c-nav__item">
                    <a href="#" class="c-nav__link">Terms</a>
                </li>
                <li class="c-nav__item">
                    <a href="#" class="c-nav__link">Contact</a>
                </li>
            </ul>
            <p>Dashboard UI kit by moyu © 2017. All RIGHT RESERVED.</p>
        </div>
        <!-- END .l-container -->
    </footer>
    <!-- END .l-app__footer -->
</div>
<!-- END .l-app__body -->
{% endblock %}
