// .c-cell
//   .c-cell__media
//   .c-cell__content
//     .c-cell__header
//       .c-cell__leading
//         .c-cell__title
//       .c-cell__after
//     .c-cell__body
//   .c-cell__after
//   
// @modifers: .c-cell--start, .c-cell--xs, .c-cell--sm, .c-cell--lg
// .c-cell--xl

// container
.c-cellList {
  margin: 0;
  padding: 0;
  list-style: none;
  .c-cell {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// block
.c-cell {
  display: flex;
  align-items: center;
}

// elements
.c-cell__media {
  flex-shrink: 0;
  line-height: 1.2;
}

.c-cell__content {
  flex: 1;
  min-width: 0;
}

.c-cell__media + .c-cell__content,
.c-cell__content + .c-cell__media {
  margin-left: 12px;
}

.c-cell__header {
  display: flex;
  align-items: center;
}

.c-cell__title {
  color: $cell-heading-color;
  line-height: 1.2;
  margin: 0;
}

.c-cell__body {
  font-size: 14px;
  line-height: 18px;
  p {
    margin-bottom: 8px;
  }
}

.c-cell__after {
  flex-shrink: 0;
  margin-left: 6px;
  color: $muted-color;
  font-size: 75%;
}

.c-cell__header .c-cell__leading {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  @include oneline;
  .c-cell__title {
    font-weight: bolder;
    margin-right: 8px;
  }
}

.c-cell__header .c-cell__after {
  margin-left: $space-inline-s;
}

// modifiers
.c-cell--start {
  align-items: flex-start;
  > .c-cell__after {
    align-self: center;
  }
}

.c-cell--xs {
  .c-cell__media + .c-cell__content,
  .c-cell__content + .c-cell__media {
    margin-left: $space-inline-s;
  }
  .c-cell__after {
    margin-left: $space-inline-xs;
  }
}

.c-cell--sm {
  .c-cell__media + .c-cell__content,
  .c-cell__content + .c-cell__media {
    margin-left: $space-inline-base;
  }
  .c-cell__after {
    margin-left: $space-inline-s;
  }
}

.c-cell--lg {
  .c-cell__media + .c-cell__content,
  .c-cell__content + .c-cell__media {
    margin-left: $space-inline-l;
  }
  .c-cell__after {
    margin-left: $space-inline-base;
  }
}

.c-cell--xl {
  .c-cell__media + .c-cell__content,
  .c-cell__content + .c-cell__media {
    margin-left: $space-inline-xl;
  }
  .c-cell__after {
    margin-left: $space-inline-l;
  }
}
