{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">Circle Chart</h2>
            </header>
            <!-- END .c-panel__header -->
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-4 u-textCenter">
                        <circle-chart :percent="73">73%</circle-chart>
                    </div>
                    <div class="l-col-4 u-textCenter">
                        <circle-chart :percent="60" color="#FCC100">60%</circle-chart>
                    </div>
                    <div class="l-col-4 u-textCenter">
                        <circle-chart :percent="86" color="#0CC2AA">86%</circle-chart>
                    </div>
                </div>
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
        <section class="c-panel">
            <header class="c-panel__header">
                <h3 class="c-panel__title">
                    Chart.js
                    <small><a href="http://www.chartjs.org" target="_blank">http://www.chartjs.org</a></small>
                </h3>
            </header>
            <!-- END .c-panel__header -->
            <div class="c-panel__body">
                <canvas id="myChart" width="400" height="100"></canvas>
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
        <div class="l-row">
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Line</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="lineChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Line with points</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="linePointsChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Line with fill</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="lineFillChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Bar</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="barChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Horizontal Bar</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="horizontalBarChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Two Bars</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="twoBarChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Pie</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="pieChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Doughnut</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="doughnutChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Polar Area Chart</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="polarChart" width="400" height="200"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Radar Chart</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="radarChart" width="400" height="260"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Multiple Lines</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="multiLineChart" width="400" height="260"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-12 l-col-4@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Mixed Chart</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <canvas id="mixedChart" width="400" height="260"></canvas>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-4@md -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

{% block scripts %}
<script src="{{root}}../dist/vendor/moment/moment.js"></script>
<script src="{{root}}../dist/vendor/chart/Chart.bundle.min.js"></script>
<script src="{{root}}assets/js/pages/chart.js"></script>
{% endblock %}
