.meta {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: $font-size-sm;
  line-height: 1.2;
  color: $muted-color;
  > i {
    margin-right: 5px;
  }
}

.metaList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .meta {
    &:not(:last-child) {
      &:after {
        content: '·';
        padding: 0 4px;
      }
    }
  }
}
