.u-cf {
  @include clearfix;
}

.u-posAbs {
  position: absolute !important;
}

.u-posFixed {
  position: fixed !important;
}

.u-postRelative {
  position: relative !important;
}

.u-posStatic {
  position: static !important;
}
