{% set root = '../../' %}

{% extends "layouts/default.nunjucks" %}

{% block content %}
<header class="c-toolbar u-mb-0">
    <div class="l-level">
        <div class="l-level__left">
            <div class="c-cell">
                <div class="c-cell__media">
                    <i class="icon-quill4"></i>
                </div>
                <div class="c-cell__content">
                    <ol class="c-breadcrumb">
                        <li class="c-breadcrumb__item">
                            <a href="{{root}}apps/cms/index.html" class="c-breadcrumb__link">Posts</a>
                        </li>
                        <li class="c-breadcrumb__item">
                            Add
                        </li>
                    </ol>
                </div>
            </div>
            <!-- END .l-media -->
        </div>
        <!-- END .l-level__left -->
        <div class="l-level__right">
            <div class="l-level__item">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="form-label">Status</label>
                        <div class="form-control">
                            <select class="form-select">
                                <option value="1">Draft</option>
                                <option value="2">Pendding</option>
                                <option value="3">Publish</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Publish Date:</label>
                        <div class="form-control has-iconRight">
                            <i class="icon-calendar form-iconRight"></i>
                            <date-picker :time="true" class="u-pr-20" value="2017-03-22 12:00"></date-picker>
                        </div>
                    </div>
                    <div class="form-group">
                        <a role="button" class="btn btn--success btn--smart">Save</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END .l-level__right -->
    </div>
    <!-- END .l-level -->
</header>
<!-- END .c-toolbar -->
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <alert :closeable="true" type="success">
            Post update successful!
        </alert>
        <div class="l-row">
            <div class="l-col-12 l-col@md">
                <div class="form-group">
                    <div class="form-control">
                        <input type="text" class="form-input" placeholder="Post Title">
                        <small class="form-help">
                            Link: <a href="#" target="_blank">http://www.20theme.com/posts/123</a>
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <textarea rows="2" class="form-input" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <quill-editor style="height: 360px;">
                        <blockquote>
                            YOU HAVE YOUR WAY. I HAVE MY WAY. AS FOR THE RIGHT WAY, THE CORRECT WAY, AND THE ONLY WAY, IT DOES NOT EXIST
                        </blockquote>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ullam ab modi voluptatem doloremque at aliquid. A nobis at quibusdam placeat. Reprehenderit rerum sint alias officia eius ex, iste cum dicta quod! Culpa, cumque commodi numquam, vel modi consequatur praesentium asperiores aliquid reprehenderit quod eligendi, quidem, excepturi natus minus sed?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>
                    </quill-editor>
                </div>
                <div class="form-group">
                    <label class="form-label">Tags</label>
                    <div class="form-control">
                        <multiselect
                            v-model="tags"
                            track-by="name"
                            label="name"
                            :options="options"
                            :taggable="true"
                            :hide-selected="true"
                            :multiple="true"
                            v-on:tag="addTag"
                        ></multiselect>
                    </div>
                </div>
            </div>
            <!-- END .l-col-md -->
            <aside class="l-col-12 l-col-fixed@md u-w-320">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Thumbnail</h3>
                        <div class="c-panel__controls">
                            <button class="btn btn--default btn--sm">Upload</button>
                        </div>
                    </header>
                    <div class="c-panel__body">
                        <img data-src="holder.js/400x300" class="img-fluid">
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Data Statistics</h3>
                    </header>
                    <div class="c-panel__body">
                        <div class="form-group">
                            <label class="control-label">Views</label>
                            <input type="number" class="form-input" disabled value="234823">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Likes</label>
                            <input type="number" class="form-input" disabled value="3453">
                        </div>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </aside>
            <!-- END .l-col-md-fixed -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

{% block scripts %}
<script src="{{root}}../dist/components/quill/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            tags: [
                { name: 'Apple' },
                { name: 'Banana' },
                { name: 'Orange' },
                { name: 'Peer' },
                { name: 'Watermelon' }
            ],
            options: [
                { name: 'Apple' },
                { name: 'Banana' },
                { name: 'Orange' }
            ]
        },
        methods: {
            addTag (tag) {
                this.tags.push({name: tag})
            }
        }
    })
</script>
{% endblock %}
