{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row l-panelGroup">
            <div class="l-col-9@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Top Contributors</h2>
                    </header>
                    <div class="c-panel__body">
                        {% for items in users | batch(4) %}
                        <div class="l-row">
                            {% for user in items %}
                            <div class="l-col-3@lg l-col-6@md">
                                <div class="c-account u-mb-15">
                                    <div class="c-account__media">
                                        <img src="{{root}}assets/images/{{user.avatar}}" class="avatar avatar--lg">
                                    </div>
                                    <!-- END .c-account__media -->
                                    <div class="c-account__content">
                                        <div class="c-account__title u-mb-5">{{user.name}}</div>
                                        <div class="c-account__meta">{{user.phone}}</div>
                                    </div>
                                    <!-- END .c-account__content -->
                                </div>
                                <!-- END .c-account -->
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <!-- END .l-col-9@lg -->
            <div class="l-col-3@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Daily Feed</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="c-cellList">
                            {% for message in messages %}
                            {% if loop.index >= 9 and loop.index < 13 %}
                            <div class="c-cell">
                                <div class="c-cell__content">
                                    <div class="c-cell__header u-mb-5">
                                        <div class="c-cell__leading">
                                            <div class="c-account">
                                                <div class="c-account__media">
                                                    <img src="{{root}}assets/images/{{users[message.from].avatar}}" class="avatar avatar--sm">
                                                </div>
                                                <div class="c-account__content">
                                                    <div class="c-account__title">{{users[message.from].name}}</div>
                                                    <div class="c-account__meta">@{{users[message.from].name | replace(" ", "") | lower}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-cell__after">
                                            <button class="btn btn--sm btn--info btn--outline">Follow</button>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        <p>{{message.body}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <!-- END .c-cellList -->
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
        </div>
        <!-- END .l-row -->
        <div class="l-row l-panelGroup">
            <div class="l-col-3@lg l-col-6@md">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <tabs active-name="news" type="underline">
                            <tab-pane label="News" name="news" class="u-mt-10">
                                <ul class="c-list u-mb-0">
                                    {% for message in messages %}
                                    {% if loop.index < 6 %}
                                    <li class="c-list__item">
                                        <div class="c-cell c-cell--start">
                                            <div class="c-cell__media">
                                                <span class="badge badge--{{['info', 'danger', 'success', 'warning', ''] | random}}"></span>
                                            </div>
                                            <!-- END .c-cell__media -->
                                            <div class="c-cell__content">
                                                <div class="c-cell__header">
                                                    <div class="c-cell__leading">
                                                        <div class="c-cell__title">{{message.title}}</div>
                                                    </div>
                                                    <div class="c-cell__after">{{message.date}}</div>
                                                </div>
                                                <div class="c-cell__body">{{message.body}}</div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </tab-pane>
                            <tab-pane label="Messages" name="messages" class="u-mt-10">
                                {% for message in messages %}
                                {% if (loop.index >= 6 and loop.index < 11) %}
                                <li class="c-list__item">
                                    <div class="c-cell c-cell--start">
                                        <div class="c-cell__media">
                                            <span class="badge badge--{{['info', 'danger', 'success', 'warning', ''] | random}}"></span>
                                        </div>
                                        <!-- END .c-cell__media -->
                                        <div class="c-cell__content">
                                            <div class="c-cell__header">
                                                <div class="c-cell__leading">
                                                    <div class="c-cell__title">{{users[message.from].name}}</div>
                                                </div>
                                                <div class="c-cell__after">{{message.date}}</div>
                                            </div>
                                            <div class="c-cell__body">{{message.body}}</div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </tab-pane>
                            <tab-pane label="Feedbacks" name="feedbacks" class="u-mt-10">
                                {% for message in messages %}
                                {% if (loop.index >= 11 and loop.index < 16) %}
                                <li class="c-list__item">
                                    <div class="c-cell c-cell--start">
                                        <div class="c-cell__media">
                                            <span class="badge badge--{{['info', 'danger', 'success', 'warning', ''] | random}}"></span>
                                        </div>
                                        <!-- END .c-cell__media -->
                                        <div class="c-cell__content">
                                            <div class="c-cell__header">
                                                <div class="c-cell__leading">
                                                    <div class="c-cell__title">{{users[message.from].name}}</div>
                                                </div>
                                                <div class="c-cell__after">{{message.date}}</div>
                                            </div>
                                            <div class="c-cell__body">{{message.body}}</div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </tab-pane>
                        </tabs>
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-3@lg l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Tasks</h2>
                    </header>
                    <div class="c-panel__body">
                        <ul class="c-stream">
                            <li class="c-stream__item">
                                <span class="badge badge--primary c-stream__badge"></span>
                                <time class="u-color-muted u-fs-12">2 minutes ago</time>
                                <p class="u-m-0">
                                    Check your internet connection
                                </p>
                            </li>
                            <!-- END .c-stream__item -->
                            <li class="c-stream__item">
                                <time class="u-color-muted u-fs-12">9:30</time>
                                <p class="u-m-0">
                                    Meeting with tech leader
                                </p>
                            </li>
                            <!-- END .c-stream__item -->
                            <li class="c-stream__item">
                                <time class="u-color-muted u-fs-12">8:30</time>
                                <p class="u-m-0">
                                    Call to customer <a href="#">Jacob</a> and discuss the detail.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, consequatur.
                                </p>
                            </li>
                            <!-- END .c-stream__item -->
                            <li class="c-stream__item">
                                <time class="u-color-muted u-fs-12">Wed, 25 Mar</time>
                                <p class="u-m-0">
                                    Finished task Testing.
                                </p>
                            </li>
                            <!-- END .c-stream__item -->
                        </ul>
                        <!-- END .c-stream -->
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-3@lg l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Quick Note</h2>
                        <div class="c-panel__controls">
                            <i class="icon-menu"></i>
                        </div>
                    </header>
                    <div class="c-panel__body">
                        <div class="form-group">
                            <textarea class="form-textarea" rows="4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, animi!</textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Status</label>
                            <select class="form-select">
                                <option value="0">Todo</option>
                                <option value="1">Bug</option>
                                <option value="2">Fixed</option>
                            </select>
                        </div>
                        <div class="u-clearfix">
                            <button class="btn btn--info">Save</button>
                            <button class="btn btn--default">Cancel</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-3@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Summary</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="l-row">
                            <div class="l-col-6">
                                <table class="table table--simple">
                                    <thead>
                                        <tr><th colspan="2">This Month</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="u-textMuted">Income</td>
                                            <td class="u-textRight">$23,500</td>
                                        </tr>
                                        <tr>
                                            <td class="u-textMuted">Sales</td>
                                            <td class="u-textRight">940</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .l-col-6 -->
                            <div class="l-col-6">
                                <table class="table table--simple">
                                    <thead>
                                        <tr><th colspan="2">Today</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="u-textMuted">Income</td>
                                            <td class="u-textRight">$575</td>
                                        </tr>
                                        <tr>
                                            <td class="u-textMuted">Sales</td>
                                            <td class="u-textRight">23</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .l-col-6 -->
                        </div>
                        <!-- END .l-row -->
                        <div class="l-row">
                            <div class="l-col-6">
                                <table class="table table--simple">
                                    <thead>
                                        <tr><th colspan="2">Last Month</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="u-textMuted">Income</td>
                                            <td class="u-textRight">$20,300</td>
                                        </tr>
                                        <tr>
                                            <td class="u-textMuted">Sales</td>
                                            <td class="u-textRight">812</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .l-col-6 -->
                            <div class="l-col-6">
                                <table class="table table--simple">
                                    <thead>
                                        <tr><th colspan="2">Total</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="u-textMuted">Income</td>
                                            <td class="u-textRight">$65,000</td>
                                        </tr>
                                        <tr>
                                            <td class="u-textMuted">Sales</td>
                                            <td class="u-textRight">2600</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .l-col-6 -->
                        </div>
                        <!-- END .l-row -->
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
        </div>
        <!-- END .l-row -->
        <div class="l-row l-panelGroup">
            <div class="l-col-6@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Recent orders</h2>
                        <div class="c-panel__controls">
                            <ul class="c-nav c-nav--actions">
                                <li class="c-nav__item">
                                    <a role="button" class="c-nav__link">
                                        MORE
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END .c-panel__controls -->
                    </header>
                    <div class="c-panel__body">
                        <table class="table table--responsive table--striped u-mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Fee</th>
                                    <th>Status</th>
                                    <th class="u-textRight@md">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                {% if (loop.index < 6) %}
                                <tr>
                                    <td data-label="Id">
                                        <a href="{{root}}apps/cms/invoice.html">{{loop.index}}</a>
                                    </td>
                                    <td data-label="User">{{users[order.user_id].name}}</td>
                                    <td data-label="Fee"><code>{{order.fee}}</code></td>
                                    <td data-label="Status">
                                        {% if order.payment == 'paid' %}
                                        <span class="badge badge--info">Paid</span>
                                        {% elif order.status == 'unpaid' %}
                                        <span class="badge badge--warning">Unpaid</span>
                                        {% else %}
                                        <span class="badge badge--default">Refunded</span>
                                        {% endif %}
                                    </td>
                                    <td data-label="Date" class="u-textRight@md">{{order.created_at}}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@lg -->
            <div class="l-col-6@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Visitors</h2>
                    </header>
                    <div class="c-panel__body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Vists</th>
                                    <th>Growth</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>U.S.A</td>
                                    <td>10,931</td>
                                    <td>
                                        <progress class="progress progress--info progress--sm u-m-0" value="90" max="100"></progress>
                                    </td>
                                </tr>
                                <tr>
                                    <td>U.K</td>
                                    <td>11,093</td>
                                    <td>
                                        <progress class="progress progress--info progress--sm u-m-0" value="86" max="100"></progress>
                                    </td>
                                </tr>
                                <tr>
                                    <td>China</td>
                                    <td>23,021</td>
                                    <td>
                                        <progress class="progress progress--info progress--sm u-m-0" value="50" max="100"></progress>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Canada</td>
                                    <td>3,093</td>
                                    <td>
                                        <progress class="progress progress--info progress--sm u-m-0" value="30" max="100"></progress>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gemany</td>
                                    <td>1,005</td>
                                    <td>
                                        <progress class="progress progress--info progress--sm u-m-0" value="20" max="100"></progress>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <!-- END .l-col-6@lg -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

{% block scripts %}
<script src="{{root}}../dist/components/quill/index.js"></script>
<script>
    new Vue({
        el: '#app'
    })
</script>
{% endblock %}
