{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-12 l-col-6@sm l-col-3@lg">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__left">
                                <i class="icon-stats-growth2 icon-2x u-color-warning"></i>
                            </div>
                            <!-- END .l-level__left -->
                            <div class="l-level__right">
                                <div class="l-level__item c-count u-textRight">
                                    <div class="c-count__label">Monthly Sales</div>
                                    <div class="c-count__content"><i class="icon-arrow-up5 u-color-success u-mr5"></i>371</div>
                                </div>
                            </div>
                            <!-- END .l-level__right -->
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-12 l-col-6@sm l-col-3@lg">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__left">
                                <i class="icon-users icon-2x u-color-info"></i>
                            </div>
                            <!-- END .l-level__left -->
                            <div class="l-level__right">
                                <div class="l-level__item c-count u-textRight">
                                    <div class="c-count__label">New Users</div>
                                    <div class="c-count__content"><i class="icon-arrow-up5 u-color-success u-mr5"></i>113</div>
                                </div>
                            </div>
                            <!-- END .l-level__right -->
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-12 l-col-6@sm l-col-3@lg">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__item c-count">
                                <div class="c-count__label">Followers</div>
                                <div class="c-count__content">8346</div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-12 l-col-6@sm l-col-3@lg">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__left">
                                <i class="icon-download4 icon-2x u-color-success"></i>
                            </div>
                            <!-- END .l-level__left -->
                            <div class="l-level__right">
                                <div class="l-level__item c-count u-textRight">
                                    <div class="c-count__label">Downloads</div>
                                    <div class="c-count__content"><i class="icon-arrow-up5 u-color-success u-mr5"></i>113</div>
                                </div>
                            </div>
                            <!-- END .l-level__right -->
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-3@lg -->
        </div>
        <!-- END .l-row -->
        <div class="l-row l-panelGroup">
            <div class="l-col-6@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Overview</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="l-row">
                            <div class="l-col-6 l-col-4@md l-col-3@lg">
                                <div class="c-cell c-cell--start u-mb-20">
                                    <div class="c-cell__media">
                                        <i class="icon-2x icon-newspaper u-color-orange"></i>
                                    </div>
                                    <div class="c-cell__content">
                                        <h6 class="u-mb-0">22 Aug 1993</h6>
                                        <div class="meta">It's Friday</div>
                                    </div>
                                </div>
                            </div>
                            <!-- END .l-col-3@lg -->
                            <div class="l-col-6 l-col-4@md l-col-3@lg">
                                <div class="c-cell c-cell--start u-mb-20">
                                    <div class="c-cell__media">
                                        <i class="icon-2x icon-heart u-color-red"></i>
                                    </div>
                                    <div class="c-cell__content">
                                        <h6 class="u-mb-0">In a relationship</h6>
                                        <div class="meta">30 days</div>
                                    </div>
                                </div>
                            </div>
                            <!-- END .l-col-3@lg -->
                            <div class="l-col-6 l-col-4@md l-col-3@lg">
                                <div class="c-cell c-cell--start u-mb-20">
                                    <div class="c-cell__media">
                                        <i class="icon-2x icon-star-full u-color-amber"></i>
                                    </div>
                                    <div class="c-cell__content">
                                        <h6 class="u-mb-0">Reward</h6>
                                        <div class="meta">Help people</div>
                                    </div>
                                </div>
                            </div>
                            <!-- END .l-col-3@lg -->
                            <div class="l-col-6 l-col-4@md l-col-3@lg">
                                <div class="c-cell c-cell--start u-mb-20">
                                    <div class="c-cell__media">
                                        <i class="icon-2x icon-office u-color-indigo"></i>
                                    </div>
                                    <div class="c-cell__content">
                                        <h6 class="u-mb-0">Department</h6>
                                        <div class="meta">Where I sleep</div>
                                    </div>
                                </div>
                            </div>
                            <!-- END .l-col-3@lg -->
                            <div class="l-col-6 l-col-4@md l-col-3@lg">
                                <div class="c-cell c-cell--start u-mb-20">
                                    <div class="c-cell__media">
                                        <i class="icon-2x icon-hat u-color-blue"></i>
                                    </div>
                                    <div class="c-cell__content">
                                        <h6 class="u-mb-0">Graduation</h6>
                                        <div class="meta">From Harvard</div>
                                    </div>
                                </div>
                            </div>
                            <!-- END .l-col-3@lg -->
                            <div class="l-col-6 l-col-4@md l-col-3@lg">
                                <div class="c-cell c-cell--start u-mb-20">
                                    <div class="c-cell__media">
                                        <i class="icon-2x icon-briefcase u-color-brown"></i>
                                    </div>
                                    <div class="c-cell__content">
                                        <h6 class="u-mb-0">Work</h6>
                                        <div class="meta">9am to 5pm</div>
                                    </div>
                                </div>
                            </div>
                            <!-- END .l-col-3@lg -->
                            <div class="l-col-6 l-col-4@md l-col-3@lg">
                                <div class="c-cell c-cell--start u-mb-20">
                                    <div class="c-cell__media">
                                        <i class="icon-2x icon-airplane u-color-lightBlue"></i>
                                    </div>
                                    <div class="c-cell__content">
                                        <h6 class="u-mb-0">Travel</h6>
                                        <div class="meta">Have a vacation</div>
                                    </div>
                                </div>
                            </div>
                            <!-- END .l-col-3@lg -->
                            <div class="l-col-6 l-col-4@md l-col-3@lg">
                                <div class="c-cell c-cell--start u-mb-20">
                                    <div class="c-cell__media">
                                        <i class="icon-2x icon-earth u-color-lightGreen"></i>
                                    </div>
                                    <div class="c-cell__content">
                                        <h6 class="u-mb-0">Business</h6>
                                        <div class="meta">Around the world</div>
                                    </div>
                                </div>
                            </div>
                            <!-- END .l-col-3@lg -->
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-6@lg -->
            <div class="l-col-3@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Total Revenue</h2>
                    </header>
                    <div class="c-panel__body u-flexCenter">
                        <div class="c-count u-textCenter">
                            <div class="c-count__content u-fs-48 u-color-indigo">$23,091</div>
                            <div class="c-count__label u-mt-15">Total Incomme: <i class="icon-arrow-up-right2 u-color-success"></i>10.25%</div>
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-3@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Sales status</h2>
                    </header>
                    <div class="c-panel__body u-flexCenter">
                        <div class="c-count u-textCenter">
                            <div class="c-count__content u-fs-48 u-color-danger">328</div>
                            <div class="c-count__label u-mt-15">Total sales: <i class="icon-arrow-up-right2 u-color-success"></i>200%</div>
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-3@lg -->
        </div>
        <!-- END .l-row -->
        <div class="l-row l-panelGroup">
            <div class="l-col-6@lg">
                <section class="c-panel">
                    <div class="c-panel__body u-flexCenter">
                        <div class="c-count c-count--xl u-textCenter">
                            <div class="c-count__label">Sales</div>
                            <div class="c-count__content">87,392</div>
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@lg -->
            <div class="l-col-6@lg">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__item">
                                <div class="c-count u-textCenter">
                                    <div class="c-count__label">TWEETS</div>
                                    <div class="c-count__content">2,314</div>
                                </div>
                            </div>
                            <!-- END .l-level__item -->
                            <div class="l-level__item">
                                <div class="c-count u-textCenter">
                                    <div class="c-count__label">FOLLWING</div>
                                    <div class="c-count__content">64</div>
                                </div>
                            </div>
                            <!-- END .l-level__item -->
                            <div class="l-level__item">
                                <div class="c-count u-textCenter">
                                    <div class="c-count__label">FOLLOWERS</div>
                                    <div class="c-count__content">62,086</div>
                                </div>
                            </div>
                            <!-- END .l-level__item -->
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="l-level">
                            <div class="l-level__item c-count">
                                <circle-chart :percent="60" color="#FCC100">
                                    <span>60%</span>
                                </circle-chart>
                                <div class="c-count__label">Progress</div>
                            </div>
                            <!-- END .l-level__item -->
                            <div class="l-level__item c-count">
                                <div class="c-count__content u-color-success u-flexCenter" style="height: 80px;">48</div>
                                <div class="c-count__label">Pendding</div>
                            </div>
                            <!-- END .l-level__item -->
                        </div>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@lg -->
        </div>
        <!-- END .l-row -->
        <section class="c-panel">
            <div class="c-panel__body">
                <div class="l-row is-middle">
                    <div class="l-col-2@lg l-col-3@md u-textCenter">
                        <img src="{{root}}assets/images/avatar.jpg" class="avatar avatar--lg">
                        <div class="u-fs-16 u-mt-5"><span class="u-textMuted">Hi, </span> MOYU</div>
                    </div>
                    <!-- END .l-col-2@lg -->
                    <div class="l-col-10@lg l-col-9@md">
                        <div class="l-row">
                            <div class="l-col-6@md">
                                <label>Inbox</label>
                                <div class="u-mb-10">
                                    <span class="u-fs-24 u-color-info">12</span>
                                    <span class="u-textMuted">new messages</span>
                                </div>
                                <ul class="c-nav c-nav--gap">
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">All (36)</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Unread (12)</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Latter (13)</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Marked (11)</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END .l-col-6@md -->
                            <div class="l-col-6@md">
                                <label>Task</label>
                                <div class="u-mb-10">
                                    <span class="u-fs-24 u-color-warning">8</span>
                                    <span class="u-textMuted">today</span>
                                </div>
                                <ul class="c-nav c-nav--gap">
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">All (72)</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Today (8)</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Done (64)</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END .l-col-6@md -->
                        </div>
                        <!-- END .l-row -->
                    </div>
                    <!-- END .l-col-10@lg -->
                </div>
                <!-- END .l-row -->
            </div>
        </section>
        <!-- END .c-panel -->
        <div class="l-row l-panelGroup">
            <div class="l-col-6@sm l-col-4@md l-col-2@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Total Revenue</h2>
                    </header>
                    <div class="c-panel__body u-textCenter">
                        <div class="l-level__item c-count">
                            <circle-chart :percent="60" color="#1976d2" :size="150" :line-width="3">
                                <span style="color: #1976d2;font-size: 24px">60</span>
                            </circle-chart>
                            <div class="c-count__label">Total sales made today</div>
                        </div>
                    </div>
                    <div class="c-panel__footer">
                        <div class="l-level">
                            <div class="l-level__item">
                                <div class="u-fs-16">$10000</div>
                                <div class="meta">Target</div>
                            </div>
                            <div class="l-level__item">
                                <div class="u-fs-16">$224</div>
                                <div class="meta">Last day</div>
                            </div>
                            <div class="l-level__item">
                                <div class="u-fs-16">$965</div>
                                <div class="meta">Last week</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-2@lg -->
            <div class="l-col-6@sm l-col-4@md l-col-2@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Total Revenue</h2>
                    </header>
                    <div class="c-panel__body u-textCenter">
                        <div class="c-count">
                            <circle-chart :percent="80" color="#4caf50" :size="150" :line-width="3">
                                <span style="color: #4caf50;font-size: 24px">80</span>
                            </circle-chart>
                            <div class="c-count__label">Total sales made today</div>
                        </div>
                    </div>
                    <div class="c-panel__footer">
                        <div class="l-level">
                            <div class="l-level__item">
                                <div class="u-fs-16">$10000</div>
                                <div class="meta">Target</div>
                            </div>
                            <div class="l-level__item">
                                <div class="u-fs-16">$224</div>
                                <div class="meta">Last day</div>
                            </div>
                            <div class="l-level__item">
                                <div class="u-fs-16">$965</div>
                                <div class="meta">Last week</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-2@lg -->
            <div class="l-col-6@sm l-col-4@md l-col-2@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Total Revenue</h2>
                    </header>
                    <div class="c-panel__body u-textCenter">
                        <div class="c-count">
                            <circle-chart :percent="55" color="#ff5722" :size="150" :line-width="3">
                                <span style="color: #ff5722;font-size: 24px">55</span>
                            </circle-chart>
                            <div class="c-count__label">Total sales made today</div>
                        </div>
                    </div>
                    <div class="c-panel__footer">
                        <div class="l-level">
                            <div class="l-level__item">
                                <div class="u-fs-16">$10000</div>
                                <div class="meta">Target</div>
                            </div>
                            <div class="l-level__item">
                                <div class="u-fs-16">$224</div>
                                <div class="meta">Last day</div>
                            </div>
                            <div class="l-level__item">
                                <div class="u-fs-16">$965</div>
                                <div class="meta">Last week</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-2@lg -->
            <div class="l-col-6@md l-col-3@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Clients</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="form-group">
                            <label class="form-label u-textMuted">Beijing(56)</label>
                            <progress class="progress progress--info" value="45" max="100"></progress>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label u-textMuted">Shanghai(60)</label>
                            <progress class="progress progress--danger" value="60" max="100"></progress>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label u-textMuted">Chengdu(80)</label>
                            <progress class="progress progress--warning" value="80" max="100"></progress>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label u-textMuted">Shenzhen(15)</label>
                            <progress class="progress" value="15" max="100"></progress>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label u-textMuted">Guangzhou(30)</label>
                            <progress class="progress progress--primary" value="30" max="100"></progress>
                        </div>
                        <!-- END .form-group -->
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-6@md l-col-3@lg">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">New Visitors</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="c-count">
                            <div class="c-count__content">23,892</div>
                            <progress class="progress progress--info progress--sm u-mt-10 u-mb-5" value="75" max="100"></progress>
                            <div class="c-count__label">
                                <i class="icon-arrow-up5 u-color-success"></i> 65% more than last month
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">New Orders</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="c-count">
                            <div class="c-count__content">6,991</div>
                            <progress class="progress progress--warning progress--sm u-mt-10 u-mb-5" value="50" max="100"></progress>
                            <div class="c-count__label">
                                <i class="icon-arrow-up5 u-color-success"></i> 35% more than last month
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-3@lg -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            <div class="l-col-4@md">
                <section class="c-panel">
                    <div class="c-panel__body u-p-30 u-textCenter">
                        <div class="c-message">
                            <div class="c-message__media">
                                <i class="icon-users icon-3x u-color-teal"></i>
                            </div>
                            <div class="c-message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repudiandae.
                            </div>
                            <button class="btn btn--success btn--lg btn--smart btn--rounded">Call Us</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-4@md">
                <section class="c-panel">
                    <div class="c-panel__body u-p-30 u-textCenter">
                        <div class="c-message">
                            <div class="c-message__media">
                                <i class="icon-paperplane icon-3x u-color-lime"></i>
                            </div>
                            <div class="c-message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repudiandae.
                            </div>
                            <button class="btn btn--success btn--lg btn--smart btn--rounded">Send Email</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@md -->
            <div class="l-col-4@md">
                <section class="c-panel">
                    <div class="c-panel__body u-p-30 u-textCenter">
                        <div class="c-message">
                            <div class="c-message__media">
                                <i class="icon-bubbles icon-3x u-color-blue"></i>
                            </div>
                            <div class="c-message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repudiandae.
                            </div>
                            <button class="btn btn--success btn--lg btn--smart btn--rounded">Snapchat</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-4@md -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            <div class="l-col-6@md l-col-3@lg">
                <section class="c-panel">
                    <div class="c-panel__body">
                        <div class="u-textCenter">
                            <img src="{{root}}assets/images/avatar-m-2.jpg" class="avatar avatar--xl u-mb-10">
                            <div class="u-fs-16">Emerson Medina</div>
                            <div>Freelancer, Designer, Coder</div>
                            <div class="meta u-mb-15">184 Malta Street, Neibert, West Virginia, 7480</div>
                            <div class="l-row">
                                <div class="l-col-6">
                                    <button class="btn btn--info btn--block">Edit Profile</button>
                                </div>
                                <div class="l-col-6">
                                    <button class="btn btn--default btn--block">View Profile</button>
                                </div>
                            </div>
                        </div>
                        <hr class="u-mb-10 u-mt-20">
                        <div class="l-level">
                            <div class="l-level__item">
                                <div class="u-fs-16">38</div>
                                <span class="meta">REVIEWS</span>
                            </div>
                            <div class="l-level__item">
                                <div class="u-fs-16">54</div>
                                <span class="meta">CLIENTS</span>
                            </div>
                            <div class="l-level__item">
                                <div class="u-fs-16">86</div>
                                <span class="meta">PROJECTS</span>
                            </div>
                        </div>
                        <hr class="u-mt-10 u-mb-20">
                        <ul class="c-stream">
                            <li class="c-stream__item">
                                <span class="badge badge--primary c-stream__badge"></span>
                                <time class="u-color-muted u-fontSize-12">2 minutes ago</time>
                                <p class="u-m-0">
                                    Check your internet connection
                                </p>
                            </li>
                            <!-- END .c-stream__item -->
                            <li class="c-stream__item">
                                <time class="u-color-muted u-fontSize-12">9:30</time>
                                <p class="u-m-0">
                                    Meeting with tech leader
                                </p>
                            </li>
                            <!-- END .c-stream__item -->
                        </ul>
                        <!-- END .c-stream -->
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
