{% set root = '../../' %}

{% extends "layouts/default.nunjucks" %}

{% block content %}
<header class="c-toolbar u-mb-0">
    <div class="l-level">
        <div class="l-level__left">
            <div class="c-cell">
                <div class="c-cell__media">
                    <i class="icon-store"></i>
                </div>
                <div class="c-cell__content">
                    <ol class="c-breadcrumb">
                        <li class="c-breadcrumb__item">
                            <a href="{{root}}apps/ecommerce/index.html" class="c-breadcrumb__link">Products</a>
                        </li>
                        <li class="c-breadcrumb__item">
                            Add
                        </li>
                    </ol>
                </div>
            </div>
            <!-- END .l-media -->
        </div>
        <!-- END .l-level__left -->
        <div class="l-level__right">
            <div class="l-level__item form-inline">
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <div class="form-control">
                        <select class="form-select">
                            <option value="1">Draft</option>
                            <option value="2">Pendding</option>
                            <option value="3">Publish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Publish Date:</label>
                    <div class="form-control has-iconRight">
                        <i class="icon-calendar form-iconRight"></i>
                        <date-picker :time="true" class="u-pr-20" value="2017-03-22 12:00"></date-picker>
                    </div>
                </div>
            </div>
            <div class="l-level__item">
                <a role="button" class="btn btn--success btn--smart">Save</a>
            </div>
        </div>
        <!-- END .l-level__right -->
    </div>
    <!-- END .l-level -->
</header>
<!-- END .c-toolbar -->
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <alert :closeable="true" type="success">
            Product update successful!
        </alert>
        <div class="l-row">
            <div class="l-col-12 l-col@md">
                <div class="form-group">
                    <div class="form-control">
                        <input type="text" class="form-input" placeholder="Product Title">
                        <small class="form-help">
                            Link: <a href="#" target="_blank">http://www.20theme.com/products/123</a>
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <textarea rows="2" class="form-textarea" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <quill-editor style="height: 360px;">
                        <blockquote>
                            YOU HAVE YOUR WAY. I HAVE MY WAY. AS FOR THE RIGHT WAY, THE CORRECT WAY, AND THE ONLY WAY, IT DOES NOT EXIST
                        </blockquote>
                    </quill-editor>
                </div>
                <div class="form-group">
                    <label class="form-label">Tags</label>
                    <div class="form-control">
                        <multiselect
                            v-model="tags"
                            track-by="name"
                            label="name"
                            :options="options"
                            :taggable="true"
                            :multiple="true"
                            v-on:tag="addTag"
                        ></multiselect>
                    </div>
                </div>
                <tabs active-key="meta" type="cards" class="u-mb-15">
                    <tab-pane label="Meta" name="meta">
                        <div class="c-box">
                            <header class="c-box__heading">
                                <a role="button" class="u-color-danger u-floatRight" title="Delete"><i class="icon-trash"></i></a>
                                Meta #1
                            </header>
                            <div class="c-box__body">
                                <div class="c-box__inner">
                                    <div class="form-horizontal">
                                        <div class="form-group l-row">
                                            <label class="form-label l-col-12 l-col-fixed@md u-w-220">Meta Title: </label>
                                            <div class="form-content l-col@md">
                                                <input type="text" class="form-input">
                                                <small class="form-help">max 30 chars</small>
                                            </div>
                                        </div>
                                        <!-- END .form-group -->
                                        <div class="form-group l-row">
                                            <label class="form-label l-col-12 l-col-fixed@md u-w-220">Meta Keywords: </label>
                                            <div class="form-content l-col@md">
                                                <textarea rows="2" class="form-textarea"></textarea>
                                                <small class="form-help">max 50 chars, separate by ','</small>
                                            </div>
                                        </div>
                                        <!-- END .form-group -->
                                        <div class="form-group l-row">
                                            <label class="form-label l-col-12 l-col-fixed@md u-w-220">Meta Description: </label>
                                            <div class="form-content l-col@md">
                                                <textarea rows="3" class="form-textarea"></textarea>
                                                <small class="form-help">max 200 chars</small>
                                            </div>
                                        </div>
                                        <!-- END .form-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END .c-box -->
                        <div class="u-clearfix u-textRight">
                            <button class="btn btn--default btn--smart">Add Meta</button>
                        </div>
                    </tab-pane>
                    <tab-pane label="Gallery" name="gallery">
                        <div class="l-row">
                            {% for i in range(0, 8) %}
                            <div class="l-col-6@sm l-col-4@md l-col-3@lg">
                                <article id="media-{{i}}" class="c-card c-card--ghost">
                                    <div class="c-card__shot" style="background-image: url(https://source.unsplash.com/random/300x400?{{i}})">
                                    </div>
                                    <header class="c-card__header">
                                        <div class="c-card__leading">
                                            <p class="c-card__title">Lorem ipsum dolor sit amet</p>
                                            <div class="metaList">
                                                <span class="meta">146 Likes</span>
                                                <span class="meta">332 Downloads</span>
                                            </div>
                                        </div>
                                        <div class="c-card__control">
                                            <drop>
                                                <a role="button" class="u-color-muted" slot="trigger"><i class="icon-cog"></i></a>
                                                <drop-content placement="bottom-end" slot="content">
                                                    <ul class="c-nav c-nav--menus">
                                                        <li class="c-nav__item">
                                                            <a href="#" class="c-nav__link">Edit</a>
                                                        </li>
                                                        <li class="c-nav__item">
                                                            <a href="#" class="c-nav__link">View</a>
                                                        </li>
                                                        <li class="c-nav__item">
                                                            <a href="#" class="c-nav__link">Copy Link</a>
                                                        </li>
                                                        <li class="c-nav__divider"></li>
                                                        <li class="c-nav__item">
                                                            <a href="#" class="c-nav__link u-color-danger">Delete</a>
                                                        </li>
                                                    </ul>
                                                </drop-content>
                                            </drop>
                                        </div>
                                    </header>
                                </article>
                            </div>
                            <!-- END .l-col-3@lg -->
                            {% endfor %}
                        </div>
                        <!-- END .l-row -->
                    </tab-pane>
                    <tab-pane label="Orders" name="orders">
                        <table class="table table--responsive u-mb-0 table--striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Fee</th>
                                    <th>Status</th>
                                    <th class="u-textRight@md">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                {% if (loop.index < 15) %}
                                <tr>
                                    <td data-label="Id">
                                        <a href="{{root}}apps/cms/invoice.html">{{loop.index}}</a>
                                    </td>
                                    <td data-label="User">{{users[order.user_id].name}}</td>
                                    <td data-label="Fee"><code>{{order.fee}}</code></td>
                                    <td data-label="Status">
                                        {% if order.payment == 'paid' %}
                                        <span class="badge badge--info">Paid</span>
                                        {% elif order.status == 'unpaid' %}
                                        <span class="badge badge--warning">Unpaid</span>
                                        {% else %}
                                        <span class="badge badge--default">Refunded</span>
                                        {% endif %}
                                    </td>
                                    <td data-label="Date" class="u-textRight@md">{{order.created_at}}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </tab-pane>
                    <tab-pane label="Reviews" name="reviews">
                        <ul class="c-cellList">
                            <li class="c-cell c-cell--start">
                                <div class="c-cell__media">
                                    <img src="{{root}}assets/images/avatar-m-1.jpg" class="avatar u-rounded">
                                </div>
                                <div class="c-cell__content">
                                    <div class="c-cell__header">
                                        <div class="c-cell__leading">
                                            <div class="c-cell__title">Taylor Swift</div>
                                            <time class="meta">17:14</time>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        <p>
                                            Lorem ipsum dolor sit amet
                                        </p>
                                        <p><a href="#">https://twitter.com/lorem</a></p>
                                        <blockquote>
                                            <div class="c-cell c-cell--start">
                                                <div class="c-cell__content">
                                                    <div class="c-cell__header">
                                                        <div class="c-cell__leading">
                                                            <div class="c-cell__title">John Doe</div>
                                                            <time class="meta">14:31</time>
                                                        </div>
                                                        <div class="c-cell__after"></div>
                                                    </div>
                                                    <div class="c-cell__body">
                                                        Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing
                                                        elit. Iusto, ipsam!
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                            <li class="c-cell c-cell--start">
                                <div class="c-cell__media">
                                    <img src="{{root}}assets/images/avatar-m-2.jpg" class="avatar u-rounded">
                                </div>
                                <div class="c-cell__content">
                                    <div class="c-cell__header">
                                        <div class="c-cell__leading">
                                            <div class="c-cell__title">myles</div>
                                            <time class="meta">17:30</time>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Aspernatur excepturi
                                        nesciunt inventore quibusdam, laboriosam
                                        amet.
                                    </div>
                                </div>
                            </li>
                            <li class="c-cell c-cell--start">
                                <div class="c-cell__media">
                                    <img src="{{root}}assets/images/avatar-m-4.jpg" class="avatar u-rounded">
                                </div>
                                <div class="c-cell__content">
                                    <div class="c-cell__header">
                                        <div class="c-cell__leading">
                                            <div class="c-cell__title">eric</div>
                                            <time class="meta">17:50</time>
                                        </div>
                                    </div>
                                    <div class="c-cell__body">
                                        <p>
                                            <a href="#">@mack</a>, Lorem ipsum
                                            dolor sit amet, consectetur
                                            adipisicing elit. Sapiente,
                                            quisquam, laboriosam. Et tempore ut
                                            architecto. Blanditiis eveniet
                                            dolorem praesentium doloremque.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- END .c-cellList -->
                    </tab-pane>
                </tabs>
            </div>
            <!-- END .l-col-md -->
            <aside class="l-col-12 l-col-fixed@md u-w-320">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Thumbnail</h3>
                        <div class="c-panel__controls">
                            <button class="btn btn--default btn--sm">Upload</button>
                        </div>
                    </header>
                    <div class="c-panel__body">
                        <img data-src="holder.js/300x400" class="img-fluid">
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Data Statistics</h3>
                    </header>
                    <div class="c-panel__body">
                        <div class="form-group">
                            <label class="control-label">Views</label>
                            <input type="number" class="form-input" disabled value="234823">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Likes</label>
                            <input type="number" class="form-input" disabled value="3453">
                        </div>
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </aside>
            <!-- END .l-col-md-fixed -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

{% block scripts %}
<script src="{{root}}../dist/components/quill/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            tags: [
                { name: 'Apple' },
                { name: 'Banana' },
                { name: 'Orange' },
                { name: 'Peer' },
                { name: 'Watermelon' }
            ],
            options: [
                { name: 'Apple' },
                { name: 'Banana' },
                { name: 'Orange' }
            ]
        },
        methods: {
            addTag (tag) {
                this.tags.push({name: tag})
            }
        }
    })
</script>
{% endblock %}
