{% set root = '../../' %}

{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section id="invoice" class="c-panel">
            <div class="c-panel__body">
                <div class="l-row">
                    <div class="l-col-6 u-mb-20">
                        <img src="{{root}}../dist/images/logo.svg" alt="">
                        <address class="u-mt-5 u-textMuted">
                            20Theme Inc.
                            <br>
                            www.20theme.com
                            <br>
                            (877) 0123-45678.
                        </address>
                    </div>
                    <div class="l-col-6 u-textRight">
                        <h4>INVOICE #49029</h4>
                        <ul class="list">
                            <li>Date: January 12, 2017</li>
                            <li>Due date: May 01, 2017</li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="l-row">
                    <div class="l-col-6@md u-mb-20">
                        <span class="u-textMuted">Invoice To:</span>
                        <h5>John Doe</h5>
                        <address>
                            Normand axis LTD <br>
                            3 Goodman street <br>
                            United Kingdom <br>
                            888-555-2311 <br>
                            <a href="#">john@google.com </a>
                        </address>
                    </div>
                    <div class="l-col-3@md l-col-offset-3@md">
                        <table class="table table--simple">
                            <thead>
                                <tr>
                                    <th colspan="2">Payment Details:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="u-textMuted">Total</td>
                                    <td class="u-textRight@md">$1590.00</td>
                                </tr>
                                <tr>
                                    <td class="u-textMuted">Bank name:</td>
                                    <td class="u-textRight@md">Profit Bank Europe</td>
                                </tr>
                                <tr>
                                    <td class="u-textMuted">Country:</td>
                                    <td class="u-textRight@md">United Kingdom</td>
                                </tr>
                                <tr>
                                    <td class="u-textMuted">City:</td>
                                    <td class="u-textRight@md">London E1 8BF</td>
                                </tr>
                                <tr>
                                    <td class="u-textMuted">Address:</td>
                                    <td class="u-textRight@md">3 Goodman Street</td>
                                </tr>
                                <tr>
                                    <td class="u-textMuted">IBAN:</td>
                                    <td class="u-textRight@md">KFH37784028476740</td>
                                </tr>
                                <tr>
                                    <td class="u-textMuted">SWIFT code:</td>
                                    <td class="u-textRight@md">BPT4E</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <br>
                <table class="table table--responsive table--striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Rate</th>
                            <th class="u-textCenter">Quantity</th>
                            <th class="u-textRight@md">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Description">
                                <h6 class="u-mb-0">Product Design</h6>
                                <span class="u-textMuted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, excepturi.</span>
                            </td>
                            <td data-label="Rate">$500.00</td>
                            <td data-label="Quantify" class="u-textCenter">1</td>
                            <td data-label="Total" class="u-textRight@md">$500.00</td>
                        </tr>
                        <tr>
                            <td data-label="Description">
                                <h6 class="u-mb-0">Server hardware</h6>
                                <span class="u-textMuted">Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
                            </td>
                            <td data-label="Rate">$65.00</td>
                            <td data-label="Quantify" class="u-textCenter">2</td>
                            <td data-label="Total" class="u-textRight@md">$130.00</td>
                        </tr>
                        <tr>
                            <td data-label="Description">
                                <h6 class="u-mb-0">App development.</h6>
                                <span class="u-textMuted">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>
                            </td>
                            <td data-label="Rate">$1000.00</td>
                            <td data-label="Quantify" class="u-textCenter">1</td>
                            <td data-label="Total" class="u-textRight@md">$1000.00</td>
                        </tr>
                    </tbody>
                </table>
                <div class="l-row">
                    <div class="l-col-6@md">

                    </div>
                    <div class="l-col-6@md u-textRight@md">
                        <p><span class="u-textMuted">Sub - Total amount:</span> $1565.00</p>
                        <p><span class="u-textMuted">VAT:</span> $35.00</p>
                        <p><span class="u-textMuted">Grand Total:</span> $1590.00</p>
                        <div class="u-clearfix">
                            <button class="btn btn--success">Send</button>
                            <button class="btn btn--default" onclick="print()">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
