{% set root = '../../' %}

{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <tabs active-key="general" type="cards">
            <tab-pane label="General" name="general">
                <form action="#" class="form-horizontal">
                    <div class="form-group l-row">
                        <label class="form-label l-col-12 l-col-fixed@md u-w-220">Site Title</label>
                        <div class="form-content l-col@md">
                            <input type="text" class="form-input">
                        </div>
                    </div>
                    <!-- END .form-group -->
                    <div class="form-group l-row">
                        <label class="form-label l-col-12 l-col-fixed@md u-w-220">Tagline</label>
                        <div class="form-content l-col@md">
                            <input type="text" class="form-input">
                            <p class="form-help">In a few words, explain what this site is about.</p>
                        </div>
                    </div>
                    <!-- END .form-group -->
                    <div class="form-group l-row">
                        <label class="form-label l-col-12 l-col-fixed@md u-w-220">Site Address(URL)</label>
                        <div class="form-content l-col@md">
                            <input type="url" class="form-input">
                        </div>
                    </div>
                    <!-- END .form-group -->
                    <div class="form-group l-row">
                        <label class="form-label l-col-12 l-col-fixed@md u-w-220">Email Address</label>
                        <div class="form-content l-col@md">
                            <input type="text" class="form-input">
                            <p class="form-help">This address is used for admin purposes, like new user notification</p>
                        </div>
                    </div>
                    <!-- END .form-group -->
                    <div class="form-group l-row">
                        <label class="form-label l-col-12 l-col-fixed@md u-w-220">Membership</label>
                        <div class="form-content l-col@md">
                            <label class="form-checkbox">
                              <input type="checkbox" checked>
                              <span class="form-checkbox__indicator"></span>
                              <span class="form-checkbox__text">Anyone can register</span>
                            </label>
                        </div>
                    </div>
                    <!-- END .form-group -->
                    <div class="form-group l-row">
                        <label class="form-label l-col-12 l-col-fixed@md u-w-220">New User Default Role</label>
                        <div class="form-content l-col@md">
                            <select class="form-select">
                                <option value="0">Subscriber</option>
                                <option value="1">Contributor</option>
                                <option value="2">Author</option>
                                <option value="3">Editor</option>
                                <option value="4">Administrator</option>
                            </select>
                        </div>
                    </div>
                    <!-- END .form-group -->
                    <div class="form-group l-row">
                        <label class="form-label l-col-12 l-col-fixed@md u-w-220"></label>
                        <div class="form-content l-col@md">
                            <button class="btn btn--primary btn--smart">Update</button>
                        </div>
                    </div>
                    <!-- END .form-group -->
                </form>
            </tab-pane>
            <tab-pane label="Payment" name="payment"></tab-pane>
            <tab-pane label="Email" name="email"></tab-pane>
            <tab-pane label="Extensions" name="extensions"></tab-pane>
            <tab-pane label="Misc" name="misc"></tab-pane>
        </tabs>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
