// Overwrite Point variables http://www.getpoint.io/
//------------------------------------------------------------------------------
$master-palette: (
  primary: #7872ff,
  info: $blue-500,
  success: $green-500,
  danger: $red-500,
  warning: $orange-500
) !default;

$grey-darkest:                           #161616 !default;
$grey-dark:                              #333333 !default;
$grey-base:                              #4D4C4C !default;
                                        // #676767
                                        // #80807F
                                        // #969696
                                        // #B2B2B2
                                        // #CBCACA
$grey-light:                             #888888 !default;
$grey-lighter:                           #e4e4e3 !default;
$grey-lightest:                          #f2f2f2 !default;

$color-black:                            #000 !default;
$color-white:                            #fff !default;

$divider-color:                          #e1e1e1 !default;
$border-color:                           #ddd !default;
$border-width:                           1px !default;
$border-radius-sm:                       2px !default;
$border-radius-base:                     3px !default;
$border-radius-lg:                       5px !default;

$heading-color:                         $grey-dark !default;
$text-color:                            $grey-dark !default;
$muted-color:                           $grey-light !default;

$font-size-sm:                          12px !default;
$font-size-base:                        14px !default;
$font-size-lg:                          16px !default;

$line-height-base:                      1.42857143 !default;
$line-height-computed:                  $font-size-base * $line-height-base !default; // 20px

$body-font-family:                      "Helvetica Neue", Helvetica, "Source Han Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, "Segoe UI", Roboto, Arial, sans-serif !default;
$body-bg:                               #EEEEEE !default;
$body-color:                            $text-color !default;

$form-input-border-color:               #DFE3E9;

$nav-tabs-link-border-radius-sm:        0 !default;
$nav-tabs-link-border-radius-base:      0 !default;

$modalCard-border-radius:               4px !default;

$grid-columns:                          12 !default;
$grid-gutter-width-base:                16px !default;

$grid-breakpoints: (
  xs: 0, // phone
  sm: 600px, // portrait tablet
  md: 900px, // landscape tablet
  lg: 1200px, // desktop
  xl: 1600px // desktop HD
) !default;

$container-max-widths: (
  xs: 100%,
  sm: 100%,
  md: 960px,
  lg: 1200px,
  xl: 1200px
) !default;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;

// Component variables
//------------------------------------------------------------------------------
// Sidebar
$l-sidebar-width:                       200px !default;
$l-sidebar-space-x:                     15px !default;
$l-sidebar-bg:                          #333 !default;
$l-sidebar-color:                       #969696 !default;

// Main content
$l-main-space:                          16px !default;

// Menu
$menu-font-size:                        14px !default;
$menu-item-height:                      34px !default;
$menu-item-space-x:                     15px !default;
$menu-title-size:                       12px !default;
$menu-icon-width:                       32px !default;
$menu-mini-width:                       64px !default;
$menu-divider-color:                    rgba($color-black, 0.1) !default;
$menu-hover-color:                      map-get($master-palette, 'primary') !default;
$menu-active-border-color:              map-get($master-palette, 'primary') !default;
$menu-dark-color:                       #969696 !default;
$menu-light-color:                      $color-white !default;

// Panel
$panel-padding:                         16px !default;
$panel-divider-color:                   $border-color !default;
$panel-bg:                              $color-white !default;
$panel-margin-bottom:                   $grid-gutter-width-base !default;

// Alert
$alert-padding-y:                       8px !default;
$alert-padding-x:                       16px !default;
$alert-bg:                              $color-white !default;

// Card
$card-padding:                          10px !default;
$card-bg:                               $color-white !default;
$card-margin-bottom:                    16px !default;
$card-over-color:                       $text-color !default;
$card-over-bg:                          rgba($color-white, 0.9) !default;
$card-divider-color:                    $divider-color !default;

// Cell
$cell-heading-color:                    $heading-color !default;

// Dropzone
$dropzone-border-color:                 $border-color !default;
$dropzone-bg:                           rgba($color-black,.03) !default;

// Notification
$notification-width:                    280px !default;
$notification-border-radius:            2px !default;
$notification-padding:                  10px !default;
$notification-margin-bottom:            10px !default;
$notification-bg:                       $color-white !default;
$notification-box-shadow:               0 0 2px rgba(0,0,0,0.2) !default;
$notification-title-size:               $font-size-lg !default;
$notification-title-color:              $heading-color !default;
$notification-text-color:               $muted-color !default;
$notification-text-size:                $font-size-sm !default;

// Page
$page-panel-width:                      250px !default;
$page-panel-bg:                         $color-white !default;
$page-panel-border-color:               $border-color !default;
$page-panel-inner-padding-x:            10px !default;

// Shot
$shot-text-color:                       $text-color !default;
$shot-bg:                               #fafafa !default;
$shot-over-text-color:                  $muted-color !default;
$shot-over-bg:                          rgba($color-white, 0.9) !default;

// Sign
$sign-width:                            360px !default;
$sign-padding:                          20px !default;
$sign-bg:                               $color-white !default;

// Slider
$slider-bg:                             #ECECEC !default;
$slider-dot-bg:                         rgba($color-black ,0.1) !default;
$slider-handle-bg:                      $color-white !default;
$slider-handle-border-color:            #dbdbdb !default;

// Steps
$steps-active-color:                    $color-white !default;
$steps-active-bg:                       map-get($master-palette, 'primary') !default;

// Tabs
$tabs-pane-bg:                          $color-white !default;
$tabs-pane-padding:                     16px !default;

// Toolbar
$toolbar-bg:                            $color-white !default;
$toolbar-padding:                       16px !default;
$toolbar-margin-bottom:                 16px !default;
