.btn {
  transition: all 100ms ease;
}

.btn--sharp {
  border-radius: 0;
}

.btn--square {

}

.btn--rounded {
  border-radius: 1993px;
}

.btn--fade {
  @include btn-variant(rgba(255,255,255,.8), rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  &.btn--outline {
    @include btn-variant(rgba(255,255,255,.8), rgba(0,0,0,0.2), rgba(255,255,255,0.2));
  }
}

.btn--upload {
  overflow: hidden;
  .btn__bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: rgba(0,0,0,.1);
    z-index: 1;
  }
  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 1000px;
    font-size: 100px;
    opacity: 0;
    cursor: pointer;
    z-index: 15;
  }
  &:disabled {
    pointer-events: none;
    input {
      pointer-events: none;
    }
  }
}
