.c-list--gap {
  .c-list__item,
  .c-list__link {
    padding-left: $list-item-padding-x-base;
    padding-right: $list-item-padding-x-base;
    margin-bottom: 4px;
    border: 1px solid $list-border-color;
    background-color: $list-item-bg-color;
  }
}
