{% set root = '../../' %}

{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <header class="c-toolbar">
            <div class="c-toolbar__group">
                <div class="l-level">
                    <div class="l-level__left">
                        <div class="c-cell">
                            <div class="c-cell__media">
                                <i class="icon-files-empty"></i>
                            </div>
                            <div class="c-cell__content">
                                <h1 class="c-toolbar__title">Documents</h1>
                            </div>
                        </div>
                        <!-- END .l-media -->
                    </div>
                    <!-- END .l-level__left -->
                    <div class="l-level__right">
                        <a href="{{root}}apps/documents/edit.html" class="btn btn--success btn--smart">
                            <i class="icon-plus-circle u-mr-5"></i>New Documents
                        </a>
                    </div>
                    <!-- END .l-level__right -->
                </div>
                <!-- END .l-level -->
            </div>
            <!-- END .c-toolbar__group -->
            <div class="c-toolbar__group">
                <div class="form-flex">
                    <select class="form-select u-flex-0 u-w--auto">
                        <option value="1">Getting Started</option>
                        <option value="2">Concepts</option>
                        <option value="3">Basics</option>
                        <option value="4">Security</option>
                    </select>
                    <input type="text" class="form-input" placeholder="Search the knowledge base...">
                </div>
            </div>
            <!-- END .c-toolbar__group -->
        </header>
        <!-- END .c-toolbar -->
        <div class="l-row">
            <div class="l-col-3@lg l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Getting Started</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="c-message u-p-15">
                            <div class="c-message__media">
                                <i class="icon-library icon-3x u-color-teal"></i>
                            </div>
                            <div class="c-message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repudiandae.
                            </div>
                            <button class="btn btn--info btn--outline btn--smart btn--rounded">10 Articles</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-3@lg l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Concepts</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="c-message u-p-15">
                            <div class="c-message__media">
                                <i class="icon-magic-wand icon-3x u-color-amber"></i>
                            </div>
                            <div class="c-message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repudiandae.
                            </div>
                            <button class="btn btn--info btn--outline btn--smart btn--rounded">2 Articles</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-3@lg l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Basics</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="c-message u-p-15">
                            <div class="c-message__media">
                                <i class="icon-drawer3 icon-3x u-color-brown"></i>
                            </div>
                            <div class="c-message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repudiandae.
                            </div>
                            <button class="btn btn--info btn--outline btn--smart btn--rounded">23 Articles</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-3@lg l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Security</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="c-message u-p-15">
                            <div class="c-message__media">
                                <i class="icon-lock icon-3x u-color-success"></i>
                            </div>
                            <div class="c-message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repudiandae.
                            </div>
                            <button class="btn btn--info btn--outline btn--smart btn--rounded">5 Articles</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END .l-col-3@lg -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            {% for i in range(0, 20) %}
            <div class="l-col-6@md">
                <article class="c-panel">
                    <a href="{{root}}apps/documents/article.html" class="overlay-link"></a>
                    <div class="c-panel__body">
                        <div class="c-cell c-cell--start">
                            <div class="c-cell__media u-pt-5">
                                <i class="icon-2x icon-file-text2"></i>
                            </div>
                            <div class="c-cell__content">
                                <h3 class="c-cell__title u-fs-16">Lorem ipsum dolor sit amet.</h3>
                                <div class="c-cell__body u-fs-13 u-textMuted">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quasi est voluptatum, alias nam aliquam magnam, corporis ex ratione temporibus voluptate cum perspiciatis, possimus dignissimos accusantium vel commodi facere exercitationem.
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- END .l-col-6@md -->
            {% endfor %}
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
