{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h3 class="c-panel__title">Elements</h3>
            </header>
            <!-- END .c-panel__header -->
            <div class="c-panel__body">
                <p>
                    There are six basic types of form element: <code>.form-input</code>, <code>.form-select</code>, <code>.form-checkbox</code>, <code>.form-radio</code>, <code>.form-switch</code>, <code>.form-textarea</code>
                </p>
                <div class="l-row">
                    <div class="l-col-6@md">
                        <div class="divider u-mb-15"><span>Input</span></div>
                        <div class="form-group">
                            <label class="form-label">Text</label>
                            <input type="text" class="form-input">
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <div class="form-control">
                                <input type="password" class="form-input">
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Number</label>
                            <div class="form-control">
                                <input type="number" class="form-input">
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Date</label>
                            <div class="form-control">
                                <input type="date" class="form-input">
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Input with placeholder</label>
                            <div class="form-control">
                                <input type="text" class="form-input" placeholder="Enter the magic word...">
                            </div>
                        </div>
                        <!-- END .form-group -->
                        {% markdown %}
                        ```html
                        <input type="text" class="form-input">
                        <input type="password" class="form-input">
                        <input type="number" class="form-input">
                        <input type="date" class="form-input">
                        ```
                        {% endmarkdown %}
                        <div class="divider u-mb-15"><span>Textarea</span></div>
                        <div class="form-group">
                            <label class="form-label">Textarea</label>
                            <div class="form-control">
                                <textarea class="form-textarea" rows="4"></textarea>
                            </div>
                        </div>
                        <!-- END .form-group -->
                        {% markdown %}
                        ```html
                        <textarea class="form-textarea" rows="4"></textarea>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-6@md -->
                    <div class="l-col-6@md">
                        <div class="divider u-mb-15"><span>Checkbox & Radio</span></div>
                        <div class="l-level">
                            <div class="l-level__item form-group">
                                <label class="form-label">Radio</label>
                                <div class="form-control">
                                    <label class="form-radio">
                                        <input type="radio">
                                        <span class="form-radio__indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- END .form-group -->
                            <div class="l-level__item form-group">
                                <label class="form-label">Checkbox</label>
                                <div class="form-control">
                                    <label class="form-checkbox">
                                        <input type="checkbox">
                                        <span class="form-checkbox__indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- END .form-group -->
                            <div class="l-level__item form-group">
                                <label class="form-label">Switch</label>
                                <div class="form-control">
                                    <label class="form-switch">
                                        <input type="checkbox">
                                        <span class="form-switch__indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- END .form-group -->
                        </div>
                        <!-- END .l-level -->
                        <div class="l-level">
                            <div class="l-level__item form-group">
                                <label class="form-radio">
                                    <input type="radio" name="r2">
                                    <span class="form-radio__indicator"></span>
                                    <span class="form-radio__text">Male</span>
                                </label>
                                <label class="form-radio">
                                    <input type="radio" name="r2">
                                    <span class="form-radio__indicator"></span>
                                    <span class="form-radio__text">Female</span>
                                </label>
                            </div>
                            <div class="l-level__item form-group">
                                <label class="form-checkbox">
                                    <input type="checkbox">
                                    <span class="form-checkbox__indicator"></span>
                                    <span class="form-checkbox__text">Remember Me?</span>
                                </label>
                            </div>
                        </div>
                        <!-- END .l-level -->
                        {% markdown %}
                        ```html
                        <label class="form-radio">
                            <input type="radio">
                            <span class="form-radio__indicator"></span>
                        </label>

                        <label class="form-checkbox">
                            <input type="checkbox">
                            <span class="form-checkbox__indicator"></span>
                        </label>

                        <label class="form-switch">
                            <input type="checkbox">
                            <span class="form-switch__indicator"></span>
                        </label>

                        <label class="form-radio">
                            <input type="radio" name="r2">
                            <span class="form-radio__indicator"></span>
                            <span class="form-radio__text">Male</span>
                        </label>

                        <label class="form-checkbox">
                            <input type="checkbox">
                            <span class="form-checkbox__indicator"></span>
                            <span class="form-checkbox__text">Remember Me?</span>
                        </label>
                        ```
                        {% endmarkdown %}
                        <div class="divider u-mb-15"><span>Select</span></div>
                        <div class="form-group">
                            <label class="form-label">Select</label>
                            <div class="form-control">
                                <select class="form-select">
                                    <option value="0" selected>Beijing</option>
                                    <option value="1">Washington</option>
                                    <option value="2">Tokyo</option>
                                    <option value="3">London</option>
                                    <option value="4">Paris</option>
                                </select>
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Multiple select</label>
                            <div class="form-control">
                                <select class="form-select" multiple>
                                    <option value="0">Beijing</option>
                                    <option value="1">Washington</option>
                                    <option value="2" selected>Tokyo</option>
                                    <option value="3">London</option>
                                    <option value="4">Paris</option>
                                </select>
                            </div>
                        </div>
                        <!-- END .form-group -->
                        {% markdown %}
                        ```html
                        <select class="form-select">
                          <option value="0" selected>Beijing</option>
                          <option value="1">Washington</option>
                          <option value="2">Tokyo</option>
                        </select>

                        <select class="form-select" multiple>
                          <option value="0">Beijing</option>
                          <option value="1">Washington</option>
                          <option value="2" selected>Tokyo</option>
                        </select>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .l-col-6@md -->
                </div>
                <!-- END .l-row -->
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
        <div class="l-row">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">States</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <div class="form-group">
                            <label class="form-label">Read only field</label>
                            <div class="form-control">
                                <input type="text" class="form-input" value="23423" readonly>
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Disabled field</label>
                            <div class="form-control">
                                <input type="text" class="form-input" value="you can't change me" disabled>
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <label class="form-label">Success</label>
                            <input type="text" class="form-input is-success">
                        </div>
                        <!--END .form-group-->
                        <div class="form-group">
                            <label class="form-label">Danger</label>
                            <input type="text" class="form-input is-danger">
                            <small class="form-help u-color-danger">you enter the wrong text！</small>
                        </div>
                        <!--END .form-group-->
                        <div class="form-group">
                            <label class="form-label">Warning</label>
                            <input type="text" class="form-input is-warning">
                        </div>
                        <!--END .form-group-->
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Sizes</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="l-row">
                            <div class="l-col-6@sm">
                                <div class="form-group">
                                    <label class="form-label">Small input</label>
                                    <input type="text" class="form-input form-input--sm">
                                </div>
                            </div>
                            <div class="l-col-6@sm">
                                <div class="form-group">
                                    <label class="form-label">Small select</label>
                                    <select class="form-select form-select--sm">
                                        <option value="0" selected>Beijing</option>
                                        <option value="1">Washington</option>
                                        <option value="2">Tokyo</option>
                                        <option value="3">London</option>
                                        <option value="4">Paris</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- END .l-row -->
                        <div class="l-row">
                            <div class="l-col-6@sm">
                                <div class="form-group">
                                    <label class="form-label">Default input</label>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                            <div class="l-col-6@sm">
                                <div class="form-group">
                                    <label class="form-label">Default select</label>
                                    <select class="form-select">
                                        <option value="0" selected>Beijing</option>
                                        <option value="1">Washington</option>
                                        <option value="2">Tokyo</option>
                                        <option value="3">London</option>
                                        <option value="4">Paris</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- END .l-row -->
                        <div class="l-row">
                            <div class="l-col-6@sm">
                                <div class="form-group">
                                    <label class="form-label">Large input</label>
                                    <input type="text" class="form-input form-input--lg">
                                </div>
                            </div>
                            <div class="l-col-6@sm">
                                <div class="form-group">
                                    <label class="form-label">Large select</label>
                                    <select class="form-select form-select--lg">
                                        <option value="0" selected>Beijing</option>
                                        <option value="1">Washington</option>
                                        <option value="2">Tokyo</option>
                                        <option value="3">London</option>
                                        <option value="4">Paris</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- END .l-row -->
                        {% markdown %}
                        By adding `.form-input--sm` or `.form-input--lg` to `.form-input` element and `.form-select--sm` or `.form-select--lg` to `.form-select` element to change default sizes.
                        ```html
                        <input type="text" class="form-input form-input--sm">
                        <input type="text" class="form-input">
                        <input type="text" class="form-input form-input--lg">

                        <select class="form-select form-select--sm"></select>
                        <select class="form-select"></select>
                        <select class="form-select form-select--lg"></select>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Icons</h2>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <div class="form-group">
                            <div class="form-control has-icon">
                                <i class="icon-lock form-icon"></i>
                                <input type="text" class="form-input">
                            </div>
                            <!-- END .form-control -->
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <div class="form-control has-iconRight">
                                <input type="text" class="form-input">
                                <i class="icon-checkmark form-iconRight"></i>
                            </div>
                            <!-- END .form-control -->
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <div class="form-control has-icon has-iconRight">
                                <i class="icon-lock form-icon"></i>
                                <input type="text" class="form-input">
                                <i class="icon-checkmark form-iconRight"></i>
                            </div>
                            <!-- END .form-control -->
                        </div>
                        <!-- END .form-group -->
                        {% markdown %}
                        By adding `.has-icon` or `.has-iconRight` class on `.form-control` element to indicate it has float icon.
                        ```html
                        <div class="form-control has-icon">
                          <i class="icon-lock form-icon"></i>
                          <input type="text" class="form-input">
                        </div>

                        <div class="form-control has-iconRight">
                          <input type="text" class="form-input">
                          <i class="icon-checkmark form-iconRight"></i>
                        </div>

                        <div class="form-control has-icon has-iconRight">
                          <i class="icon-lock form-icon"></i>
                          <input type="text" class="form-input">
                          <i class="icon-checkmark form-iconRight"></i>
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
            <div class="l-col-12 l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Group</h2>
                    </header>
                    <div class="c-panel__body">
                        <p>
                            In addation to basic form inputs, there are some other form elements can be grouped together.
                        </p>
                        <ul>
                            <li>
                                <code>.form-group</code>
                                <ul>
                                    <li><code>.form-label</code></li>
                                    <li>
                                        <code>.form-control</code>
                                        <ul>
                                            <li>basic form input elements</li>
                                        </ul>
                                    </li>
                                    <li><code>.form-help</code></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="form-group">
                            <label class="form-label">Label text</label>
                            <div class="form-control">
                                <input type="text" class="form-input" placeholder="form input">
                            </div>
                            <small class="form-help">Input description text...</small>
                        </div>
                        {% markdown %}
                        ```html
                        <div class="form-group">
                          <label class="form-label">Label text</label>
                          <div class="form-control">
                            <input type="text" class="form-input" placeholder="form input">
                          </div>
                          <small class="form-help">Input description text...</small>
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h3 class="c-panel__title">Flex</h3>
                    </header>
                    <!-- END .c-panel__header -->
                    <div class="c-panel__body">
                        <div class="form-group">
                            <div class="form-flex">
                                <span class="form-addon">http://example.com/users/</span>
                                <input type="text" class="form-input">
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <div class="form-flex">
                                <input type="text" class="form-input">
                                <span class="form-addon">@example.com</span>
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <div class="form-flex">
                                <span class="form-addon">$</span>
                                <input type="text" class="form-input">
                                <span class="form-addon">.0.0</span>
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <div class="form-flex">
                                <span class="form-addon">From</span>
                                <input type="text" class="form-input">
                                <span class="form-addon">To</span>
                                <input type="text" class="form-input">
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <div class="form-flex">
                              <span class="form-addon">
                                  <label class="form-checkbox u-m-0">
                                      <input type="checkbox" class="form-checkbox">
                                      <span class="form-checkbox__indicator"></span>
                                  </label>
                              </span>
                              <input type="text" class="form-input">
                            </div>
                        </div>
                        <!-- END .form-group -->
                        <div class="form-group">
                            <div class="form-flex">
                              <input type="text" class="form-input">
                              <button class="form-addon btn btn--success">Search</button>
                            </div>
                        </div>
                        <!-- END .form-group -->
                        {% markdown %}
                        ```html
                        <div class="form-flex">
                          <span class="form-addon">http://example.com/users/</span>
                          <input type="text" class="form-input">
                        </div>

                        <div class="form-flex">
                          <input type="text" class="form-input">
                          <span class="form-addon">@example.com</span>
                        </div>

                        <div class="form-flex">
                          <span class="form-addon">$</span>
                          <input type="text" class="form-input">
                          <span class="form-addon">.0.0</span>
                        </div>

                        <div class="form-flex">
                          <span class="form-addon">From</span>
                          <input type="text" class="form-input">
                          <span class="form-addon">To</span>
                          <input type="text" class="form-input">
                        </div>

                        <div class="form-flex">
                          <span class="form-addon">
                              <label class="form-checkbox u-m-0">
                                  <input type="checkbox" class="form-checkbox">
                                  <span class="form-checkbox__indicator"></span>
                              </label>
                          </span>
                          <input type="text" class="form-input">
                        </div>

                        <div class="form-flex">
                          <input type="text" class="form-input">
                          <button class="form-addon btn btn--success">Search</button>
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
