{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Vue-multiselect<small><a href="http://monterail.github.io/vue-multiselect/">http://monterail.github.io/vue-multiselect/</a></small></h2>
                    </header>
                    <div class="c-panel__body">
                        <div id="single-select" class="u-mb-15">
                            <multiselect v-model="value" :options="options"></multiselect>
                        </div>
                        <script>
                            new Vue({
                                el: '#single-select',
                                data: {
                                    value: null,
                                    options: ['publish', 'draft', 'pending', 'trash']
                                }
                            })
                        </script>
                        {% markdown %}
                        **Multiselect** is a built-in vue component just like *select2*

                        The `options` prop must be an `Array`.
                        ```html
                        <multiselect v-model="value" :options="options"></multiselect>
                        <script>
                            new Vue({
                                el: '#single-select',
                                data: {
                                    value: null,
                                    options: ['publish', 'draft', 'pending', 'trash']
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Single select (object)</h2>
                    </header>
                    <div class="c-panel__body">
                        <div id="single-select-object" class="u-mb-15">
                            <multiselect v-model="value" :options="options"></multiselect>
                        </div>
                        <script>
                            new Vue({
                                el: '#single-select-object',
                                data: {
                                    value: null,
                                    options: [
                                        { name: 'Vue.js', language: 'JavaScript' },
                                        { name: 'Rails', language: 'Ruby' },
                                        { name: 'Sinatra', language: 'Ruby' },
                                        { name: 'Laravel', language: 'PHP' },
                                        { name: 'Phoenix', language: 'Elixir' }
                                    ]
                                }
                            })
                        </script>
                        {% markdown %}
                        When working with objects, you must provide additional props: `label` and `track-by`.

                        `track-by` is used to identify the option within the
                        options list thus it’s value has to be unique. In this
                        example the `name` property is unique across all options,
                        so it can be used as `track-by` value.

                        `label` is used to display the option.
                        ```html
                        <multiselect v-model="value" :options="options"></multiselect>
                        <script>
                            new Vue({
                                el: '#single-select-object',
                                data: {
                                    value: null,
                                    options: [
                                        { name: 'Vue.js', language: 'JavaScript' },
                                        { name: 'Rails', language: 'Ruby' },
                                        { name: 'Sinatra', language: 'Ruby' },
                                        { name: 'Laravel', language: 'PHP' },
                                        { name: 'Phoenix', language: 'Elixir' }
                                    ]
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Multiple select</h2>
                    </header>
                    <div class="c-panel__body">
                        <div id="multi-select" class="u-mb-15">
                            <multiselect
                                track-by="name"
                                label="name"
                                v-model="value"
                                placeholder="Pick some"
                                :options="options"
                                :multiple="true"
                                :close-on-select="false"
                                :hide-selected="true"
                                :clear-on-select="false"
                            ></multiselect>
                        </div>
                        <script>
                            new Vue({
                                el: '#multi-select',
                                data: {
                                    value: [
                                        { name: 'Vue.js', language: 'JavaScript' }
                                    ],
                                    options: [
                                        { name: 'Vue.js', language: 'JavaScript' },
                                        { name: 'Adonis', language: 'JavaScript' },
                                        { name: 'Rails', language: 'Ruby' },
                                        { name: 'Sinatra', language: 'Ruby' },
                                        { name: 'Laravel', language: 'PHP' },
                                        { name: 'Phoenix', language: 'Elixir' }
                                    ]
                                }
                            })
                        </script>
                        {% markdown %}
                        To allow multiple selections pass the `:multiple="true"` prop.

                        ```html
                        <multiselect
                            track-by="name"
                            label="name"
                            v-model="value"
                            placeholder="Pick some"
                            :options="options"
                            :multiple="true"
                            :close-on-select="false"
                            :hide-selected="true"
                            :clear-on-select="false"
                        ></multiselect>

                        <script>
                            new Vue({
                                el: '#multi-select',
                                data: {
                                    value: [
                                        { name: 'Vue.js', language: 'JavaScript' }
                                    ],
                                    options: [
                                        { name: 'Vue.js', language: 'JavaScript' },
                                        { name: 'Adonis', language: 'JavaScript' },
                                        { name: 'Rails', language: 'Ruby' },
                                        { name: 'Sinatra', language: 'Ruby' },
                                        { name: 'Laravel', language: 'PHP' },
                                        { name: 'Phoenix', language: 'Elixir' }
                                    ]
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Tagging</h2>
                    </header>
                    <div class="c-panel__body">
                        <div id="tagging" class="u-mb-15">
                            <multiselect
                                track-by="code"
                                label="name"
                                v-model="value"
                                tag-placeholder="Add this as new tag"
                                placeholder="Search or add a tag"
                                :options="options"
                                :multiple="true"
                                :taggable="true"
                                @tag="addTag"
                            ></multiselect>
                        </div>
                        <script>
                            new Vue({
                                el: '#tagging',
                                data: {
                                    value: [
                                        { name: 'Javascript', code: 'js' }
                                    ],
                                    options: [
                                        { name: 'Vue.js', code: 'vu' },
                                        { name: 'Javascript', code: 'js' },
                                        { name: 'Monterail', code: 'pl' },
                                        { name: 'Open Source', code: 'os' }
                                    ]
                                },
                                methods: {
                                    addTag: function (newTag) {
                                        var tag = {
                                            name: newTag,
                                            code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                                        }
                                        this.options.push(tag)
                                        this.value.push(tag)
                                    }
                                }
                            })
                        </script>
                        {% markdown %}
                        To add tagging functionality to single/multiple selects, set the `:taggable` prop to `true`.
                        ```html
                        <multiselect
                            track-by="code"
                            label="name"
                            v-model="value"
                            tag-placeholder="Add this as new tag"
                            placeholder="Search or add a tag"
                            :options="options"
                            :multiple="true"
                            :taggable="true"
                            @tag="addTag"
                        ></multiselect>

                        <script>
                            new Vue({
                                el: '#tagging',
                                data: {
                                    value: [
                                        { name: 'Javascript', code: 'js' }
                                    ],
                                    options: [
                                        { name: 'Vue.js', code: 'vu' },
                                        { name: 'Javascript', code: 'js' },
                                        { name: 'Monterail', code: 'pl' },
                                        { name: 'Open Source', code: 'os' }
                                    ]
                                },
                                methods: {
                                    addTag: function (newTag) {
                                        var tag = {
                                            name: newTag,
                                            code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                                        }
                                        this.options.push(tag)
                                        this.value.push(tag)
                                    }
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Option groups</h2>
                    </header>
                    <div class="c-panel__body">
                        <div id="group" class="u-mb-15">
                            <multiselect
                                track-by="name"
                                label="name"
                                v-model="value"
                                :options="options"
                                :multiple="true"
                                group-values="libs"
                                group-label="language"
                                placeholder="Type to search"
                            ></multiselect>
                        </div>
                        <script>
                            new Vue({
                                el: '#group',
                                data: {
                                    value: [],
                                    options: [
                                        {
                                            language: 'Javascript',
                                            libs: [
                                                { name: 'Vue.js', category: 'Front-end' },
                                                { name: 'Adonis', category: 'Backend' }
                                            ]
                                        },
                                        {
                                            language: 'Ruby',
                                            libs: [
                                                { name: 'Rails', category: 'Backend' },
                                                { name: 'Sinatra', category: 'Backend' }
                                            ]
                                        },
                                        {
                                            language: 'Other',
                                            libs: [
                                                { name: 'Laravel', category: 'Backend' },
                                                { name: 'Phoenix', category: 'Backend' }
                                            ]
                                        }
                                    ]
                                }
                            })
                        </script>
                        {% markdown %}
                        The options list can also contain groups. It requires
                        passing 2 additional props: `group-label` and
                        `group-values`. `group-label` is used to locate the group
                        label. `group-values` should point to the group’s option
                        list.
                        ```html
                        <multiselect
                            track-by="name"
                            label="name"
                            v-model="value"
                            :options="options"
                            :multiple="true"
                            group-values="libs"
                            group-label="language"
                            placeholder="Type to search"
                        ></multiselect>

                        <script>
                            new Vue({
                                el: '#group',
                                data: {
                                    value: [],
                                    options: [
                                        {
                                            language: 'Javascript',
                                            libs: [
                                                { name: 'Vue.js', category: 'Front-end' },
                                                { name: 'Adonis', category: 'Backend' }
                                            ]
                                        },
                                        {
                                            language: 'Ruby',
                                            libs: [
                                                { name: 'Rails', category: 'Backend' },
                                                { name: 'Sinatra', category: 'Backend' }
                                            ]
                                        },
                                        {
                                            language: 'Other',
                                            libs: [
                                                { name: 'Laravel', category: 'Backend' },
                                                { name: 'Phoenix', category: 'Backend' }
                                            ]
                                        }
                                    ]
                                }
                            })
                        </script>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
        </div>
        <!-- END .l-row -->
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">More</h2>
            </header>
            <div class="c-panel__body">
                <p>
                    Examples above are only part of <strong>Vue-multiselect</strong>, you can checkout more examples and API on
                    <a href="http://monterail.github.io/vue-multiselect/">http://monterail.github.io/vue-multiselect/</a>
                </p>
            </div>
        </section>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

{% block scripts %}
<style>
    [v-cloak] {
        display: flex;
    }
</style>
<script>
    new Vue({
        el: 'sidebar'
    })
    new Vue({
        el: '.l-app__topbar'
    })
</script>
{% endblock %}
