{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <section class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">
                    Quil - WYSIWYG HTML Editor
                    <small><a href="https://quilljs.com">https://quilljs.com</a></small>
                </h1>
            </header>
            <!-- END .c-panel__header -->
            <div class="c-panel__body">
                <quill-editor style="height: 360px;">
                    <blockquote>
                        YOU HAVE YOUR WAY. I HAVE MY WAY. AS FOR THE RIGHT WAY, THE CORRECT WAY, AND THE ONLY WAY, IT DOES NOT EXIST
                    </blockquote>
                </quill-editor>
                <hr>
                {% markdown %}
                ```html
                <quill-editor style="height: 360px;">
                    <blockquote>
                        YOU HAVE YOUR WAY. I HAVE MY WAY. AS FOR THE RIGHT WAY, THE CORRECT WAY, AND THE ONLY WAY, IT DOES NOT EXIST
                    </blockquote>
                </quill-editor>

                <script src="dist/components/quill/index.js"></script>
                <script>
                    new Vue({
                        el: '#app'
                    })
                </script>
                ```
                {% endmarkdown %}
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">
                    API
                </h2>
            </header>
            <!-- END .c-panel__header -->
            <div class="c-panel__body">
                <table class="table table--bordered table--responsive">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Default</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Property">readonly</td>
                            <td data-label="Description">Whether to change the editor to ready-only mode</td>
                            <td data-label="Type">boolean</td>
                            <td data-label="Default">false</td>
                        </tr>
                        <tr>
                            <td data-label="Property">placeholder</td>
                            <td data-label="Description">Placeholder of editor</td>
                            <td data-label="Type">string</td>
                            <td data-label="Default">-</td>
                        </tr>
                        <tr>
                            <td data-label="Property">options</td>
                            <td data-label="Description">The Quill config <a href="https://quilljs.com/docs/configuration/">Options</a></td>
                            <td data-label="Type">object</td>
                            <td data-label="Default">{}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END .c-panel__body -->
        </section>
        <!-- END .c-panel -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

{% block scripts %}
<script src="{{root}}../dist/components/quill/index.js"></script>
<script>
    new Vue({
        el: '#app'
    })
</script>
{% endblock %}
