{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Basic</h2>
                    </header>
                    <div class="c-panel__body">
                        <slider :value="25" class="u-mb-15"></slider>
                        {% markdown %}
                        ```html
                        <slider :value="25"></slider>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Steps</h2>
                    </header>
                    <div class="c-panel__body">
                        <slider :value="25" :step="10" class="u-mb-15"></slider>
                        <slider :value="[10, 50]" :step="10" :dots="true" :range="true" class="u-mb-15"></slider>
                        {% markdown %}
                        ```html
                        <slider :value="25" :step="10"></slider>
                        <slider :value="[10, 50]" :step="10" :dots="true" :range="true"></slider>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Range</h2>
                    </header>
                    <div class="c-panel__body">
                        <slider :value="[25, 50]" :range="true" class="u-mb-15"></slider>
                        {% markdown %}
                        ```html
                        <slider :value="[25, 50]" :range="true"></slider>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">onChange</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="form-group">
                            <slider :value="price" class="u-mb-15" v-on:change="onPriceChange"></slider>
                            <input type="text" class="form-input" v-model.number="price">
                        </div>
                        {% markdown %}
                        ```html
                        <slider :value="price" v-on:change="onPriceChange"></slider>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
        </div>
        <!-- END .l-row -->
        <section class="c-panel">
            <header class="c-panel__header">
                <h2 class="c-panel__title">API</h2>
            </header>
            <div class="c-panel__body">
                <table class="table table--bordered">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Default</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>value</td>
                            <td>
                                The value of slider, when <code>range</code> is false, use <code>number</code>, otherwise, use
                                <code>[number, number]</code>
                            </td>
                            <td>
                                number | number[]
                            </td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>min</td>
                            <td>The minimum value the slider can slide from</td>
                            <td>number</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>max</td>
                            <td>The maximum value the slider can slide to</td>
                            <td>number</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>step</td>
                            <td>The granularity the slider can step through</td>
                            <td>number</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>dots</td>
                            <td>Whether to show step indicators</td>
                            <td>boolean</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>range</td>
                            <td>dual thumb mode</td>
                            <td>boolean</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>color</td>
                            <td>slider background color</td>
                            <td>string</td>
                            <td>#1BB934</td>
                        </tr>
                        <tr>
                            <td>format</td>
                            <td>
                                Slider will pass its value to <code>format</code>,
                                and display its value in hint
                            </td>
                            <td>Function|null</td>
                            <td>function (val) { return val }</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table--bordered">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Description</th>
                            <th>Arguments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>change</td>
                            <td>Callback function that is fired when the user changes the slider's value</td>
                            <td>newValue: number | number[]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}

{% block scripts %}
<script>
    new Vue({
        el: '#app',
        data: {
            price: 10
        },
        methods: {
            onPriceChange: function (newVal) {
                this.price = newVal
            }
        }
    })
</script>
{% endblock %}
