{% extends "layouts/default.nunjucks" %}

{% block content %}
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">File Input Button</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <div class="form-group">
                                <label class="form-label">Normal status</label>
                                <div class="btn btn--success btn--upload">
                                    <input type="file" name="file">
                                    <span class="btn__icon"><i class="fa fa-folder-open"></i></span>
                                    <span class="btn__text">Pick File</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Uploading status</label>
                                <button class="btn btn--success btn--upload" disabled>
                                    <input type="file" name="file">
                                    <span class="btn__bar"></span>
                                    <span class="btn__text">Uploading....</span>
                                </button>
                            </div>
                        </div>
                        <!-- END .u-mb-15 -->
                        {% markdown %}
                        ```html
                        <div class="btn btn--success btn--upload">
                            <input type="file" name="file">
                            <span class="btn__icon"><i class="fa fa-folder-open"></i></span>
                            <span class="btn__text">Pick File</span>
                        </div>

                        <button class="btn btn--success btn--upload" disabled>
                            <input type="file" name="file">
                            <span class="btn__bar"></span>
                            <span class="btn__text">Uploading....</span>
                        </button>
                        ```
                        {% endmarkdown %}
                    </div>
                </section>
                <!-- END .c-panel -->
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">Dropzone</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="u-mb-15">
                            <div class="c-dropzone u-w-320">
                                <p class="u-textMuted">Drop a photo</p>
                                <p class="u-textMuted">Or</p>
                                <span class="btn btn--outline btn--upload">
                                    Pick one
                                    <input type="file" name="file">
                                </span>
                            </div>
                            <!-- END .c-dropzone -->
                        </div>
                        <!-- END .u-mb-15 -->
                        {% markdown %}
                        ```html
                        <div class="c-dropzone u-w-320">
                            <p class="u-textMuted">Drop a photo</p>
                            <p class="u-textMuted">Or</p>
                            <span class="btn btn--outline btn--upload">
                                Pick one
                                <input type="file" name="file">
                            </span>
                        </div>
                        ```
                        {% endmarkdown %}
                    </div>
                    <!-- END .c-panel__body -->
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
            <div class="l-col-6@md">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h2 class="c-panel__title">File Input Group</h2>
                    </header>
                    <div class="c-panel__body">
                        <div class="form-group">
                            <div class="form-flex form-file">
                                <div class="form-input">
                                    50% uploading...
                                    <span class="form-file__bar"></span>
                                </div>
                                <input type="file" disabled>
                                <span class="form-addon"><i class="form-file__icon"></i></span>
                            </div>
                        </div>
                        {% markdown %}
                        ```html
                        <div class="form-flex form-file">
                            <div class="form-input">
                                50% uploading...
                                <span class="form-file__bar"></span>
                            </div>
                            <input type="file" disabled>
                            <span class="form-addon"><i class="form-file__icon"></i></span>
                        </div>
                        ```
                        {% endmarkdown %}
                        <hr>
                        <div class="form-group">
                            <input-file name="photos" :multiple="true" />
                        </div>
                        {% markdown %}
                        This is just a wrapper for file input type, so you can see the filename you pick.
                        ```html
                        <input-file name="photos" :multiple="true" />
                        ```
                        {% endmarkdown %}
                        <table class="table table--bordered table--responsive">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="Property">name</td>
                                    <td data-label="Description">Input name</td>
                                    <td data-label="Type">string</td>
                                    <td data-label="Default">-</td>
                                </tr>
                                <tr>
                                    <td data-label="Property">readonly</td>
                                    <td data-label="Description">Set input to readonly</td>
                                    <td data-label="Type">boolean</td>
                                    <td data-label="Default">-</td>
                                </tr>
                                <tr>
                                    <td data-label="Property">multiple</td>
                                    <td data-label="Description">Enable multiple files select</td>
                                    <td data-label="Type">boolean</td>
                                    <td data-label="Default">-</td>
                                </tr>
                                <tr>
                                    <td data-label="Property">inputClass</td>
                                    <td data-label="Description">The classes for input element</td>
                                    <td data-label="Type">string</td>
                                    <td data-label="Default">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <!-- END .c-panel -->
            </div>
            <!-- END .l-col-6@md -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->
{% endblock %}
