{% set root = '../../' %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "shared/head.nunjucks" %}
  {% block head %}{% endblock %}
</head>
<body>
<div id="app" class="l-app" v-cloak>
    <aside class="l-app__sidebar l-app__sidebar--fold">
        <div class="logo">
            <img src="{{root}}../dist/images/logo-white.svg">
        </div>
        <div class="l-app__sidebar__content">
            <ul class="c-menu c-menu--dark" v-menu>
                <li class="c-menu__item">
                    <a href="{{root}}apps/mailbox/index.html" class="c-menu__link">
                        <div class="c-menu__icon">
                            <i class="icon-envelop2"></i>
                        </div>
                        <div class="c-menu__text">Inbox</div>
                        <div class="c-menu__after">
                            <span class="badge badge--info">7</span>
                        </div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="{{root}}apps/mailbox/archive.html" class="c-menu__link">
                        <div class="c-menu__icon">
                            <i class="icon-paperplane"></i>
                        </div>
                        <div class="c-menu__text">Sent</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="{{root}}apps/mailbox/archive.html" class="c-menu__link">
                        <div class="c-menu__icon">
                            <i class="icon-file-empty"></i>
                        </div>
                        <div class="c-menu__text">Drafts</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="{{root}}apps/mailbox/archive.html" class="c-menu__link">
                        <div class="c-menu__icon">
                            <i class="icon-drawer3"></i>
                        </div>
                        <div class="c-menu__text">Archive</div>
                    </a>
                </li>
                <li class="c-menu__item has-sub">
                    <a role="button" class="c-menu__link">
                        <div class="c-menu__icon">
                            <i class="icon-grid"></i>
                        </div>
                        <div class="c-menu__text">More</div>
                    </a>
                    <ul class="c-menu">
                        <li class="c-menu__item">
                            <a href="{{root}}apps/mailbox/archive.html" class="c-menu__link">
                                <div class="c-menu__text">Snoozed</div>
                            </a>
                        </li>
                        <li class="c-menu__item">
                            <a href="{{root}}apps/mailbox/archive.html" class="c-menu__link">
                                <div class="c-menu__text">Spam</div>
                            </a>
                        </li>
                        <li class="c-menu__item">
                            <a href="{{root}}apps/mailbox/archive.html" class="c-menu__link">
                                <div class="c-menu__text">Trash</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="c-menu__item">
                    <a href="{{root}}" class="c-menu__link">
                        <div class="c-menu__icon">
                            <i class=" icon-backward"></i>
                        </div>
                        <div class="c-menu__text">Back</div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END .l-app__sidebar__content -->
    </aside>
    <!-- END .l-app__sidebar -->
    <div class="l-app__content">
        <header class="l-app__topbar">
            <nav class="c-navbar c-navbar--light">
                <div class="c-navbar__left">
                    <a role="button" class="c-navbar__item u-hiddenUp@md" v-toggle:sidebar>
                        <i class="i-menu i-menu--light"></i>
                    </a>
                    <a href="{{root}}apps/mailbox/send.html" class="c-navbar__item">
                        <i class="icon-quill2 u-mr-5"></i>Compose
                    </a>
                </div>
                <!-- END .c-navbar__left -->
                <div class="c-navbar__right">
                    <a class="c-navbar__item">
                        <i class="icon-bell2"></i>
                    </a>
                    <!-- END .c-nav__item -->
                    <a class="c-navbar__item">
                        <i class="icon-envelop3"></i>
                    </a>
                    <!-- END .c-nav__item -->
                    <drop class="c-navbar__item">
                        <a role="button" class="c-account" slot="trigger">
                            <div class="c-account__media">
                                <img src="{{root}}assets/images/avatar.jpg" class="avatar">
                            </div>
                            <div class="c-account__after">
                                <i class="i-caret i-caret--light"></i>
                            </div>
                        </a>
                        <drop-content placement="bottom-end" slot="content">
                            <ul class="c-nav c-nav--menus">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Profile</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Inbox</a>
                                </li>
                                <li class="c-nav__divider"></li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Log out</a>
                                </li>
                            </ul>
                        </drop-content>
                    </drop>
                </div>
            </nav>
            <!-- END .c-navbar -->
        </header>
        <!-- END .l-app__topbar -->
        <div class="l-app__body">
            <main id="main" class="l-app__main" role="main">
                <div class="c-tabs c-tabs--cards">
                    <ul class="c-nav">
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link is-active">All</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Social</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Promotion</a>
                        </li>
                    </ul>
                    <!-- END .c-tabs__nav -->
                    <div class="c-tabs__content">
                        <section class="c-tabs__pane is-active" role="tabpanel">
                            <div class="form-group">
                                <div class="form-flex">
                                    <span class="form-addon">Filter mails</span>
                                    <div class="form-control has-icon">
                                        <i class="icon-search form-icon"></i>
                                        <input type="text" class="form-input" placeholder="Typing to search...">
                                    </div>
                                </div>
                            </div>
                            <!-- END .form-group -->
                            <table class="table table--data table--hover">
                                <thead>
                                    <tr>
                                        <th class="u-hiddenDown@md">
                                            <label class="form-checkbox u-m-0">
                                                <input type="checkbox">
                                                <span class="form-checkbox__indicator"></span>
                                            </label>
                                        </th>
                                        <th>From</th>
                                        <th>Subject</th>
                                        <th class="u-textRight">Date</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th class="u-hiddenDown@md">
                                            <label class="form-checkbox u-m-0">
                                                <input type="checkbox">
                                                <span class="form-checkbox__indicator"></span>
                                            </label>
                                        </th>
                                        <th>From</th>
                                        <th>Subject</th>
                                        <th class="u-textRight">Date</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        {% for message in messages %}
                                        <tr>
                                            <th class="u-hiddenDown@md">
                                                <label class="form-checkbox u-m-0">
                                                    <input type="checkbox">
                                                    <span class="form-checkbox__indicator"></span>
                                                </label>
                                            </th>
                                            <td data-label="From">{{users[message.from].name}}</td>
                                            <td data-label="Subject">
                                                {{message.title}}
                                                <span class="u-textMuted">- {{message.body}}</span>
                                            </td>
                                            <td data-label="Date" class="u-textRight">
                                                <time class="meta">{{message.date}}</time>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                            <div class="l-level u-mt-15">
                                <div class="l-level__left">
                                    <form action="#" class="form-inline">
                                        <div class="form-group">
                                            <div class="form-flex">
                                                <select class="form-select">
                                                    <option>-- Bulk Action --</option>
                                                    <option value="publish">Mard as read</option>
                                                    <option value="delete">Delete</option>
                                                </select>
                                                <button type="button" class="form-addon btn btn--info">Apply</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="l-level__right">
                                    <nav class="c-pagination">
                                        <span class="c-pagination__item is-disabled">Previous</span>
                                        <em class="c-pagination__item is-active">1</em>
                                        <a href="#" class="c-pagination__item">2</a>
                                        <a href="#" class="c-pagination__item">3</a>
                                        <a href="#" class="c-pagination__item">4</a>
                                        <a href="#" class="c-pagination__item">5</a>
                                        <span class="c-pagination__item is-disabled">...</span>
                                        <a href="#" class="c-pagination__item">99</a>
                                        <a href="#" class="c-pagination__item">100</a>
                                        <a href="#" class="c-pagination__item">Next</a>
                                    </nav>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- END .c-tabs__content -->
                </div>
            </main>
            <!-- END .l-app__main -->
        </div>
        <!-- END .l-app__body -->
    </div>
</div>
<!-- END #app -->
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
